<table class="schedule-table single-track center-block">
  <colgroup class="time"></colgroup> 
  <colgroup class="track-1"></colgroup>
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th colspan="2" class="centered track-1 semi-bold">Sessions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">06:30 PM – 07:00 PM</th>
      <td colspan="2" class="centered">
        <h4><span class="red">Is tracking tons of data the only way to gather gather business intelligence? How can we use big data to make valuable long term business decisions? </span></h4>
        <p> Vineet Tyagi (Impetus)</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">07:00 PM – 07:30 PM</th>
      <td colspan="2" class="centered">
        <h4><span class="red">Examples and learnings from the numerous A/B testing Slideshare's data driven product team executed.</span></h4>
        <p>Arpit Dhariwal (Slideshare)</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">07:30 PM – 07:40 PM</th>
      <td colspan="2" class="centered">
        Break
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">07:40 PM – 08:10 PM</th>
      <td colspan="2" class="centered">
        <h4><span class="red">How Thoughtworks built Social media opinion mining and Text processing solution to summarize articles.</span></h4>
        <p>Pramod N (Thoughtworks)</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">08:10 PM – 08:30 PM</th>
      <td colspan="2" class="centered">
        <h4><span class="red">  Discussions and open house: This is a chance for you to share your data stories and ask speakers your questions.</span></h4>
        <p>You</p>
      </td>
    </tr>
  </tbody>
</table>
