{% for session in featured %}
  {% if loop.first %}
  <article class="push-three-top push-two-bottom highlight-links clearfix">
    <h2 class="centered calm space-two-top nospace-bottom ultrafaded">Featured {{ session_kind }}</h2>
    <ul class="featured-sessions poster-with-bio legible clearfix nospace">
  {% endif %}
    <li class="clearfix">
      <h3 class="featured-session-topic calm large space-two-top">{{ session.title }}</h3>
      <p class="featured-session-description">{{ session.description|safe }}</p>
      {% if session.speaker %}
      <div class="poster clearfix">
        <p class="contain-width clearfix"><img alt="" src="{{ theme_static(session.speaker.photo) }}" width="150" height="150"></p>
        <hgroup class="clearboth">
          <h3 class="regular">{{ session.speaker.name }}</h3>
          <h4 class="all-caps secondary">{{ session.speaker.company }}</h4>
        </hgroup>
      </div>
      <div class="bio serif-type italic">
        <p>{{ session.speaker.bio|safe }}</p>
      </div>
      {% endif %}
    </li>
  {% if loop.last %}
    </ul>
  </article>
  {% endif %}
{% endfor %}
