  <ul class="featured-sessions poster-with-bio prose regular clearfix nospace-top space-one-bottom">
    {% for session in sessions %}
      <li class="two-column clearfix">
        <div class="poster clearfix">
          <p class="contain-width image clearfix {% if session.photo|length > 1 %}double-width{% endif %}">
          {% for img in session.photo %}
            <img alt="{{session.name}}" src="{{img}}" {% if session.photo|length > 1 %}class="half-width"{% endif %}>
          {% endfor %}
          <hgroup class="contain-width clearboth">
            <h3 class="push-half-bottom regular">{{session.name}}</h3>
            <h4 class="secondary designation">{{ session.designation }}</h4>
          </hgroup>
          </p>
        </div>
        <div class="bio">
          {% if session.title %}<h4 class="regular title">{{ session.title }}</h4>{% endif %}
          {{ session.blurb|safe }}
          {% if session.funnel %}<h3 class="regular title-width"><a href="{{ session.funnel }}" class="spooky" target="_blank">Read more</a></h3>{% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
