<table class="schedule-table single-track center-block">
  <colgroup class="time"></colgroup> 
  <colgroup class="track-1"></colgroup>
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th colspan="2" class="centered track-1 semi-bold">Sessions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">05:30 PM – 05:45 PM</th>
      <td colspan="2" class="centered">
        <h4><span class="red">Introductions and Welcome note</span></h4>
        <p>Jishnu Bhattacharjee, MD, Nexus Venture Partners</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">05:45 PM – 06:45 PM</th>
      <td colspan="2" class="centered">
        <h4><span class="red">Panel Discussion</span></h4>
        <p><span class="semi-bold">Panel Moderator</span>:&nbsp;&nbsp;Sandeep Phanasgaonkar, former CIO</p>
        <p><span class="semi-bold">Panelists from Nexus portfolio companies</span>:&nbsp;&nbsp;<br />Srivibhavan Balaram (Founder &amp; COO) from Cloudbyte,<br />Vidyaranya Maddi (Senior Director Service Delivery) from  Aryaka,<br />Ash Ahuja (Head of Sales for ASPaC) from Druva</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">06:45 PM – 07:00 PM</th>
      <td colspan="2" class="centered">
        <span class="red">Q &amp; A</span>
      </td>
    </tr>
  </tbody>
</table>
