<li class="proposal space-two clearfix">
  <h5 class="regular space-1q capitalize calm">
    <a target="_blank" href="{{ proposal['url'] }}" title="{{ proposal['title'] }} — {{ proposal['proposer'] }}">
    {{ proposal['title'] }}
    </a>
  </h5>
  <p class="by regular space-1q capitalize sixty">{{ proposal['proposer'] }}</p>
  <p class="meta secondary space-1q right-aligned forty bold ultrafaded">
    <span class="comments">{{ proposal['comments'] }}</span>
    <span class="votes">{{ proposal['votes'] }}</span>
  </p>
</li>
