<li class="proposal nospace clearfix">
  <a target="_blank" href="{{ proposal['url'] }}" title="{{ proposal['title'] }} — {{ proposal['proposer'] }}" class="occupy block-link clearfix pad-one push-line">
    <h5 class="regular space-1q capitalize calm red">{{ proposal['title'] }}</h5>
    <p class="by space-1q sixty faded">{{ proposal['proposer'] }}</p>
    <p class="meta secondary space-1q right-aligned forty bold ultrafaded">
      <span class="comments">{{ proposal['comments'] }}</span>
      <span class="votes">{{ proposal['votes'] }}</span>
    </p>
  </a>
</li>
