<table class="schedule-table">
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th colspan="2" class="track-1 semi-bold">Sessions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">10:30 AM - 10:45 AM</th>
      <td colspan="2" class="centered">
        Registrations and Check-in
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">10:45 AM - 11:00 AM</th>
      <td colspan="2" class="centered">
        Introduction
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">11:00 AM - 11:45 AM</th>
      <td colspan="2" class="centered">
        <h4><span class="semi-bold">Talk</span>:&nbsp;&nbsp;<span class="red">Real-time Analytics on a High Performance Database Platform</span></h4>
        <p>Dr. Srini V. Srinivasan</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">11:45 AM - 12:30 PM</th>
      <td colspan="2" class="centered">
        <h4><span class="semi-bold">Talk</span>:&nbsp;&nbsp;<span class="red">Hyperion: The Flipkart way</span></h4>
        <p>Santanu Sinha</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">12:30 PM - 01:00PM</th>
      <td colspan="2" class="centered">
        Collaborative Q&amp;A session
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">01:00 PM - 02:00PM</th>
      <td colspan="2" class="centered">
        Lunch and Networking - sponsored by <a href="http://apigee.com/about/">Apigee</a>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">02:00 PM – 04:00 PM</th>
      <td colspan="2" class="centered">
        <h4><span class="semi-bold">Workshop</span>:&nbsp;&nbsp;<span class="red">Introduction To Real-Time Analytics On Aerospike</span></h4>
        <p>Sunil Sayyaparaju</p>
      </td>
    </tr>
  </tbody>
</table>
