<table class="schedule-table">
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th colspan="2" class="track-1 semi-bold">Sessions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">06:00 PM - 06:15 PM</th>
      <td colspan="2" class="centered">
        Introductions - HasGeek, CIS, The Fifth Elephant
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">06:15 PM - 06:45 PM</th>
      <td colspan="2" class="centered">
        <h4><span class="semi-bold red">Campaigning in the pre-Internet and Internet Era</span></h4>
        <p>Vijay Grover</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">06:45 PM - 07:15 PM</th>
      <td colspan="2" class="centered">
        <h4><span class="semi-bold red">Technology-driven campaigning</span></h4>
        <p>Viral Shah</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">07:15 PM - 07:45 PM</th>
      <td colspan="2" class="centered">
        <h4><span class="semi-bold red">Tools used for powering campaigns and attracting volunteers</span></h4>
        <p>BG Mahesh</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">07:45 PM - 08:15 PM</th>
      <td colspan="2" class="centered">
        Q&amp;A session
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">08:15 PM - 08:30 PM</th>
      <td colspan="2" class="centered">
        Snacks
      </td>
    </tr>
  </tbody>
</table>
