<h3 class="centered calm space-two">Friday, July 25, 2014</h2>
<table class="schedule-table">
  <colgroup class="time"></colgroup>
  <colgroup class="track-1"></colgroup>
  <colgroup class="track-2"></colgroup>
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th class="track-1 semi-bold">Auditorium&nbsp;1</th>
      <th class="track-2 semi-bold">Auditorium&nbsp;2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">08:30 – 09:15</th>
      <td colspan="2" class="centered">Check-in and breakfast</td>
    </tr>
    <tr>
      <th class="time" scope="row">09:15 – 09:30</th>
      <td colspan="1" class="centered">Introduction to HasGeek and The Fifth Elephant</td>
      <td class="track-2"></td>
    </tr>
    <tr>
      <th class="time" scope="row">09:30 – 10:15</th>
      <td class="track-1">
        <h4><a>Overview talk on Analytics in Retail</a></h4>
        <p>Target India</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1148-how-to-build-a-data-stack-from-scratch">How to build a Data Stack from scratch</a></h4>
        <p>Vinayak Hegde, Helpshift</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">10:15 – 11:00</th>
      <td class="track-1">
        <h4><a>Aerospike fireside chat</a></h4>
        <p>Sponsored session</p>
      </td>
      <td class="track-2"></td>
    </tr>
    <tr>
      <th class="time" scope="row">11:00 – 11:30</th>
      <td colspan="2" class="stretch centered">Tea break</td>
    </tr>
    <tr>
      <th class="time" scope="row">11:30 – 12:15</th>
      <td class="track-1">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1118-know-your-customer--advanced-data-science-for-audi">'Know Your Customer!' - Advanced Data Science for Audience Segmentation</a></h4>
        <p>Prabhakar Srinivasan, Cisco</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1180-data-sciences-is-in-fashion-myntra">Data sciences (is) in fashion @ Myntra</a></h4>
        <p>Divya Alok, Devashish &amp; Debdoot, Myntra</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">12:15 – 01:00</th>
      <td class="track-1">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1056-serving-user-intent-facebook-style-notifications-u">Serving user intent : Facebook style notifications using HBase and Event streams</a></h4>
        <p>Regunath Balasubramanian, Flipkart</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1152-live-analytical-dashboards-at-scale-sql-style">Live analytical dashboards at scale - SQL style</a></h4>
        <p>Shashwat Agarwal, Flipkart</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">01:00 – 02:00</th>
      <td colspan="2" class="stretch centered">Lunch</td>
    </tr>
    <tr>
      <th class="time" scope="row">02:00 – 02:45</th>
      <td class="track-1">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1181-lessons-from-elasticsearch-in-production">Lessons from Elasticsearch in production</a></h4>
        <p>Swaroop, Helpshift</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1196-scaling-solrcloud-to-a-large-number-of-collections">Scaling SolrCloud to a large number of collections</a></h4>
        <p>Shalin Mangar, Lucene/Solr</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">02:45 – 03:05</th>
      <td class="track-1">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1189-de-dup-on-hadoop">De-dup on Hadoop</a></h4>
        <p>Neeta Pande, Intuit</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1175-using-cascalog-and-clojure-to-make-the-elephant-mo">Using Cascalog and Clojure to make the elephant move!</a></h4>
        <p>Harshad Saykhedkar, Sokrati</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">03:05 – 03:25</th>
      <td class="track-1">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1190-dr-hadoop-diagnose-your-hadoop-jobs">Dr. Hadoop – Diagnose your Hadoop Jobs</a></h4>
        <p>Chandraprakash Bhagtani, Inmobi</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1182-the-state-of-julia-a-fast-language-for-technical-c">The state of Julia - a fast language for technical computing</a></h4>
        <p>Viral B. Shah, Co-creator of Julia language</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">03:25 – 03:45</th>
      <td class="track-1">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1134-learnings-from-doing-analytics-on-linked-data">Learnings from doing analytics on linked-data</a></h4>
        <p>Inder Singh, Inmobi</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1198-using-data-for-art">Using Data for Art</a></h4>
        <p>Rasagy Sharma, Microsoft IDC</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">03:00 – 03:45</th>
      <td class="track-1">
        <h4><a href="#">Crafting Visual Stories with Data</a></h4>
        <p>Amit Kapoor, guest faculty at IIMB</p>
      </td>
      <td class="track-2">
        <h4><a href="#">Lessons from Elasticsearch in production</a></h4>
        <p>Swaroop, Helpshift</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">03:45 – 04:15</th>
      <td colspan="2" class="stretch centered">Tea break</td>
    </tr>
    <tr>
      <th class="time" scope="row">04:15 – 05:00</th>
      <td class="track-1">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1098-crafting-visual-stories-with-data">Crafting Visual Stories with Data</a></h4>
        <p>Amit Kapoor</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1177-analytics-on-large-scale-unstructured-dynamic-data">Analytics on Large Scale, Unstructured, Dynamic Data using Lambda Architecture</a></h4>
        <p>Rajesh Muppalla</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">05:00 – 05:45</th>
      <td class="track-1">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1146-scaling-real-time-visualisations-for-elections-201">Scaling real time visualisations for Elections 2014</a></h4>
        <p>Anand S</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1122-why-we-built-the-most-adopted-polyglot-object-mapp">How we developed the most adopted Polyglot Object Mapper for NoSQL?</a></h4>
        <p>Vivek Shrivastava</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">05:45 – 06:30</th>
      <td class="track-1">
        <h4><a href="">High-tea</a></h4>
        <p>sponsored by Flipkart</p>
      </td>
      <td class="track-2"></td>
    </tr>
    <tr>
      <th class="time" scope="row">06:30 – 08:00</th>
      <td class="track-1">
        <h4><a href="">Panel Discussion: Real-time analytics – technologies of today, for tomorrow</a></h4>
        <p>Powered by HasGeek &amp; Nexus</p>
      </td>
      <td class="track-2"></td>
    </tr>
  </tbody>
</table>


<h3 class="centered calm space-two">Saturday, July 26, 2014</h2>
<table class="schedule-table">
  <colgroup class="time"></colgroup>
  <colgroup class="track-1"></colgroup>
  <colgroup class="track-2"></colgroup>
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th class="track-1 semi-bold">Auditorium&nbsp;1</th>
      <th class="track-2 semi-bold">Auditorium&nbsp;2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">08:30 – 09:15</th>
      <td colspan="2" class="centered">Check-in and breakfast</td>
    </tr>
    <tr>
      <th class="time" scope="row">09:15 – 09:30</th>
      <td colspan="1" class="centered">Summary of day 1 &amp; introduction to day 2</td>
      <td class="track-2"></td>
    </tr>
    <tr>
      <th class="time" scope="row">09:30 – 10:15</th>
      <td class="track-1">
        <h4><a>Keynote</a></h4>
        <p>Anu Acharya</p>
      </td>
      <td class="track-2"></td>
    </tr>
    <tr>
      <th class="time" scope="row">10:15 – 11:00</th>
      <td class="track-1">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1135-unified-analytics-platform-for-bigdata">Unified analytics platform for Bigdata</a></h4>
        <p>Amareshwari Sriramadasu, Inmobi</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1151-apache-tez-accelerating-hadoop-data-pipelines">Apache Tez: Accelerating Hadoop Data Pipelines</a></h4>
        <p>Gopal Vijayaraghavan, Hortonworks</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">11:00 – 11:30</th>
      <td colspan="2" class="stretch centered">Tea break</td>
    </tr>
    <tr>
      <th class="time" scope="row">11:30 – 01:00</th>
      <td rowspan="2" class="track-1">
        <h4><a href="">CIO Panel Discussion</a></h4>
        <p>Powered by HasGeek &amp; Nexus</p>
      </td>
      <td class="track-2"></td>
    </tr>
    <tr>
    <tr>
      <th class="time" scope="row">01:00 – 02:00</th>
      <td colspan="2" class="stretch centered">Lunch</td>
    </tr>
    <tr>
      <th class="time" scope="row">02:00 – 02:45</th>
      <td class="track-1">
        <h4><a>Talk</a></h4>
        <p>Amex Labs</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1068-circuitscape-a-case-study-on-scientific-computing">Circuitscape - A Case Study on Scientific Computing</a></h4>
        <p>Viral B. Shah, Circuitscape</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">02:45 – 03:30</th>
      <td class="track-1">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1132-realizing-large-scale-distributed-deep-learning-ne">Realizing Large-scale Distributed Deep Learning Networks over GraphLab</a></h4>
        <p>Dr. Vijay Srinivas A, Big Data Labs</p>
      </td>
      <td class="track-2"></td>
    </tr>
    <tr>
      <th class="time" scope="row">03:30 – 04:00</th>
      <td colspan="2" class="stretch centered">Tea break</td>
    </tr>
    <tr>
      <th class="time" scope="row">04:00 – 04:45</th>
      <td class="track-1">
        <h4><a>TBA</a></h4>
        <p>To be announced</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1165-scaling-spatial-data-openstreetmap-as-infrastructu">Scaling Spatial Data - OpenStreetMap as Infrastructure</a></h4>
        <p>Sajjad Anwar</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">04:45 – 05:30</th>
      <td class="track-1">
        <h4><a>TBA</a></h4>
        <p>To be announced</p>
      </td>
      <td class="track-2"></td>
    </tr>
    <tr>
      <th class="time" scope="row">05:30 – 06:15</th>
      <td class="track-1">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1166-the-art-of-data-mining-practical-learnings-from-re">The ART of Data Mining - Practical Learnings from Real-world Data Mining applications</a></h4>
        <p>Shailesh Kumar</p>
      </td>
      <td class="track-2"></td>
    </tr>
    <tr>
      <th class="time" scope="row">06:15 – 06:30</th>
      <td colspan="2" class="stretch centered">Feedback &amp; Closing</td>
    </tr>
  </tbody>
</table>
