<h3 class="centered calm space-two">Wednesday, July 23, 2014</h2>
<table class="schedule-table">
  <colgroup class="time"></colgroup>
  <colgroup class="centered"></colgroup>
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th class="track-1 semi-bold">Day&nbsp;1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">09:30 – 10:00</th>
      <td class="centered">Check-in</td>
    </tr>
    <tr>
      <th class="time" scope="row">10:00 – 01:00</th>
      <td class="centered">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1183-real-world-machine-learning">Real world machine learning</a></h4>
        <p>Harshad Saykhedkar, Sokrati</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">01:00 – 02:00</th>
      <td class="stretch centered">Lunch</td>
    </tr>
    <tr>
      <th class="time" scope="row">02:00 – 05:00</th>
      <td class="centered">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1158-machine-learning-using-r-crash-course-in-classific">Machine Learning using R : Crash course in Classification Methods</a></h4>
        <p>Bargava Subramanian, Cisco</p>
      </td>
    </tr>
  </tbody>
</table>

<h3 class="centered calm space-two-bottom space-three-top">Thursday, July 24, 2014</h2>
<table class="schedule-table">
  <colgroup class="time"></colgroup>
  <colgroup class="centered"></colgroup>
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th class="track-1 semi-bold">Day&nbsp;1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">09:45 – 10:00</th>
      <td class="centered">Check-in</td>
    </tr>
    <tr>
      <th class="time" scope="row">10:00 – 01:00</th>
      <td class="centered">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1125-building-distributed-search-applications-using-apa">Building distributed search applications using Apache SOLR</a></h4>
        <p>Saumitra Srivastav, Glassbeam</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">01:00 – 02:00</th>
      <td class="stretch centered">Lunch</td>
    </tr>
    <tr>
      <th class="time" scope="row">02:00 – 05:00</th>
      <td class="centered">
        <h4><a href="https://funnel.hasgeek.com/fifthel2014/1208-getting-your-hands-dirty-with-aerospike">Getting your hands dirty with Aerospike</a></h4>
        <p>Sunil Sayyaparaju</p>
        <p>Sponsored workshop</p>
      </td>
    </tr>
  </tbody>
</table>