<h3 class="centered calm space-two">Friday, July 12, 2013</h2>
<table class="schedule-table">
  <colgroup class="time"></colgroup> 
  <colgroup class="track-1"></colgroup>
  <colgroup class="track-2"></colgroup>
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th class="track-1 semi-bold">Auditorium&nbsp;1 <span class="track-name">(Storage: Technology)</span></th>
      <th class="track-2 semi-bold">Auditorium&nbsp;2 <span class="track-name">(Storage: Decision Support)</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">09:00 – 10:00</th>
      <td colspan="2" class="centered">Registrations and breakfast</td>
    </tr>
    <tr>
      <th class="time" scope="row">10:00 – 10:15</th>
      <td colspan="2" class="centered">Introduction to HasGeek and The Fifth Elephant</td>
    </tr>
    <tr>
      <th class="time" scope="row">10:15 – 11:00</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/762-agility-and-innovation-vs-it-how-new-data-platforms-can-overcome-this-neverending-struggle">Keynote: Agility and Innovation vs IT: how new data platforms can overcome this never-ending struggle <em>(sponsored)</em></a></h4>
        <p>Edouard Servan-Schreiber, 10gen</p>
      </td>
      <td class="track-2"></td>
    </tr>
    <tr>
      <th class="time" scope="row">11:00 – 11:30</th>
      <td colspan="2" class="stretch centered">Tea break</td>
    </tr>
    <tr>
      <th class="time" scope="row">11:30 – 12:15</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/680-cloud-based-low-cost-low-maintenance-scalable-data-platform">Cloud based low cost, low maintenance, scalable data platform</a></h4>
        <p>Apoorva Gaurav, Myntra</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/667-it-takes-two-to-tango-is-sql-on-hadoop-the-next-big-step">It takes two to tango! - Is SQL-on-Hadoop the next big step?</a></h4>
        <p>Srihari Srinivasan, ThoughtWorks</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">12:15 – 01:00</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/669-analyzing-terabytes-of-data-with-google-bigquery">Analyzing Terabytes of Data with Google BigQuery</a></h4>
        <p>Chandramouli Mahadevan, Google</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/691-evaluating-ssd-performance-for-databases-handling-real-time-big-data">Evaluating SSD Performance for Databases Handling Real-Time Big Data</a></h4>
        <p>Brian Bulkowski, Aerospike</p>
      </td>
    <tr>
      <th class="time" scope="row">01:00 – 02:00</th>
      <td colspan="2" class="stretch centered">Lunch</td>
    </tr>
    <tr>
      <th class="time" scope="row">02:00 – 02:45</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/661-latency-and-fault-tolerance-in-oltp-1-5-billion-day-service-calls">Latency and Fault tolerance in OLTP @1.5 billion/day service calls</a></h4>
        <p><a href="http://hasgeek.tv/fifthelephant/2013-previews/566-latency-and-fault-tolerance-in-oltp-1-5-billion-day-service-calls">Regunath Balasubramanian,</a> Flipkart</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/763-strategic-advantages-of-mongodb">Strategic advantages of MongoDB <em>(sponsored)</em></a></h4>
        <p>Edouard Servan-Schreiber, 10gen</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">02:45 – 03:30</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/711-solrcloud-and-nosql">SolrCloud and NoSQL</a></h4>
        <p>Anshum Gupta, LucidWorks</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/682-neo4j-graphs-what-when-how">Neo4j Graphs: What, When, How</a></h4>
        <p><a href="http://hasgeek.tv/fifthelephant/2013-previews/583-preview-video-neo4j-workshop-and-talk-on-graph-databases">Andreas Kollegger,</a> Neo Technology</p>
      </td>
    <tr>
      <th class="time" scope="row">03:30 – 04:00</th>
      <td colspan="2" class="stretch centered">Tea break</td>
    </tr>
    <tr>
      <th class="time" scope="row">04:00 – 04:45</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/677-workflow-schedulers-the-heart-beat-of-a-big-data-stack">Workflow Schedulers: The Heart Beat of a Big Data Stack</a></h4>
        <p>Rajat Venkatesh, Qubole</p>
      </td>
      <td class="track-2">
        <h4>Flash Talks</h4>
        <p>Participants</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">04:45 - 05:30</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/700-what-happens-when-firefox-crashes">Closing Keynote: What Happens When Firefox Crashes?</a></h4>
        <p><a href="http://hasgeek.tv/fifthelephant/2013-previews/582-what-happens-when-firefox-crashes">Erik Rose,</a> Mozilla</p>
      </td>
      <td class="track-2"></td>
    </tr>
    <tr>
      <th class="time" scope="row">07:00 – 11:00</th>
      <td colspan="2" class="centered"><a href="/2013/venue#party">Party at Bak Bak Bar</a> <em>co-sponsored by Active Sphere</em></td>
    </tr>
  </tbody>
</table>

<h3 class="centered calm space-two">Saturday, July 13, 2013</h2>
<table class="schedule-table">
  <colgroup class="time"></colgroup> 
  <colgroup class="track-1"></colgroup>
  <colgroup class="track-2"></colgroup>
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th class="track-1 semi-bold">Auditorium&nbsp;1 <span class="track-name">(Analytics: Technology)</span></th>
      <th class="track-2 semi-bold">Auditorium&nbsp;2 <span class="track-name">(Analytics: Metrics and Tools)</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">09:00 – 10:00</th>
      <td colspan="2" class="centered">Registrations and breakfast</td>
    </tr>
    <tr>
      <th class="time" scope="row">10:00 – 10:15</th>
      <td colspan="2" class="centered">Summary of day 1 and introduction to day 2</td>
    </tr>
    <tr>
      <th class="time" scope="row">10:15 – 11:00</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/650-extracting-consumer-trends-in-real-time-using-100-billion-tweets">Extracting consumer trends in real time using 100 billion tweets</a></h4>
        <p><a href="http://hasgeek.tv/fifthelephant/2013-previews/565-extracting-consumer-trends-in-real-time-using-100-billion-tweets">Pankaj Risbood,</a> WalmartLabs</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/741-15-billion-value-at-risk-computations-in-187-milliseconds">15 Billion value at risk computations in 187 milliseconds</a></h4>
        <p>Abinasha Karana, Bizosys Technologies</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">11:00 – 11:30</th>
      <td colspan="2" class="stretch centered">Tea break</td>
    </tr>
    <tr>
      <th class="time" scope="row">11:30 – 12:15</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/698-building-large-scale-analytics-platform">Building large scale Analytics Platform</a></h4>
        <p>Prabhu Prakash Ganesh, MEDIA iQ Digital</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/673-mapreduce-and-the-art-of-thinking-parallel">MapReduce and the 'Art of Thinking Parallel'</a></h4>
        <p>Shailesh Kumar, Google</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">12:15 – 01:00</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/707-analytics-using-hadoop-ecosystem-on-aws">Analytics using Hadoop ecosystem on AWS <em>(sponsored)</em></a></h4>
        <p>Rajat Venkatesh, Qubole</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/683-uncovering-patterns-and-forecasting-with-time-series-data">Uncovering patterns and forecasting with time series data</a></h4>
        <p>Pranav Modi</p>
      </td>
    <tr>
      <th class="time" scope="row">01:00 – 02:00</th>
      <td colspan="2" class="stretch centered">Lunch</td>
    </tr>
    <tr>
      <th class="time" scope="row">02:00 – 02:45</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/686-visualising-networks">Visualising networks</a></h4>
        <p>Anand S, Gramener</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/651-unlocking-the-potential-of-data-for-everyday-developers-and-product-managers">Unlocking the Potential of Data for Everyday Developers and Product Managers</a></h4>
        <p>Karthik Kastury, PayPal India (eBay Inc.)</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">02:45 – 03:30</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/685-interactive-analysis-of-data-live-using-pandas-matplotlib-and-ipython">Interactive analysis of data live, using Pandas, Matplotlib and IPython</a></h4>
        <p><a href="http://hasgeek.tv/fifthelephant/2013-previews/570-interactive-analysis-of-data-live-using-pandas-matplotlib-and-ipython">Lakshman Prasad</a></p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/655-julia-a-fresh-approach-to-technical-computing-and-data-science">Julia: A fresh approach to technical computing and data science</a></h4>
        <p><a href="http://hasgeek.tv/fifthelephant/2013-previews/584-julia-a-fresh-approach-to-technical-computing-and-data-science">Viral Shah,</a> JuliaLang</p>
      </td>
    <tr>
      <th class="time" scope="row">03:30 – 04:00</th>
      <td colspan="2" class="stretch centered">Tea break</td>
    </tr>
    <tr>
      <th class="time" scope="row">04:00 – 04:45</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/701-a-billion-snapshots-principles-and-processes-in-the-census-of-india">A Billion Snapshots- Principles and Processes in the Census of India</a></h4>
        <p>Varsha Joshi, Census Delhi, Registrar General of India</p>
      </td>
      <td class="track-2">
        <h4>Product Demos</h4>
        <p>To be announced</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">04:45 - 05:30</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/694-smart-analytics-in-smartphones">Smart Analytics in Smartphones</a></h4>
        <p>Satnam Singh, Samsung Research</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/664-co-occurrence-analytics-a-versatile-framework-for-finding-interesting-needles-in-crazy-haystacks">Co-occurrence Analytics: A versatile framework for finding interesting needles in crazy haystacks!</a></h4>
        <p>Shailesh Kumar, Google</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">05:30 – 06:15</th>
      <td colspan="2" class="centered">Feedback and Closing</td>
    </tr>
  </tbody>
</table>