<h3 class="centered calm space-two">Friday, July 12, 2013</h2>
<table class="schedule-table tracks3">
  <colgroup class="time"></colgroup>
  <colgroup class="track-1"></colgroup>
  <colgroup class="track-2"></colgroup>
  <colgroup class="track-3"></colgroup>
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th class="track-1 semi-bold">Auditorium&nbsp;1</th>
      <th class="track-2 semi-bold">Auditorium&nbsp;2</th>
      <th class="track-3 semi-bold">Auditorium&nbsp;3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">08:30 – 09:15</th>
      <td colspan="3" class="centered">Check-in and breakfast</td>
    </tr>
    <tr>
      <th class="time" scope="row">09:15 – 09:30</th>
      <td colspan="1" class="centered">Introduction to HasGeek and The Fifth Elephant</td>
      <td class="track-2"></td>
      <td class="track-3"></td>
    </tr>
    <tr>
      <th class="time" scope="row">09:30 – 10:15</th>
      <td class="track-1">
        <h4><a>Keynote: community and EP elected</a></h4>
        <p>Anu Acharya</p>
      </td>
      <td class="track-2"></td>
      <td class="track-3"></td>
    </tr>
    <tr>
      <th class="time" scope="row">10:15 – 11:00</th>
      <td class="track-1">
        <h4><a>Aerospike fireside chat</a></h4>
        <p>Sponsored session</p>
      </td>
      <td class="track-2"></td>
      <td class="track-3"></td>
    </tr>
    <tr>
      <th class="time" scope="row">11:00 – 11:30</th>
      <td colspan="3" class="stretch centered">Tea break</td>
    </tr>
    <tr>
      <th class="time" scope="row">11:30 – 12:15</th>
      <td class="track-1">
        <h4><a href="#">'Know Your Customer!' - Advanced Data Science for Audience Segmentation</a></h4>
        <p>Prabhakar Srinivasan, Cisco</p>
      </td>
      <td class="track-2">
        <h4><a href="#">Unified analytics platform for Bigdata</a></h4>
        <p>Amareshwari Sriramadasu, Inmobi</p>
      </td>
      <td rowspan="2" class="track-3">
        <h4><a href="#">Workshops</a></h4>
        <p>Sponsored</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">12:15 – 01:00</th>
      <td class="track-1">
        <h4><a href="#">Circuitscape - A Case Study on Scientific Computing</a></h4>
        <p>Viral B. Shah, Circuitscape</p>
      </td>
      <td class="track-2">
        <h4><a href="#">Serving user intent : Facebook style notifications using HBase and Event streams</a></h4>
        <p>Regunath Balasubramanian, Flipkart</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">01:00 – 02:00</th>
      <td colspan="3" class="stretch centered">Lunch</td>
    </tr>
    <tr>
      <th class="time" scope="row">02:00 – 02:20</th>
      <td class="track-1">
        <h4><a href="#">The state of Julia - a fast language for technical computing</a></h4>
        <p>Viral B. Shah, Co-creator of Julia language</p>
      </td>
      <td class="track-2">
        <h4><a href="#">Using Cascalog and Clojure to make the elephant move!</a></h4>
        <p>Harshad Saykhedkar, Sokrati</p>
      </td>
      <td rowspan="4" class="track-3">
        <h4><a href="#">Workshops</a></h4>
        <p>Sponsored</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">02:20 – 02:40</th>
      <td class="track-1">
        <h4><a href="#">Learnings from doing analytics on linked-data</a></h4>
        <p>Inder Singh, Inmobi</p>
      </td>
      <td class="track-2">
        <h4><a href="#">Using Data for Art</a></h4>
        <p>Rasagy Sharma, Microsoft IDC</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">02:40 – 03:00</th>
      <td class="track-1">
        <h4><a href="#">Crisp talk</a></h4>
        <p>speaker</p>
      </td>
      <td class="track-2">
        <h4><a href="#">Crisp talk</a></h4>
        <p>speaker</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">03:00 – 03:45</th>
      <td class="track-1">
        <h4><a href="#">Crafting Visual Stories with Data</a></h4>
        <p>Amit Kapoor, guest faculty at IIMB</p>
      </td>
      <td class="track-2">
        <h4><a href="#">Lessons from Elasticsearch in production</a></h4>
        <p>Swaroop, Helpshift</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">03:45 – 04:15</th>
      <td colspan="3" class="stretch centered">Tea break</td>
    </tr>
    <tr>
      <th class="time" scope="row">04:15 – 05:00</th>
      <td class="track-1">
        <h4><a href="#">Apache Tez: Accelerating Hadoop Data Pipelines</a></h4>
        <p>Gopal Vijayaraghavan, Hortonworks</p>
      </td>
      <td class="track-2">
        <h4><a href="#">Full talk</a></h4>
        <p>Speaker</p>
      </td>
      <td class="track-3"></td>
    </tr>
    <tr>
      <th class="time" scope="row">05:00 – 05:45</th>
      <td class="track-1">
        <h4><a href="">Flash Talks</a></h4>
        <p>You!</p>
      </td>
      <td class="track-2"></td>
      <td class="track-3"></td>
    </tr>
    <tr>
      <th class="time" scope="row">05:45 – 06:30</th>
      <td class="track-1">
        <h4><a href="">High-tea</a></h4>
        <p>sponsored by Flipkart</p>
      </td>
      <td class="track-2"></td>
      <td class="track-3"></td>
    </tr>
    <tr>
      <th class="time" scope="row">06:30 – 08:00</th>
      <td class="track-1">
        <h4><a href="">Nexus powered CIO Panel</a></h4>
        <p>Speakers</p>
      </td>
      <td class="track-2"></td>
      <td class="track-3"></td>
    </tr>
  </tbody>
</table>

<h3 class="centered calm space-two">Saturday, July 13, 2013</h2>
<table class="schedule-table">
  <colgroup class="time"></colgroup>
  <colgroup class="track-1"></colgroup>
  <colgroup class="track-2"></colgroup>
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th class="track-1 semi-bold">Auditorium&nbsp;1 <span class="track-name">(Analytics: Technology)</span></th>
      <th class="track-2 semi-bold">Auditorium&nbsp;2 <span class="track-name">(Analytics: Metrics and Tools)</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">09:00 – 10:00</th>
      <td colspan="2" class="centered">Registrations and breakfast</td>
    </tr>
    <tr>
      <th class="time" scope="row">10:00 – 10:15</th>
      <td colspan="2" class="centered">Summary of day 1 and introduction to day 2</td>
    </tr>
    <tr>
      <th class="time" scope="row">10:15 – 11:00</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/650-extracting-consumer-trends-in-real-time-using-100-billion-tweets">Extracting consumer trends in real time using 100 billion tweets</a></h4>
        <p><a href="http://hasgeek.tv/fifthelephant/2013-previews/565-extracting-consumer-trends-in-real-time-using-100-billion-tweets">Pankaj Risbood</a>, WalmartLabs</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/691-evaluating-ssd-performance-for-databases-handling-real-time-big-data">Evaluating SSD Performance for Databases Handling Real-Time Big Data</a></h4>
        <p>Brian Bulkowski, Aerospike</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">11:00 – 11:30</th>
      <td colspan="2" class="stretch centered">Tea break</td>
    </tr>
    <tr>
      <th class="time" scope="row">11:30 – 12:15</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/698-building-large-scale-analytics-platform">Building large scale Analytics Platform</a></h4>
        <p>Prabhu Prakash Ganesh, MEDIA iQ Digital</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/673-mapreduce-and-the-art-of-thinking-parallel">MapReduce and the 'Art of Thinking Parallel'</a></h4>
        <p>Shailesh Kumar, Google</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">12:15 – 13:00</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/707-analytics-using-hadoop-ecosystem-on-aws">Analytics using Hadoop ecosystem on AWS <em>(sponsored)</em></a></h4>
        <p>Rajat Venkatesh, Qubole</p>
      </td>
      <td class="track-2">
        <h4>Product Demos</h4>
        <p>To be announced</p>
      </td>
    <tr>
      <th class="time" scope="row">13:00 – 14:00</th>
      <td colspan="2" class="stretch centered">Lunch</td>
    </tr>
    <tr>
      <th class="time" scope="row">14:00 – 14:45</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/686-visualising-networks">Visualising networks</a></h4>
        <p>Anand S, Gramener</p>
      </td>
      <td class="track-2">
        <h4><a href="https://funnel.hasgeek.com/fifthel2013/644-similar-entity-detection-in-large-data">Similar entity detection in large data</a></h4>
        <p>Arthi Venkataraman, Wipro Technologies</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">14:45 – 15:30</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/685-interactive-analysis-of-data-live-using-pandas-matplotlib-and-ipython">Interactive analysis of data live, using Pandas, Matplotlib and IPython</a></h4>
        <p><a href="http://hasgeek.tv/fifthelephant/2013-previews/570-interactive-analysis-of-data-live-using-pandas-matplotlib-and-ipython">Lakshman Prasad</a></p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/655-julia-a-fresh-approach-to-technical-computing-and-data-science">Julia: A fresh approach to technical computing and data science</a></h4>
        <p><a href="http://hasgeek.tv/fifthelephant/2013-previews/584-julia-a-fresh-approach-to-technical-computing-and-data-science">Viral Shah</a>, JuliaLang</p>
      </td>
    <tr>
      <th class="time" scope="row">15:30 – 16:00</th>
      <td colspan="2" class="stretch centered">Tea break</td>
    </tr>
    <tr>
      <th class="time" scope="row">16:00 – 16:45</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/701-a-billion-snapshots-principles-and-processes-in-the-census-of-india">A Billion Snapshots- Principles and Processes in the Census of India</a></h4>
        <p>Varsha Joshi, Census Delhi, Registrar General of India</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/651-unlocking-the-potential-of-data-for-everyday-developers-and-product-managers">Unlocking the Potential of Data for Everyday Developers and Product Managers</a></h4>
        <p>Karthik Kastury, PayPal India (eBay Inc.)</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">16:45 - 17:30</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/694-smart-analytics-in-smartphones">Smart Analytics in Smartphones</a></h4>
        <p>Satnam Singh, Samsung Research</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/664-co-occurrence-analytics-a-versatile-framework-for-finding-interesting-needles-in-crazy-haystacks">Co-occurrence Analytics: A versatile framework for finding interesting needles in crazy haystacks!</a></h4>
        <p>Shailesh Kumar, Google</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">17:30 – 18:15</th>
      <td colspan="2" class="centered">Feedback and Closing</td>
    </tr>
  </tbody>
</table>