{% for session in sessions %}
  {% if loop.first %}
  <article class="push-two-bottom highlight-links clearfix">
    <h2 class="centered calm space-two visuallyhidden">{{ session_kind }}</h2>
    <ul class="sessions center-block thumbnail-columns video-thumbnails regular clearfix">
  {% endif %}
    <li class="clearfix">
      {% if session.preview %}
      <a class="occupy block-link space-3q-bottom" href="{{ session.preview.link }}">
        <p class="poster video contain-width">
            <img alt="Watch Preview" src="{{ theme_static(session.preview.poster) }}" width="350" height="197">
        </p>
      </a>
      {% elif session.speaker.photo %}
      <p class="contain-width">
          <img alt=" " src="{{ theme_static(session.speaker.photo) }}" width="350" height="197">
      </p>
      {% endif %}
      <hgroup>
        <h3 class="capitalize title-width">{% if session.funnel %}<a href="{{ session.funnel }}" class="spooky">{% endif %}{{ session.title }}{% if session.funnel %}</a>{% endif %}{% if session.funnel2 %}/ <a href="{{ session.funnel2 }}" class="spooky">{% endif %}{{ session.title2 }}{% if session.funnel2 %}</a>{% endif %}</h3>
        <h4 class="space-half-top nospace-bottom secondary">{{ session.speaker.name }}</h4>
        <h6 class="space-1q-top space-half-bottom secondary thin darkblue">{{ session.speaker.designation|safe }}</h6>
      </hgroup>
      <p><a href="{{ session.funnel }}" class="capitalize tiny">View funnel proposal</a></p>    
    </li>
  {% if loop.last %}
    </ul>
  </article>
  {% endif %}
{% endfor %}