<table class="schedule-table">
  <colgroup class="time"></colgroup> 
  <colgroup class="track-1"></colgroup>
  <colgroup class="track-2"></colgroup>
  <thead>
    <tr>
      <th class="time semi-bold">Time</th>
      <th class="track-1 semi-bold">Auditorium&nbsp;2 <span class="track-name">(Storage)</span></th>
      <th class="track-2 semi-bold">Auditorium&nbsp;3 <span class="track-name">(Analytics)</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="time" scope="row">08:30 – 09:15</th>
      <td colspan="2" class="centered">Registrations and breakfast</td>
    </tr>
    <tr>
      <th class="time" scope="row">09:30 – 11:30</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/689-neo4j-graph-workshop">Neo4j Graph Workshop</a></h4>
        <p><a href="http://hasgeek.tv/fifthelephant/2013-previews/583-preview-video-neo4j-workshop-and-talk-on-graph-databases">Andreas Kollegger</a>, Neo Technology</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/652-big-data-real-time-processing-and-storm">Big Data, Real-time Processing and Storm</a></h4>
        <p>Prashanth Babu, NTT Data</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">11:30 – 12:00</th>
      <td colspan="2" class="stretch centered">Break</td>
    </tr>
    <tr>
      <th class="time" scope="row">12:00 – 13:30</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/761-mongodb-an-overview">MongoDB: An Overview <em>(sponsored)</em></a></h4>
        <p>Edouard Servan-Schreiber, 10gen</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/739-finding-order-in-the-chaos-machine-learning-for-web-text-analytics-using-r">Finding order in the chaos : machine learning for web text analytics using R</a></h4>
        <p>Harshad Saykhedkar, Sokrati Inc</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">13:30 – 14:30</th>
      <td colspan="2" class="stretch centered">Lunch</td>
    </tr>
    <tr>
      <th class="time" scope="row">14:30 – 16:30</th>
      <td class="track-1">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/748-data-analysis-and-visualization-using-r">Data Analysis and Visualization using R</a></h4>
        <p>Vinayak Hegde</p>
      </td>
      <td class="track-2">
        <h4><a href="http://funnel.hasgeek.com/fifthel2013/747-workshop-learning-elasticsearch-and-using-it-to-analyze-aadhaars-public-datasets">Learning ElasticSearch and using it to analyze Aadhaar's Public Datasets</a></h4>
        <p>Anurag, Red Hat</p>
      </td>
    </tr>
    <tr>
      <th class="time" scope="row">16:30 – 17:30</th>
      <td colspan="2" class="centered">Tea</td>
    </tr>
    <tr>
      <th class="time" scope="row">17:30 – 19:00</th>
      <td class="track-1">
        <h4><a href="/2013/cio-panel">CIO Panel</a></h4>
        <p>Nexus Venture Partners</p>
      </td>
      <td class="track-2">
      </td>
    </tr>
  </tbody>
</table>
