{% 
  set event = {
      'title' : 'Conference'
    , 'id'    : 'talks'
    , 'blurb' : 'Meta Refresh conference spans over two days, which feature a single track on both days. This conference is for working web designers and developers to present on how their own work has advanced the state of the web in the past year.'
    , 'when'          : '14 - 15 February 2014'
  }
%}
{% from theme("data/sessions.html") import talks, types %}
{% 
  set session = {
      'id'    : 'sessions'
    , 'label' : 'Talks'
    , 'link'  : 'conference#sessions'
    , 'list'  : talks.values()
    , 'types' : types
  }
%}
