{# Posters should be 350x197 image #}
{%
  set talks = [
    {
        'title': 'Introduction to Deep Learning for Natural Language Processing'
      , 'funnel': 'https://fifthelephant.talkfunnel.com/deep-learning-2016/2-introduction-to-deep-learning-for-natural-language'
      , 'summary': '<p>This workshop will provide an introduction to deep learning for natural language processing (NLP). It will cover some of the common deep learning architectures, describe advantages and concerns, and provide hands-on experience.</p>'
      , 'speaker': {
          'name': 'Nischal and Raghotham'
        , 'designation': 'Co-founders, Unnati Data Lab'
        , 'photo': 'img/speakers/nischal_and_raghotham.png'
      }
    },
    {
        'title': 'Deep Learning for Computer Vision'
      , 'funnel': 'https://fifthelephant.talkfunnel.com/deep-learning-2016/26-deep-learning-for-computer-vision'
      , 'summary': '<p>One of the fields that have benefited the most from the rise of Deep Learning has been Computer Vision. The goal of this workshop is to have participants go from the basics to tackling a problem that might solve a real world problem.</p>'
      , 'speaker': {
          'name': 'Anand Chandrasekaran'
        , 'designation': 'Founder and the CTO of Mad Street Den'
        , 'photo': 'img/speakers/Anand_Chandrasekharan.png'
      }
    },
  ]
%}