{%
  set pune_event_sponsors = [
      {
        'name': 'HasGeek'
      , 'web': {
          'link': 'http://hasgeek.com/'
        , 'display': 'hasgeek.com'
      }
      , 'logo': {
          'url': 'img/hasgeek.png'
        , 'contain': 'height'
      }
    }
  , {
        'name': '91springboard'
      , 'web': {
          'link': 'http://91springboard.com//'
        , 'display': '91springboard.com/'
      }
      , 'logo': {
          'url': 'img/sponsors/runup-event-sponsors/91springboard.png'
        , 'contain': 'width'
      }
    }
  , {
        'name': 'Product Nation'
      , 'web': {
          'link': 'http://productnation.in///'
        , 'display': 'productnation.com/'
      }
      , 'logo': {
          'url': 'img/sponsors/runup-event-sponsors/logo_ispirt.png'
        , 'contain': 'width'
      }
    }
  ]
%}