{# Posters should be 350x197 image #}
{%
  set panelist = [
    {
      'speaker': {
        'name': 'Ashwin Kumar' ,
        'designation': 'Data Scientist, Walmart Labs',
        'twitter': 'ashwink_s',
        'photo': 'https://images.hasgeek.com/embed/file/21bb8122b393473d9bd3741f633169c2',
        'grayscale': true,
        'bio': '<p>Ashwin has 12+ years of experience working on data science, machine learning, high performance computing in areas of e-commerce, BFSI, Paid Search Ads, EDA, animation, and supply chain logistics. He has previously worked in Citigroup, Microsoft, Synopys, and Honeywell Technology Solutions. He has dabbled in the startup world as the CTO of Progeniq a HPC pioneer in developing novel FPGA-GPU computing solutions.</p>'
      }
    },
    {
      'speaker': {
        'name': 'Bargava Subramanian' ,
        'designation': 'Data Scientist, Cisco Systems, India',
        'twitter': 'bargava',
        'photo': 'https://images.hasgeek.com/embed/file/195574f5c883459c927ecfdef066715c',
        'grayscale': true,
        'bio': '<p>Bargava Subramanian is a Data Scientist at Cisco Systems, India. He has 12 years of experience delivering business analytics solutions to Investment Banks, Entertainment Studios and High-Tech companies. He has given talks and conducted workshops on Data Science, Machine Learning, Deep Learning and Optimization in Python and R in India and abroad. He has a Masters in Statistics from University of Maryland, College Park, USA. He is an ardent NBA fan. You can tweet him at <a href="https://twitter.com/@bargava" target="_blank">@bargava</a>.</p>'
      }
    },
    {
      'speaker': {
        'name': 'Nischal HP' ,
        'designation': 'Co-Founder, Unnati Data Labs',
        'twitter': 'nischalhp',
        'photo': 'https://images.hasgeek.com/embed/file/ebe7d1044599405daf5eb61d17a00ec0',
        'grayscale': true,
        'bio': '<p>Nischal is a Data Engineer who enables the Data Scientists to work at peace. He makes sure that they get the data they need and in the way they need it. Previously he has built, from scratch, various systems for E-commerce like catalog management, recommendation engines and other systems that amass a lot of data, during his tenure at Redmart.</p> <p>At SAP Labs, Nischal has built various data crawlers, intention mining systems and laid down initial work on an end to end Text Mining/Analysis Pipeline. The majority of his work, however, was centered around building a system that gamified technical indicators in a product for the Fintech domain. He has conducted workshops in the field of Deep learning across the world.</p><p>He is a strong believer of open source and loves to architect big, fast and reliable systems. In his free time, he enjoys psychedelic trance and travelling to remote places.</p>'
      }
    },
    {
      'speaker': {
        'name': 'Raghotham S' ,
        'designation': 'Co-Founder, Unnati Data Labs',
        'twitter': 'raghothams',
        'photo': 'https://images.hasgeek.com/embed/file/fee1a362872e4885bf53fa8f9504181e',
        'grayscale': true,
        'bio': '<p>Raghotham is a Data Scientist who can work across the complete stack. Previously, at Touchpoints Inc., He single-handedly built a data analytics platform for a fitness wearable company. With Redmart, he worked on the CRM system and has built a sentiment analyzer for Redmart’s Social Media. Prior to Redmart and Touchpoints, Raghotham worked at SAP Labs where he was a core part of what is currently SAP’s framework for building web and mobile products. He was a part of multiple SAP wide events helping to spread the knowledge both internally and to customers.</p><p>Having found deep love for data science, neural networks and the passion for teaching, Raghotham has conducted workshops across the world. Apart from getting his hands dirty with data, he loves travelling, Pink Floyd and masala dosas.</p>'
      }
    },
    {
      'speaker': {
        'name': 'Zainab Bawa' ,
        'designation': 'Co-Founder, HasGeek',
        'twitter': 'zainabbawa',
        'photo': 'https://images.hasgeek.com/embed/file/7a777d77f5c54740a28de00ef24724c7',
        'grayscale': true,
        'bio': '<p>Zainab Bawa is the co-founder of HasGeek. She is the director and editor of all the conferences at HasGeek, including <a href="https://rootconf.in" class="block-link" target="_blank">Rootconf</a> (on DevOps), <a href="https://fifthelephant.in" class="block-link" target="_blank">The Fifth Elephant</a> (on machine learning and data analytics), <a href="https://jsfoo.in" class="block-link" target="_blank">JSFoo</a> (on JavaScript), <a href="http://www.juliacon.in" class="block-link" target="_blank">JuliaCon India</a>, among others.</p>'
      }
    }
  ]
%}