{%
  set emergency_contacts = [
      {
        'category': 'Organisers'
      , 'list': [
          {
            'contact': {
              'dial': '+919999999999'
            , 'display': '+91 9999 999 999'
          }
          , 'name': 'Zainab'
        }
        , {
            'contact': {
              'dial': '+919999999999'
            , 'display': '+91 9999 999 999'
          }
          , 'name': 'Radha'
        }
        , {
            'contact': {
              'dial': '+919999999999'
            , 'display': '+91 9999 999 999'
          }
          , 'name': 'Haris'
        }
      ]
    }  
    , {
        'category': 'Police'
      , 'list': [
          {
              'contact': {
                'dial': '100'
              , 'display': '100'
            }
          , 'name': 'Control Room'
        }
        , {
            'contact': {
              'dial': '+918099999999'
            , 'display': '+91 80 9999 9999'
          }
          , 'name': 'Dairy Circle Police Station'
        }
      ]
    }  
    , {
        'category': 'Fire'
      , 'list': [
          {
            'contact': {
              'dial': '101'
            , 'display': '101'
          }
          , 'name': 'Control Room'
        }
        , {
            'contact': {
              'dial': '+918099999999'
            , 'display': '+91 80 9999 9999'
          }
          , 'name': 'Dairy Circle Fire Station'
        }
      ]
    }  
    , {
        'category': 'Ambulance'
      , 'list': [
          {
            'contact': {
              'dial': '102'
            , 'display': '102'
          }
          , 'name': 'Control Room'
        }
        , {
            'contact': {
              'dial': '+918099999999'
            , 'display': '+91 80 9999 9999'
          }
          , 'name': 'Jayadeva Hospital'
        }
      ]
    }  
    , {
        'category': 'Women’s Crisis Response&nbsp;Center'
      , 'list': [
          {
            'contact': {
              'dial': '1091'
            , 'display': '1091'
          }
        }
      ]
    }  
  ]
%}