{%
  set emergency_contacts = [
      {
        'category': 'Organisers'
      , 'list': [
          {
            'contact': '+91 9999 999 999'
          , 'name': 'Zainab'
        }
        , {
            'contact': '+91 9999 999 999'
          , 'name': 'Radha'
        }
        , {
            'contact': '+91 9999 999 999'
          , 'name': 'Haris'
        }
      ]
    }  
    , {
        'category': 'Police'
      , 'list': [
          {
            'contact': '100'
          , 'name': 'Control Room'
        }
        , {
            'contact': '+91 80 9999 9999'
          , 'name': 'Dairy Circle Police Station'
        }
      ]
    }  
    , {
        'category': 'Fire'
      , 'list': [
          {
            'contact': '101'
          , 'name': 'Control Room'
        }
        , {
            'contact': '+91 80 9999 9999'
          , 'name': 'Dairy Circle Fire Station'
        }
      ]
    }  
    , {
        'category': 'Ambulance'
      , 'list': [
          {
            'contact': '102'
          , 'name': 'Control Room'
        }
        , {
            'contact': '+91 80 9999 9999'
          , 'name': 'Jayadeva Hospital'
        }
      ]
    }  
    , {
        'category': 'Women’s Crisis Response&nbsp;Center'
      , 'list': [
          {
            'contact': '1091'
        }
      ]
    }  
  ]
%}