{%
  set emergency_contacts = [
      {
        'category': 'Organisers'
      , 'list': [
          {
            'contact': {
              'dial': '+919945473641'
            , 'display': '+91 99454 73641'
          }
          , 'name': 'Zainab'
        }
        , {
            'contact': {
              'dial': '+919035626606'
            , 'display': '+91 9035 626 606'
          }
          , 'name': 'Radha'
        }
      ]
    }  
    , {
        'category': 'Police'
      , 'list': [
          {
              'contact': {
                'dial': '100'
              , 'display': '100'
            }
          , 'name': 'Control Room'
        }
        , {
            'contact': {
              'dial': ' 08022942572'
            , 'display': '+91  80 2294 2572'
          }
          , 'name': 'Dairy Circle Police Station'
        }
      ]
    }  
    , {
        'category': 'Fire'
      , 'list': [
          {
            'contact': {
              'dial': '101'
            , 'display': '101'
          }
          , 'name': 'Control Room'
        }
        , {
            'contact': {
              'dial': '08022971539'
            , 'display': '+91 80 2297 1539'
          }
          , 'name': 'Dairy Circle Fire Station'
        }
      ]
    }  
    , {
        'category': 'Ambulance'
      , 'list': [
          {
            'contact': {
              'dial': '102'
            , 'display': '102'
          }
          , 'name': 'Control Room'
        }
        , {
            'contact': {
              'dial': '+918022977202'
            , 'display': '+91 80 2297 7202'
          }
          , 'name': 'Jayadeva Hospital'
        }
      ]
    }  
    , {
        'category': 'Women’s Crisis Response&nbsp;Center'
      , 'list': [
          {
            'contact': {
              'dial': '1091'
            , 'display': '1091'
          }
        }
      ]
    }  
  ]
%}
