{%
  set featured_workshops = [
      {
        'title': 'This is the topic of the talk'
      , 'description': '<p>User perceived Availability and Experience is important for any eCommerce site. Achieving this is not easy for distributed systems that run multiple platforms and access multiple resources, data sources. This talk describes how Flipkart built its website to manage Latency and Fault tolerance at scale - millions of requests amounting to 1.5 billion service calls per day.</p>'
      , 'speaker': {
          'name': 'Ashok Banerjee'
        , 'photo': 'img/bios/ashok.jpg'
        , 'company': 'Flipkart'
        , 'bio': '<p>About the speaker Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="#">exercitation ullamco laboris nisi ut aliquip ex ea</a> commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>'
      }
    }
    , {
        'title': 'This is the topic of the talk'
      , 'description': '<p>User perceived Availability and Experience is important for any eCommerce site. Achieving this is not easy for distributed systems that run multiple platforms and access multiple resources, data sources. This talk describes how Flipkart built its website to manage Latency and Fault tolerance at scale - millions of requests amounting to 1.5 billion service calls per day.</p>'
      , 'speaker': {
          'name': 'Ashok Banerjee'
        , 'photo': 'img/bios/ashok.jpg'
        , 'company': 'Flipkart'
        , 'bio': '<p>About the speaker Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud <a href="#">exercitation ullamco laboris nisi ut aliquip ex ea</a> commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>'
      }
    }
  ]
%}