{%
  set featured_workshops = [
      {
        'title': 'Neo4j Graph Workshop'
      , 'description': "<p>This hand-on session will be a crash course on using the Neo4j graph database. Assuming no prior knowledge, participants will learn about working with Neo4j through a progressive series of exercises.</p><p>Participants will use Neo4j's query language - Cypher - to:</p><ul><li>create a simple graph</li><li>import a larger sample graph</li><li>run basic queries to get known data</li><li>discover new data with graph patterns</li></ul><p>By the end of this workshop, attendees will leave with a foundation of how to begin working with Neo4j, ready to explore further with language-specific drivers.</p>"
      , 'speaker': {
          'name': 'Andreas Kollegger' 
        , 'photo': 'img/speakers/andreas_kollegger.jpeg'       
        , 'company': 'Neo Technologies'
        , 'bio': '<p>Andreas has been part of the Neo4j community since having his own graph epiphany while working on medical informatics in Zambia. He joined as an early member of core engineering, and has now taken on the role of Product Experience Designer, responsible for maturing that fantastic codebase into an industrial strength product.</p>'
      }
    }
    , {
        'title': 'Big Data, Real-time Processing and Storm'
      , 'description': "<p>This workshop explains the basics of Storm and its salient features. The instructor will discuss how Storm is similar / different from Hadoop and will run through the source of WordCount example and its demo. Finally, the instructor will show how Hadoop and Storm together can help process Big Data seamlessly.</p><p>Participants will learn and understand:</p><ul><li>Concepts and salient features of Storm</li><li>How Storm can be used for processing Big Data and in real-time</li><li>Storm through a simple example</li><li>Storm vs. Hadoop</li><li>Real-time analysis of tweets using Storm</li></ul></p>"
      , 'speaker': {
          'name': 'Prashanth Babu'
        , 'photo': 'img/speakers/prashanth_babu.jpg'
        , 'company': 'NTT DATA'
        , 'bio': '<p>Prashanth Babu is a Research Engineer with NTT DATA. He is currently working on an R &amp; D initiative on Big Data using Apache Hadoop Ecosystem and he is also Cloudera Certified Developer for Apache Hadoop [CCDH].</p>'
      }
    }
  ]
%}