{%
  set featured_talks = [
      {
        'title': 'Extracting consumer trends in real time using 100 billion tweets'
      , 'funnel': 'http://funnel.hasgeek.com/fifthel2013/650-extracting-consumer-trends-in-real-time-using-100-billion-tweets'
      , 'preview': 'http://hasgeek.tv/fifthelephant/2013-previews/565-extracting-consumer-trends-in-real-time-using-100-billion-tweets'
      , 'description': '<p>Connected consumers express everything they feel about products, services, brands in social media. How consumer feel and engage with products is very important for retailers to make better merchandizing decisions.</p><p>In this talk we will outline one such system we built to analyze 13 months of twitter data amounting to ~100B tweets. </p>'
      , 'speaker': {
          'name': 'Pankaj Risbood'
        , 'photo': 'img/speakers/pankaj_risbood.jpg'
        , 'company': '@WalmartLabs'
        , 'bio': '<p>Pankaj Risbood is Director of Engineering at @WalmartLabs where he leads social media analytics effort. Prior to @WalmartLabs Pankaj spent 6 years at Google leading various efforts in cloud computing, enterprise and speech processing. He was Member of Tech Staff at Bell Labs where he specialized in optical and IP networking. Pankaj has co-authored 16 issued patents and several research papers in premier conferences. An alumnus of IISc, Pankaj is a avid hiker and a marathon runner.</p>'
      }
    }
    , {
        'title': 'Latency and Fault tolerance in OLTP @ 1.5 billion/day service calls'
      , 'funnel': 'http://funnel.hasgeek.com/fifthel2013/661-latency-and-fault-tolerance-in-oltp-1-5-billion-day-service-calls'
      , 'preview': 'http://hasgeek.tv/fifthelephant/2013-previews/566-latency-and-fault-tolerance-in-oltp-1-5-billion-day-service-calls'
      , 'description': '<p>User perceived Availability and Experience is important for any eCommerce site. Achieving this is not easy for distributed systems that run multiple platforms and access multiple resources, data sources. This talk describes how Flipkart built its website to manage Latency and Fault tolerance at scale - millions of requests amounting to 1.5 billion service calls per day.</p>'
      , 'speaker': {
          'name': 'Regunath Balasubramanian'
        , 'photo': 'img/speakers/regunath_balasubramanian.jpg'
        , 'company': 'Flipkart'
        , 'bio': "<p>Regunath is an architect, developer and mentor with a career span of 16 years. He is currently responsible for building long term technology vision across Customer Platform teams at Flipkart. Prior to Flipkart, he was Chief Architect at MindTree where he played a number of roles including leading an Architecture services group, building IP based solutions and implementing large scale systems; notable among them was architecting the Govt. of India's Aadhaar project - the world's largest biometric identity database.<p></p>He is passionate about Open Source and technology trends - recent ones are Big Data and deriving insights from Social Media. He has contributed to Open Source that is used in 90+ countries word-wide. Regunath has been an invited speaker in various technology forums such as HasGeek Fifth Elephant, OSI days, Microsoft Architecture Days, iCMGWorld Architecture Summit and others. Also blogs frequently and was a guest columnist for CIOUpdate.com.</p>"
      }
    }
  ]
%}