{%
  set highlights = {
      'on-the-side': true
    , 'tiles': [
       {
          'title': 'Workshops'
        , 'date': 'July&nbsp;23&nbsp;&amp;&nbsp;24'
        , 'venue': 'The Energy &amp; Resources Institute, Domlur, Bangalore'
        , 'background': 'workshops'
        , 'link_title': '/2014/workshops'
        , 'link_schedule': '/2014/workshops#schedule'
        , 'link_venue': '/2014/workshops#venue'
      }
      , {
          'title': 'Conference'
        , 'date': 'July&nbsp;25&nbsp;&amp;&nbsp;26'
        , 'venue': 'NIMHANS Convention Centre, Bangalore'
        , 'background': 'conference'
        , 'link_title': '/2014/conference'
        , 'link_schedule': '/2014/conference#schedule'
        , 'link_venue': '/2014/conference#venue'
      }
    ]
  }
%}