{# 
  set `on-the-side` as `false` if the number of tiles are disproportionately more than the highlighted blog updates.
  `background` is the css class that defines background styles (defined in main.css)
#}
{%
  set highlights = {
      'on-the-side': true
    , 'tiles': [
       {
          'title': 'Workshops'
        , 'meta': '(July&nbsp;23&nbsp;&amp;&nbsp;24)'
        , 'background': 'workshops'
        , 'link': '/2014/workshops'
      }
      , {
          'title': 'Conference'
        , 'meta': '(July&nbsp;25&nbsp;&amp;&nbsp;26)'
        , 'background': 'conference'
        , 'link': '/2014/conference'
      }
      , {
          'title': 'Follow us:'
        , 'meta': '@fifthel'
        , 'background': 'bird'
        , 'link': '/2014/runup-bangalore'
      }
    ]
  }
%}