{# 
  set `on-the-side` as `false` if the number of tiles are disproportionately more than the highlighted blog updates.
  `background` is the css class that defines background styles (defined in main.css)
#}
{%
  set highlights = {
      'on-the-side': true
    , 'tiles': [
      {
          'title': 'Visualization Hacknight'
        , 'meta': '(June&nbsp;29&nbsp;&amp;&nbsp;30)'
        , 'background': 'visualization'
        , 'link': 'http://hacknight.in/fifthelephant/2013-visualization'
      }
      , {
          'title': 'Follow Us'
        , 'meta': '@fifthel'
        , 'background': 'bird'
        , 'link': 'http://twitter.com/fifthel'
      }
      , {
          'title': 'Conference Schedule'
        , 'meta': '(2 days, 2 tracks)'
        , 'background': 'conference-schedule'
        , 'link': '/2013/conference#schedule'
      }
      , {
          'title': 'Workshops Schedule'
        , 'meta': '(8 sessions, 2 tracks)'
        , 'background': 'workshop-schedule'
        , 'link': '/2013/workshops#schedule'
      }
      , {
          'title': 'Venue'
        , 'meta': '(NIMHANS, Bangalore)'
        , 'background': 'venue'
        , 'link': '/2013/venue'
      }
      , {
          'title': 'Code of conduct'
        , 'background': 'code-of-conduct'
        , 'link': '/2013/code-of-conduct'
      }
    ]
  }
%}