{%
  set featured_speakers = [
      {
        'speaker': {
          'name': 'Edouard Servan-Schreiber'
        , 'photo': 'img/speakers/Edouard.jpg'
        , 'company': 'Director, Solution Architecture, 10gen'
      }
    }
    , {
       'speaker': {
          'name': 'Erik Rose'
        , 'photo': 'img/speakers/Erik_Rose.jpg'
        , 'company': 'Chief Engineer at the Socorro project, Mozilla'
      }
    }
    , {
       'speaker': {
          'name': 'Pankaj Risbood'
        , 'photo': 'img/speakers/pankaj_risbood.jpg'
        , 'company': 'Director of Engineering, WalmartLabs'
      }
    }
    , {
       'speaker': {
          'name': 'Andreas Kollegger'
        , 'photo': 'img/speakers/andreas_kollegger1.jpeg'
        , 'company': 'Product Experience Designer, Neo4j'
      }
    }
    , {
       'speaker': {
          'name': 'Brian Bulkowski'
        , 'photo': 'img/speakers/Brian_Bulkowski.jpg'
        , 'company': 'founder and CTO of Aerospike Inc'
      }
    }
    , {
       'speaker': {
          'name': 'Anshum Gupta'
        , 'photo': 'img/speakers/Anshum_Gupta.jpg'
        , 'company': 'Engineer at LucidWorks and Solr committer'
      }
    }
  ]
%}