{%
  set participating_companies = [
      {
        'company': {
          'name': 'Cloud Byte'
        , 'photo': 'img/panel/cloud_byte_logo.png'
        , 'link': 'http://www.cloudbyte.com/'
        , 'bio': '<p>providing guaranteed storage QoS at application level for shared storage &amp; optimized storage performance &amp; management</p>'
      }
    }
    , {
        'company': {
          'name': 'Druva'
        , 'photo': 'img/panel/druva_logo.gif'
        , 'link': 'http://www.druva.com/'
        , 'bio': '<p>providing integrated endpoint data protection and governance and solution to protect the mobile workforce</p>'
      }
    }
    , {
        'company': {
          'name': 'Aryaka'
        , 'photo': 'img/panel/aryaka_logo.png'
        , 'link': 'http://www.aryaka.com/'
        , 'bio': '<p>providing WAN optimization as a service</p>'
      }
    }
  ]
%}