{%
  set pune_event = [
      {
        'title': 'Introduction to Graph Database'
      , 'type': 'Tutorial'
      , 'description': "<p>Graphs are everywhere. In this tutorial, you will learn about graph databases and in particular, Neo4j. We will install it, create a data model, and learn the basics of Cypher to query the graph. This session will leave you ready to go and explore more using a language of your choice.</p>"
      , 'requirement': '<p><a href="http://www.neo4j.org/download" target="_blank">Install Neo4j 1.9.2 Community Edition</a> and download the contents of tutorial <a href="https://www.dropbox.com/sh/ex9l4zuzs5bsa8w/bybKdNgmME/Tutorial" target="_blank">available here.</a></p>'
      , 'speaker': {
          'name': 'Luanne Misquitta'
        , 'photo': 'img/speakers/runup-event-speakers/luanne.jpg'      
        , 'company': 'IdMission LLC'
        , 'bio': '<p>Luanne Misquitta is a Senior Technical Architect at IdMission LLC and leads the Analytics initiative. Previously, she worked at Saba Software as a lead on the Platform team. She is passionate about Neo4j and has been playing, working with and advocating it for a couple of years. Luanne can be followed on twitter at @luannem and at her blog <a href="http://thought-bytes.blogspot.in/" target="_blank">thought-bytes.blogspot.in</a></p>'
      }
    }
    , {
        'title': 'Introduction to Hive'
      , 'type': 'Tutorial'
      , 'description': "<p>This tutorial is an overview of Hive in Hadoop ecosystem. Instructors will cover the aspects of Hive as a data warehouse system and as an SQL Dialect for querying data stored in filesystems (HDFS) that integrate with Hadoop. You will also learn about the Hadoop ecosystem, Hive as a data warehouse system, HQL DDLs &amp; DMLs and their limitations, partitioned tables and buckets and some additional Hive features.</p>"
      , 'requirement' : "<p>Awareness of basic SQL concepts. Bring a laptop and preferably have stable version of Hadoop &amp; Hive installed on it (at least have Java 1.6.x or 1.7.x installed). We will also have VMs for Hadoop installation.</p>"
      , 'speaker': {
          'name': 'Amit Kumar'
        , 'photo': 'img/speakers/runup-event-speakers/amit.jpg'
        , 'company': 'ThoughtWorks'
        , 'bio': '<p>Amit Kumar is a senior consultant with ThoughtWorks. He is an agile enthusiast and a seasoned Java &amp; Ruby developer who has primarily worked on different web and enterprise applications.</p>'
      }
      , 'speaker_alt': {
          'name': 'Rahul Kavale'
        , 'photo': 'img/speakers/runup-event-speakers/rahulkavale.jpg'
        , 'company': 'ThoughtWorks'
        , 'bio': '<p>Rahul Kavale is a developer with ThoughtWorks. He started as a Ruby developer and is currently working on porting warehouse from relational DBs to Hive.</p>'
      }
    }
    , {
        'title': 'Building consumer apps with Lucene'
      , 'type': 'Talk'
      , 'description': "<p>Lucene, an open source search library, is part of core infrastructure that powers Bandhan.com. This talk will shed light on how Lucene stores (in NoSQL way), indexes and searches 5.5 million matrimony profiles and delivers results in less than 200 milliseconds.</p>"
      , 'speaker': {
          'name': 'Shashikant Kore'
        , 'photo': 'img/speakers/runup-event-speakers/shashikant.jpg'       
        , 'company': 'Bandhan.com'
        , 'bio': '<p>Shashikant Kore is founder of Bandhan.com, a matrimony search. He has previously worked with Webaroo and Veritas. He completed his Masters in Computer Science from IIT Kanpur.</p>'
      }
    }
    , {
        'title': "Telling twins apart: a cookie's life and other stories from the ad world"
      , 'type': 'Talk'
      , 'description': "<p>Wonder why you see an ad for car rentals on a blog site right after you book your flight ticket on a travel site? Wonder how the ads on Facebook actually seem to be talking to you, using the right words to get your attention? Wonder why you see the kind of ads you see through your journey on the web?</p><p>In this session, ex-Googler and Sokrati CPO Rahul Kulkarni demystifies the complex world of ad targeting and presents it as a simple big data problem. Learn how a combination of customer behaviour data from website logs, transaction data from your ERP system and ad click URLs provide a powerful dataset for ad targeting when used in conjunction with a platforms like Google and Facebook.</p>"
      , 'speaker': {
          'name': 'Rahul Kulkarni' 
        , 'photo': 'img/speakers/runup-event-speakers/rahulkulkarni.png'       
        , 'company': 'Sokrati'
        , 'bio': '<p>Rahul Kulkarni is the Chief Product Officer at Sokrati, a digital marketing and analytics startup. Earlier, Rahul spent about six years at Google - starting out as Google’s first product manager in India, managing various products such as Google Maps and Local, cloud computing, Orkut and Google Finance. Rahul holds a Masters degree in Engineering from Georgia Tech in Atlanta and Bachelors from VJTI Mumbai.</p>'
      }
    }
  ]
%}