{%
  set pune_event_sponsors = [
    {
        'name': 'HasGeek'
      , 'web': {
          'link': 'http://hasgeek.com/'
        , 'display': 'hasgeek.com'
      }
      , 'logo': {
          'url': 'img/hasgeek.png'
        , 'contain': 'height'
      }
    }
  , {
        'name': 'ThoughtWorks'
      , 'web': {
          'link': 'http://www.thoughtworks.com/'
        , 'display': 'www.thoughtworks.com'
      }
      , 'logo': {
          'url': 'img/sponsors/runup-event-sponsors/thoughtworks.png'
        , 'contain': 'width'
      }
    }   
  ]
%}