{%
  set items = [
     {
        "title" : "Bangalore Run-up"
      , "when" : "3 May 2014"
      , "timeline" : "upcoming"
      , "venue" : "Apigee, Bangalore"
      , "sponsor_logo": "https://imgee.s3.amazonaws.com/imgee/21e95f708c5d4695b49a31e47a35c6a1_w300_h42.png"
      , "sponsor_link": "http://www.inmobi.com/"
      , "link" : "/2014/runup-bangalore"
      , "hgtv" : "https://hasgeek.tv/rootconf/2014-bangalore"
      , "blurb" : "A lot of people are moving to the cloud now &amp; automation is what can make their life easy. This event covers 3 talks around this using tools like Docker, Chef, Jenkins, Puppet and Vagrant!"
      , "schedule" : [
          {
            'slot' : '09:00 – 09:30'
          , 'title' : 'Registrations &amp; checkin'
        }
        , {
            'slot' : '09:30 – 09:45'
          , 'title' : 'Introductions'
        }
        , {
            'slot' : '09:45 – 10:30'
          , 'title' : 'Introduction to Docker &amp; Chef'
          , 'speaker' : 'Kamalika Majumder'
          , 'photo' : 'https://imgee.s3.amazonaws.com/imgee/c49d2f8472e24fefa6fb56b511691493_w80_h80.jpeg'
          , 'designation' : 'Devops and Infrastructure automation specialist @ Thoughtworks'
          , 'linkedin' : 'http://www.linkedin.com/in/kamalikamajumder'
          , 'twitter' : 'mjkamalika'
          , 'description' : 'Kamalika will introduce you to Docker and chef and how they can be used to automate your developer environment. This talk will be an introduction to the topics that might be helpful for those who attend her final talk at rootconf, if it is selected.'
        }
        , {
            'slot' : '10:30 – 11:15'
          , 'title' : 'DevOps – Culture of continuous delivery &amp; collaboration'
          , 'speaker' : 'Vinothini Raju'
          , 'photo' : 'https://imgee.s3.amazonaws.com/imgee/1a8baf6d8a70452081cae5e13df8110d_w80_h80.png'
          , 'designation' : 'Founder &amp; CEO @ TROV IT Consulting &amp; Services Pvt Ltd.'
          , 'linkedin' : 'http://in.linkedin.com/pub/vinothini-raju/5/7ab/981'
          , 'twitter' : 'vinothiniraju'
          , 'description' : '<p>The talk will give an introduction about DevOps, continuous integration, delivery &amp; deployment. It will also given an insight in to how the teams can collaborate to simplify development, testing and server deployments in a cloud. Following the talk, the demo will showcase how a Jenkins job can pull code from git, launch a new instance in AWS, configure a sample application using Chef and run unit tests against it.</p><p>Vinothini\'s passion is to experiment with technologies and interact with people. She is a team player and loves to build agile teams. Her company offers products and services that accelerate cloud adoption.</p>'
        }
        , {
            'slot' : '11:15 – 11:30'
          , 'title' : 'Tea &amp; Networking'
        }
        , {
            'slot' : '11:30 – 12:15'
          , 'title' : 'Cloud automation on AWS using vagrant &amp; puppet'
          , 'speaker' : 'Madhurranjan Mohaan'
          , 'designation' : 'Devops Engineer at Apigee'
          , 'linkedin' : 'http://in.linkedin.com/pub/madhurranjan-mohaan/a/740/927'
          , 'description' : '<p>Talk about how Apigee used vagrant as a tool to spawn environments automatically on Virtualbox/AWS from 1 machine to 80-90 machines.</p><p>The talk will involve everything about vagrant and puppet and how one can do something similar in their organisation.</p>'
        }
        , {
            'slot' : '12:15 – 12:30'
          , 'title' : 'Networking &amp; discussions'
        }
      ]
    }
  ]
%}