{%
  set event = [
      {
        'title': 'Talk 1'
      , 'type': 'Talk'
      , 'description': "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt massa sit amet sapien dapibus, quis viverra lorem lobortis. Donec ut pharetra libero, sit amet rutrum arcu. Morbi convallis vehicula blandit. Curabitur molestie varius dui, tempus viverra purus sollicitudin a. Nam eget metus suscipit, mattis augue ac, adipiscing purus. Nulla ac placerat nisl. Etiam egestas accumsan odio id mattis. Duis vulputate, ligula sed posuere mattis, purus diam porta velit, ac eleifend tortor nibh sed lectus. Sed in ante sed odio fringilla sagittis. Donec sed diam a eros interdum interdum. </p><p>Quisque vestibulum eros at sagittis vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus cursus sem est, et pharetra libero convallis a. Sed cursus sagittis iaculis. Morbi euismod feugiat nibh non fermentum.</p>"
    }
    , {
        'title': 'Talk 2'
      , 'type': 'Talk'
      , 'description': "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt massa sit amet sapien dapibus, quis viverra lorem lobortis. Donec ut pharetra libero, sit amet rutrum arcu. Morbi convallis vehicula blandit. Curabitur molestie varius dui, tempus viverra purus sollicitudin a. Nam eget metus suscipit, mattis augue ac, adipiscing purus. Nulla ac placerat nisl. Etiam egestas accumsan odio id mattis. Duis vulputate, ligula sed posuere mattis, purus diam porta velit, ac eleifend tortor nibh sed lectus. Sed in ante sed odio fringilla sagittis. Donec sed diam a eros interdum interdum.</p><p>Quisque vestibulum eros at sagittis vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus cursus sem est, et pharetra libero convallis a. Sed cursus sagittis iaculis. Morbi euismod feugiat nibh non fermentum.</p>"
    }
  ]
%}