{%
  set event = [
      {
        'title': 'Campaigning in the pre-Internet and Internet Era'
      , 'type': 'Talk'
      , 'description': "<p>Vijay Grover, founder of Bangalore Media Foundation and television journalist since 17 years, will compare the past and present to explain how internet technologies have changed campaigning stratgies. Grover will argue that voters need to get smart in sifting information and making choices as more and more parties use social media and information technologies in reaching out to them.</p>
    }
    , {
        'title': 'Technology-driven campaigns'
      , 'type': 'Talk'
      , 'description': "<p>Viral Shah, part of Nandan Nilekani's campaign management team, will talk about how India is placed in the global scene with respect to technology-driven political campaigns. Viral will also discuss how to design a campaign with technology and how technology was used to power Nilekani's campaign.</p>"
    }
    {
     'title': 'Tools used for powering campaigns and attracting volunteers'
      , 'type': 'Talk'
      , 'description': "<p>BG Mahesh, founder and managing director at Oneindia.in, will talk about the tools used during Narendra Modi's campaign. Apart from informing voters about the candidate, volunteers were also enlisted through the drives. BG Mahesh will throw light on how technology made this possible.</p>"
    }
  }
  ]
%}