{%
  set sponsors = [
    {
        'category': 'Bronze',
        'list': [
          {
            'name': 'Qubole'
            , 'web': {
                'link': 'http://www.qubole.com/'
              , 'display': 'Qubole'
            }
            , 'logo': {
                'url': 'https://imgee.s3.amazonaws.com/imgee/2e61f5f4d8ca445b843e3456877563c1.png'
              , 'orientation': 'landscape'
              , 'size': 'm'
            }
            , 'blurb': '<p>Qubole was launched in 2013 by Ashish Thusoo and Joydeep Sen Sarma of the Facebook Data Service Team and authors of Apache Hive. Qubole simplifies provisioning, managing and scaling of big data analytics workloads leveraging data stored on AWS, Google, or Azure Cloud environments. Once IT sets policies, any number of data analysts can be set free to collaboratively “click to query” with the power of Hive, Spark, Presto and many other of a growing list of data processing engines. Our platform, Qubole Data Service (QDS), delivers these best-in-class Apache tools integrated into an enterprise-feature rich platform optimized to run in the cloud at petabyte+ scale.</p>'
          }
        ]
    }
  ]
%}
