{%
  set sponsors = [
    {
      'category': 'Bronze',
      'list': [
        {
          'name': 'Qubole'
          , 'web': {
              'link': 'http://www.qubole.com/'
            , 'display': 'Qubole'
          }
          , 'logo': {
              'url': 'https://imgee.s3.amazonaws.com/imgee/2e61f5f4d8ca445b843e3456877563c1.png'
            , 'orientation': 'landscape'
            , 'size': 'm'
          }
          , 'blurb': '<p>Qubole was launched in 2013 by Ashish Thusoo and Joydeep Sen Sarma of the Facebook Data Service Team and authors of Apache Hive. Qubole simplifies provisioning, managing and scaling of big data analytics workloads leveraging data stored on AWS, Google, or Azure Cloud environments. Once IT sets policies, any number of data analysts can be set free to collaboratively “click to query” with the power of Hive, Spark, Presto and many other of a growing list of data processing engines. Our platform, Qubole Data Service (QDS), delivers these best-in-class Apache tools integrated into an enterprise-feature rich platform optimized to run in the cloud at petabyte+ scale.</p>'
        },
        {
          'name': 'MathWorks'
          , 'web': {
              'link': 'http://in.mathworks.com/'
            , 'display': 'MathWorks'
          }
          , 'logo': {
              'url': 'https://images.hasgeek.com/embed/file/0386a5e4422e4a5f89862f84a5013ca9'
            , 'orientation': 'landscape'
            , 'size': 'm'
          }
          , 'blurb': '<p></p>'
        },
        {
          'name': 'Aerospike'
          , 'web': {
              'link': 'http://www.aerospike.com/'
            , 'display': 'Aerospike'
          }
          , 'logo': {
              'url': 'https://images.hasgeek.com/embed/file/900606d3ae744d9bb4d01d46a6af9bac'
            , 'orientation': 'landscape'
            , 'size': 'm'
          }
          , 'blurb': '<p>Aerospike is the high-performance NoSQL database that delivers speed at scale. Aerospike is purpose-built for the real-time transactional workloads that support mission-critical applications. These workloads have the mandate to deliver informed and immediate decisions for industries like financial services, adtech, and e-commerce. Aerospike’s unique combination of speed, scale, and reliability delivers 10x performance at 1/10th the cost compared to other databases. For more information, visit <a href="http://www.aerospike.com/" target="_blank">aerospike.com</a>.</p>'
        }
      ]
    }
  ]
%}
