{# Posters should be 350x197 image #}
{%
  set talks = [
    {
        'name': 'Anand Chandrasekaran',
        'designation': 'CTO of Mad Street Den',
        'title': 'Deep learning: A convoluted overview with recurrent themes and beliefs',
        'photo': ['https://images.hasgeek.com/embed/file/3acad27b50e949e0a054d1a302671636'],
        'funnel': 'https://fifthelephant.talkfunnel.com/deep-learning-2016/7-deep-learning-a-convoluted-overview-with-recurrent',
        'blurb': '<p>Dr Anand Chandrasekaran\'s keynote will take us through the history and origin of Deep Learning from the early hype over "Artificial Intelligence", through the hand-crafted algorithms of "traditional" machine learning, to the beginning of actual "deep" learning with hierarchical models, and touch upon the dominant concepts that shape its practice today.</p>'
    },
    {
        'name': 'Sundara R Nagalingam',
        'designation': 'Head of Manufacturing and Energy businesses for NVIDIA India',
        'title': 'Recent advancements in Deep Learning techniques using GPUs',
        'photo': ['https://images.hasgeek.com/embed/file/38e0615e0d8841f7885d7211c77feee7'],
        'funnel': 'https://fifthelephant.talkfunnel.com/deep-learning-2016/22-recent-advancements-in-deep-learning-techniques-us',
        'blurb': '<p>NVIDIA\'s Sundara Nagalingam will give an overview of a modern Deep Learning stack (software and hardware), advances in GPU computation, and modern tools like CuDNN, CuSPARSE, cuBLAS, DIGITS-NCCL to improve intranode and internode scaling.</p>'
    },
    {
        'name': 'Vijay Gabale',
        'designation': 'Co-founder and CTO of Infilect',
        'title': 'Deep Dive Into Building Chat-bots Using Deep Learning',
        'photo': ['https://images.hasgeek.com/embed/file/088f00961403417c92a03f06424fd8aa'],
        'funnel': 'https://fifthelephant.talkfunnel.com/deep-learning-2016/8-deep-dive-into-building-chat-bots-using-deep-learn',
        'blurb': '<p>Vijay Gabale will walk us through the components of building a chat bot for conversational search: intent extraction, dialogue generation, meaningful search, and assistance based conversation, and the relevant Deep Learning techniques, displaying a functioning example.</p>'
    },
    {
        'name': 'Abhishek Thakur',
        'designation': 'Senior Data Scientist at Searchmetrics Inc.',
        'title': 'Applied Deep Learning',
        'photo': ['https://images.hasgeek.com/embed/file/67bf719819f047509dc7887549a559a5'],
        'funnel': 'https://fifthelephant.talkfunnel.com/deep-learning-2016/17-applied-deep-learning',
        'blurb': '<p>Abhishek Thakur will give an overview of current advances in the field of Deep Learning and neural networks, the implementation of deepnets using python, and illustrate the use of python with keras and Caffe.</p>'
    }
  ]
%}

{%
  set workshops = [
    {
        'name': 'Nischal and Raghotham',
        'designation': 'Co-Founders, Unnati Data Labs',
        'photo': ['https://images.hasgeek.com/embed/file/ebe7d1044599405daf5eb61d17a00ec0', 'https://images.hasgeek.com/embed/file/fee1a362872e4885bf53fa8f9504181e'],
        'title': 'Introduction to Deep Learning for Natural Language Processing',
        'funnel': 'https://fifthelephant.talkfunnel.com/deep-learning-2016/2-introduction-to-deep-learning-for-natural-language',
        'blurb': '<p>A hands-on introduction to Deep Learning for natural language processing covering common Deep Learning architectures. Understand the basic building blocks of neural networks, supervised learning using multi-layer perceptrons and recurrent neural networks (RNNs), word embeddings using word2vec and text classification using RNNs, and the impact of GPUs on Deep Learning.</p>'
    },
    {
        'name': 'Anand Chandrasekaran',
        'designation': 'CTO of Mad Street Den',
        'photo': ['https://images.hasgeek.com/embed/file/3acad27b50e949e0a054d1a302671636'],
        'title': 'Deep Learning for Computer Vision',
        'funnel': 'https://fifthelephant.talkfunnel.com/deep-learning-2016/26-deep-learning-for-computer-vision',
        'blurb': '<p>An introduction to the nuts and bolts of Deep Learning in computer vision, from neurons to networks. Get familiar with the entire spectrum of of usable networks, from RBMs to CNNs to RNNs, how they\'re used in computer vision, what works and what doesn\'t, and the fundamentals on training Deep Learning networks on existing frameworks as well as GPUs. Participants will have access to AWS ec2 GPU instances for training and testing.</p>'
    }
  ]
%}