{# Posters should be 350x197 image #}
{%
  set talks = [
      {
        'title': 'Extracting consumer trends in real time using 100 billion tweets'
      , 'funnel': 'http://funnel.hasgeek.com/fifthel2013/650-extracting-consumer-trends-in-real-time-using-100-billion-tweets'
      , 'summary': '<p>Connected consumers express everything they feel about products, services and brands in social media. How consumers feel and engage with products is very important for retailers to make better merchandizing decisions.</p><p>This talk will outline one such system built to analyze 13 months of twitter data amounting to ~100B tweets. The talk will describe a system to extract volume, sentiment, geo trends and related words about any arbitrary topic (defined as a boolean query) from a corpus on 100B tweets increasing at ~500M a day.</p><p>This solution was developed using open source technologies such as hadoop, hive, hamake, sold and mupd8.</p>'
      , 'preview': {
          'poster': 'img/video-posters/pankaj.jpg'
        , 'link': 'http://hasgeek.tv/fifthelephant/2013-previews/565-extracting-consumer-trends-in-real-time-using-100-billion-tweets'
      }
      , 'speaker': {
          'name': 'Pankaj Risbood'
        , 'photo': 'img/speakers/pankaj_risbood.jpg'
      }
    }
    , {
        'title': 'Latency and Fault tolerance in OLTP @ 1.5 billion/day service calls'
      , 'funnel': 'http://funnel.hasgeek.com/fifthel2013/661-latency-and-fault-tolerance-in-oltp-1-5-billion-day-service-calls'
      , 'summary': '<p>User perceived Availability and Experience is important for any eCommerce site. Achieving this is not easy for distributed systems that run multiple platforms and access multiple resources, data sources. The data sources span MySQL, Key-Value stores and Columnar databases storing OLTP data to the order of tens of millions.</p><p>This talk describes how Flipkart built its website to manage Latency and Fault tolerance at scale - millions of requests amounting to 1.5 billion service calls per day. The talk will also feature a demo of the Service Proxy.</p>'
      , 'preview': {
          'poster': 'img/video-posters/regunath.jpg'
        , 'link': 'http://hasgeek.tv/fifthelephant/2013-previews/566-latency-and-fault-tolerance-in-oltp-1-5-billion-day-service-calls'
      }
      , 'speaker': {
          'name': 'Regunath Balasubramanian'
        , 'photo': 'img/speakers/regunath_balasubramanian.jpg'
      }
    }
    , {
        'title': 'Interactive analysis of data live, using Pandas, Matplotlib and IPython'
      , 'funnel': 'http://funnel.hasgeek.com/fifthel2013/685-interactive-analysis-of-data-live-using-pandas-matplotlib-and-ipython'
      , 'summary': '<p>This is a live coding session to analyse various datasets using Pandas and plotting them in an IPython notebook.</p><p>There has been a surge in the development of SciPy tools. The adoption of these tools has seen an unprecedented increase recently because they can be used for both interactive analysis and run in production.</p><p>This session will give the audience a short tour of the data analysis and visualisation using some of these scientific python tools by doing live analysis on different datasets.</p>'
      , 'preview': {
          'poster': 'img/video-posters/lakshman.jpg'
        , 'link': 'http://hasgeek.tv/fifthelephant/2013-previews/570-interactive-analysis-of-data-live-using-pandas-matplotlib-and-ipython'
      }

      , 'speaker': {
          'name': 'Lakshman Prasad'
        , 'photo': 'img/speakers/lakshman_prasad.jpg'
      }
    }
    , {
        'title': 'Neo4j Graphs: What, When, How'
      , 'funnel': 'http://funnel.hasgeek.com/fifthel2013/682-neo4j-graphs-what-when-how'
      , 'summary': "<p>Google's knowledge graph, Facebook's graph search and Amazon's recommendation engine are hugely successful applications of basic graph theory. This talk will take you through Neo4j, the world's leading graph database, to understand what graphs offers and how to use them in real applications.</p><p>The talk will provide a basic introduction to Neo4j and graph databases, placing them in context of NOSQL and Big Data. The speaker will then explore a few business use cases which illustrate different advantages of using graphs. While some technical details will be covered in this talk, the focus will be on understanding what a graph database is, when to use one, and how it helps.</p><p>By the end of the talk, you will leave with an understanding of what a graph database is, what advantages it can offer, and when to use one.</p>"
      , 'speaker': {
          'name': 'Andreas Kollegger'
        , 'photo': 'img/video-posters/andreas.jpg'
      }
    }
  ]
%}