{# Posters should be 350x197 image #}
{%
  set talks = [
    {
      'speaker': {
        'name': 'Tim Poston' ,
        'designation': 'Chief Scientist at Forus Health' ,
        'photo': 'img/speakers/tim_poston.jpg'
      }
    },
    {
      'speaker': {
        'name': 'Amod Malviya' ,
        'designation': 'CTO at Flipkart' ,
        'photo': 'img/speakers/amod_malviya.jpg'
      }
    },
    {
      'speaker': {
        'name': 'Shalin Mangar' ,
        'designation': 'Engineer at LucidWorks' ,
        'photo': 'img/speakers/shalin_mangar.jpg'
      }
    },
    {
      'speaker': {
        'name': 'Viral B. Shah' ,
        'designation': 'Founding partner at Julia Computing' ,
        'photo': 'img/speakers/viral_shah.jpg'
      }
    }
  ]
%}