{%
  set timeline = [
    {
        'date': 'May 3'
      , 'type': 'past'
      , 'events': [
        {
            'city': 'Bangalore'
          , 'url': 'runup-bangalore'
        }
      ]
    }
    , {
        'date': 'May 23'
      , 'type': 'past'
      , 'events': [
        {
            'city': 'Bangalore'
          , 'url': 'indian-elections-and-technology'
        }
      ]
    }
    , {
        'date': 'June 7'
      , 'type': 'upcoming'
      , 'events': [
          {
            'city': 'Mumbai'
          , 'url': 'machine-learning-mumbai'
        }
        , {
            'city': 'Bangalore'
          , 'url': 'hadoop-and-friends'
        }
      ]
    }
    , {
        'date': 'June 14'
      , 'type': 'upcoming'
      , 'events': [
        {
            'city': 'Delhi'
          , 'url': 'data-journalism'
        }
      ]
    }
    , {
        'date': 'June 21'
      , 'type': 'upcoming' 
      , 'events': [
        {
            'city': 'Bangalore'
          , 'url': 'opensource-storage-for-bigdata'
        }
      ]
    }
    , {
        'date': 'June 28'
      , 'type': 'upcoming'
      , 'events': [
        {
            'city': 'Hyderabad'
          , 'url': 'data-visualization'
        }
      ]
    }
    , {
        'date': 'July 5'
      , 'type': 'upcoming'
      , 'events': [
        {
            'city': 'Pune'
          , 'url': 'machine-learning-pune'
        }
        , {
            'city': 'Bangalore'
          , 'url': 'the-internet-of-things'
        }
      ]
    }
    , {
        'date': 'July 12'
      , 'type': 'upcoming'
      , 'events': [
        {
            'city': 'Chennai'
          , 'url': 'data-analytics'
        }
      ]
    }
  ]
%}