{# Posters should be 350x197 image #}
{%
  set workshops = [
      {
        'title': 'Simplifying Advanced Analytics to Empower Business Managers'
      , 'funnel': 'http://funnel.hasgeek.com/5el/412-simplifying-advanced-analytics-to-empower-business-managers'
      , 'summary': '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>'
      , 'preview': {
          'poster': 'img/video-posters/anand.jpg'
        , 'link': 'http://hasgeek.tv/fifthelephant/2012-1/43-visualising-text'
      }
      , 'speaker': {
          'name': 'Prithvijit Roy'
        , 'photo': 'img/bios/ashok.jpg'
      }
    }
    , {
        'title': 'Linked Tag Clouds, Trend Clouds and Other Tools'
      , 'funnel': 'http://funnel.hasgeek.com/5el/356-linked-tag-clouds-trend-clouds-and-other-tools'
      , 'summary': '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>'
      , 'preview': {
          'poster': 'img/video-posters/aadhar.jpg'
        , 'link': 'http://hasgeek.tv/fifthelephant/2012-2/64-dr-pramod-varma-and-regunath-balasubramanian-big-data-at-aadhaar'
      }
      , 'speaker': {
          'name': 'Dorai Thodla'
        , 'photo': 'img/bios/ashok.jpg'
      }
    }
    , {
        'title': 'Predicting Repeat Purchase Behavior by using Bayesian Hierarchical model and Regression Techniques'
      , 'funnel': 'http://funnel.hasgeek.com/5el/398-i-know-what-you-are-going-to-do-next-summer-predicting-repeat-purchase-behavior-by-using-bayesian-hierarchical-model-and-regression-techniques'
      , 'summary': '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>'
      , 'preview': {
          'poster': 'img/video-posters/karthik.jpg'
        , 'link': 'http://hasgeek.tv/fifthelephant/2012-2/61-karthik-visweswariah-building-watson-a-brief-overview-of-deepqa-and-the-jeopardy-challenge'
      }
      , 'speaker': {
          'name': 'Dorai Thodla'
        , 'photo': 'img/bios/ashok.jpg'
      }
    }
    , {
        'title': 'Deciphering the organization DNA - mining internal data'
      , 'funnel': 'http://funnel.hasgeek.com/fifthel2013/663-deciphering-the-organization-dna-mining-internal-data'
      , 'summary': '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>'
      , 'preview': {
          'poster': 'img/video-posters/ashok.jpg'
        , 'link': 'http://hasgeek.tv/fifthelephant/2012-2/62-ashok-banerjee-exponential-growth-models'
      }
      , 'speaker': {
          'name': 'Ritesh Nayak'
        , 'photo': 'img/bios/ashok.jpg'
      }
    }
    , {
        'title': 'Latency and Fault tolerance in OLTP @ 1.5 billion/day service calls'
      , 'funnel': 'http://funnel.hasgeek.com/fifthel2013/661-latency-and-fault-tolerance-in-oltp-1-5-billion-day-service-calls'
      , 'summary': '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>'
      , 'preview': {
          'poster': 'img/video-posters/anand.jpg'
        , 'link': 'http://hasgeek.tv/fifthelephant/2012-1/43-visualising-text'
      }
      , 'speaker': {
          'name': 'Regunath Balasubramanian'
        , 'photo': 'img/bios/ashok.jpg'
      }
    }
    , {
        'title': 'Julia: A fresh approach to technical computing and data science'
      , 'funnel': 'http://funnel.hasgeek.com/fifthel2013/655-julia-a-fresh-approach-to-technical-computing-and-data-science'
      , 'summary': '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>'
      , 'speaker': {
          'name': 'Viral B. Shah'
        , 'photo': 'img/bios/ashok.jpg'
      }
    }
    , {
        'title': 'Extracting consumer trends in real time using 100 billion tweets.'
      , 'funnel': 'http://funnel.hasgeek.com/fifthel2013/650-extracting-consumer-trends-in-real-time-using-100-billion-tweets'
      , 'summary': '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>'
      , 'speaker': {
          'name': 'Pankaj Risbood'
        , 'photo': 'img/bios/ashok.jpg'
      }
    }
    , {
        'title': 'Extracting consumer trends in real time using 100 billion tweets.'
      , 'funnel': 'http://funnel.hasgeek.com/fifthel2013/650-extracting-consumer-trends-in-real-time-using-100-billion-tweets'
      , 'summary': '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>'
      , 'speaker': {
          'name': 'Pankaj Risbood'
      }
    }
    , {
        'title': 'Extracting consumer trends in real time using 100 billion tweets.'
      , 'funnel': 'http://funnel.hasgeek.com/fifthel2013/650-extracting-consumer-trends-in-real-time-using-100-billion-tweets'
      , 'summary': '<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>'
      , 'speaker': {
          'name': 'Pankaj Risbood'
      }
    }
  ]
%}