{# Posters should be 350x197 image #}
{%
  set talks = [
    {
        'title': 'Real world machine learning'
      , 'funnel': 'https://funnel.hasgeek.com/fifthel2014/1183-real-world-machine-learning'
      , 'summary': '<p>Machine learning has evolved to a very popular, rapidly changing, sometimes over-hyped domain with extremely diverse set of ideas. Discussion about machine learning often tends to get lost into jargon of tools, market buzzwords, libraries and diverted from real purpose which is insights! This workshop will focus on insights and practical applications.</p>'
      , 'speaker': {
          'name': 'Harshad Saykhedkar'
        , 'designation': 'Data scientist at Sokrati'
        , 'photo': 'img/speakers/harshad_saykhedkar.jpg'
      }
    }
    , {
        'title': 'Machine Learning using R : Crash course in Classification Methods'
      , 'funnel': 'https://funnel.hasgeek.com/fifthel2014/1158-machine-learning-using-r-crash-course-in-classific'
      , 'summary': '<p>The aim is to provide the attendees with an overview (implementation-wise) of some of the major classification methods using R. The focus of the workshop will be on breadth rather than depth. A lot of methods will be introduced, but their mathematical properties won’t be discussed in detail.</p>'
      , 'speaker': {
          'name': 'Bargava Subramanian'
        , 'designation': 'Data Analytics professional at Cisco'
        , 'photo': 'img/speakers/bargava_subramanian.jpg'
      }
    }
    , {
        'title': 'Building distributed search applications using Apache SOLR'
      , 'funnel': 'https://funnel.hasgeek.com/fifthel2014/1125-building-distributed-search-applications-using-apa'
      , 'summary': '<p>The objective of this workshop is to introduce attendees with most common features of a search application and how to implement them using Apache Solr. The workshop will also cover how to scale the application by leveraging SolrCloud.</p>'
      , 'preview': {
          'poster': 'img/speakers/saumitra_srivastav.jpg'
        , 'link': 'https://www.youtube.com/watch?v=iVaVC-uD6JY'
      }
      , 'speaker': {
          'name': 'Saumitra Srivastav'
        , 'designation': 'Engineer at Glassbeam'
        , 'photo': 'img/speakers/saumitra_srivastav.jpg'
      }
    }
    
  ]
%}