{# Posters should be 350x197 image #}
{%
  set talks = [
    {
        'title': 'Understanding supervised machine learning hands on!'
      , 'funnel': 'https://fifthelephant.talkfunnel.com/2015/16-understanding-supervised-machine-learning-hands-on'
      , 'summary': '<p>If you have ever been in a “black box” operating mode where you are throwing more data/complex models at a machine learning problem without a clue about why it is working or not working, this workshop is for you! The workshop will primarily focus on understanding supervised machine learning.</p>'
      , 'speaker': {
          'name': 'Harshad Saykhedkar'
        , 'designation': 'Data scientist at Sokrati'
        , 'photo': 'img/speakers/harshad_saykhedkar.jpg'
      }
    },
    {
        'title': 'Introduction to Deep Learning'
      , 'funnel': 'https://fifthelephant.talkfunnel.com/2015/10-introduction-to-deep-learning'
      , 'summary': '<p>In fields like computer vision, speech recognition and natural language processing, deep learning has produced state-of-art results. And they are showing lot of promise in other fields too. This workshop will provide an introduction to deep learning. It would cover some of the common deep learning architectures, advantages and concerns, along with some hands-on.</p>'
      , 'speaker': {
          'name': 'Bargava Subramanian'
        , 'designation': 'Data Analytics professional at Cisco'
        , 'photo': 'img/speakers/bargava_subramanian.jpg'
      }
    }
  ]
%}