html, body {
  background: #f3f3f3 url('../img/stucco.png?1330691711') repeat top left;
}

body, p {
  font-family: "ff-tisa-web-pro", Georgia, serif;
}

h1.primary {
  font-family: bree-serif, Georgia, serif;
  font-size: 80px;
  line-height: 1;
  color: white;
  margin: 0 0 0.5em;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}
h1.primary .h1-the {
  font-size: 90%;
}

.header {
  padding-bottom: 3em;
  margin-bottom: 4em;
  background: #444444 url('../img/patterns/classy_fabric.png?1338925058') repeat top left;
}

.section {
  padding: 3em 0;
  margin: 0;
}
.section h2 {
  font-family: bree-serif, Georgia, sans-serif;
  font-size: 4em;
  line-height: 1.2;
  margin: 0 0 1.2em;
  text-align: center;
  font-weight: 500;
  color: black;
  text-shadow: white 0px 1px 0px, #999999 0px -1px 0px;
}
.section h3 {
  font-size: 1em;
  margin: 0.4em 0 1em;
  color: gray;
}
.section hr.divider {
  margin: 5em 0 0;
}

.btn {
  font-family: Lato, sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.btn i {
  text-transform: none;
}

.btn-register {
  background: #7a990c;
  border-color: #7a990c;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-register:hover {
  background: #006699;
  border-color: #006699;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.banner .btn-register {
  width: 70%;
  margin: 2em auto 1em;
  display: block;
  line-height: 1.5;
  padding: 0.5em 0 0.75em;
  max-width: 23em;
}

.sponsor {
  padding: 1em;
  margin-bottom: 2.5em;
  background: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -moz-box-shadow: 1px 1px 2px #bbbbbb;
  -webkit-box-shadow: 1px 1px 2px #bbbbbb;
  -o-box-shadow: 1px 1px 2px #bbbbbb;
  box-shadow: 1px 1px 2px #bbbbbb;
}
.sponsor.open {
  background: #e3e3e3;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.sponsor.empty {
  background: rgba(200, 200, 200, 0.2);
  -moz-box-shadow: inset 1px 1px 1px #bbbbbb;
  -webkit-box-shadow: inset 1px 1px 1px #bbbbbb;
  -o-box-shadow: inset 1px 1px 1px #bbbbbb;
  box-shadow: inset 1px 1px 1px #bbbbbb;
}
.sponsor:after {
  font-size: 10px;
  position: absolute;
  margin-top: 0.5em;
  top: 100%;
  right: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #bbbbbb;
}
.sponsor .logo {
  text-align: center;
  vertical-align: middle;
  margin: 0;
}
.sponsor .logo img {
  max-height: 100%;
  width: auto;
  vertical-align: middle;
}

.sponsor-platinum .logo {
  height: 250px;
  line-height: 250px;
}

.sponsor-gold .logo {
  height: 150px;
  line-height: 150px;
}

.sponsor-silver .logo {
  height: 100px;
  line-height: 100px;
}

.sponsor-bronze .logo {
  height: 75px;
  line-height: 75px;
}

.sponsor-community .logo {
  height: 50px;
  line-height: 50px;
}

.sponsor-platinum:after {
  content: "Platinum";
}

.sponsor-gold:after {
  content: "Gold";
}

.sponsor-silver:after {
  content: "Silver";
}

.sponsor-bronze:after {
  content: "Bronze";
}

.sponsor-community:after {
  content: "Community";
}
