body, p {
  font-family: ff-tisa-web-pro, Georgia, serif;
}

h2, h3 {
  font-family: ff-tisa-web-pro, Georgia, serif;
  color: black;
}

#masthead {
  margin-top: 31px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 6px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: url('../img/2012/masthead-wide.jpg?1340024990');
  height: 472px;
  position: relative;
}

#banner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 6px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  width: 450px;
  padding: 30px 25px 25px;
  text-align: center;
}
#banner h1 {
  font-family: bree-serif, Georgia, serif;
  font-weight: normal;
  font-size: 80px;
  line-height: 1;
  color: black;
  text-shadow: white 0 1px 10px;
}
#banner h1 .h1-the {
  font-size: 90%;
}
#banner h2, #banner h3 {
  margin-top: 0;
}

.section {
  margin: 0;
}
.section h2 {
  font-family: bree-serif, Georgia, sans-serif;
  font-weight: normal;
  font-size: 4em;
  line-height: 1.2;
  text-align: center;
  color: black;
  text-shadow: white 0px 1px 0px, #999999 0px -1px 0px;
}
.section h3 {
  font-size: 1em;
  margin: 0.4em 0 1em;
  color: gray;
}
.section hr.divider {
  margin: 5em 0 0;
}

#banner .btn-register {
  width: 70%;
  margin: 2em auto 1em;
  display: block;
  line-height: 1.5;
  padding: 0.5em 0 0.75em;
  max-width: 23em;
}

.navbar .nav {
  float: none;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  margin-right: 0;
  width: 100%;
  border-bottom: 6px solid black;
  border-radius: 4px;
}
.navbar .nav > li {
  display: inline-block;
  float: none;
  font-size: 20px;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-box;
  display: box;
  -moz-box-flex: 1;
  -webkit-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
  -moz-box-pack: center;
  -webkit-box-pack: center;
  -ms-box-pack: center;
  box-pack: center;
}
.navbar .nav > li > a {
  display: block;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: black;
}
.navbar .nav > li:hover, .navbar .nav > li:hover > a {
  color: white;
  background: black;
  text-decoration: none;
}

.sharp-bottom-left {
  -moz-border-radius-bottomleft: 0 !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -o-border-bottom-left-radius: 0 !important;
  -ms-border-bottom-left-radius: 0 !important;
  -khtml-border-bottom-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.sharp-bottom-right {
  -moz-border-radius-bottomright: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -o-border-bottom-right-radius: 0 !important;
  -ms-border-bottom-right-radius: 0 !important;
  -khtml-border-bottom-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.sponsor {
  padding: 1em;
  margin-bottom: 2.5em;
  background: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -moz-box-shadow: 1px 1px 2px #bbbbbb;
  -webkit-box-shadow: 1px 1px 2px #bbbbbb;
  -o-box-shadow: 1px 1px 2px #bbbbbb;
  box-shadow: 1px 1px 2px #bbbbbb;
}
.sponsor.open {
  background: #e3e3e3;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.sponsor.empty {
  background: rgba(200, 200, 200, 0.2);
  -moz-box-shadow: inset 1px 1px 1px #bbbbbb;
  -webkit-box-shadow: inset 1px 1px 1px #bbbbbb;
  -o-box-shadow: inset 1px 1px 1px #bbbbbb;
  box-shadow: inset 1px 1px 1px #bbbbbb;
}
.sponsor:after {
  font-size: 10px;
  position: absolute;
  margin-top: 0.5em;
  top: 100%;
  right: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #bbbbbb;
}
.sponsor .logo {
  text-align: center;
  vertical-align: middle;
  margin: 0;
}
.sponsor .logo img {
  max-height: 100%;
  width: auto;
  vertical-align: middle;
}

.sponsor-platinum .logo {
  height: 250px;
  line-height: 250px;
}

.sponsor-gold .logo {
  height: 150px;
  line-height: 150px;
}

.sponsor-silver .logo {
  height: 100px;
  line-height: 100px;
}

.sponsor-bronze .logo {
  height: 75px;
  line-height: 75px;
}

.sponsor-community .logo {
  height: 50px;
  line-height: 50px;
}

.sponsor-platinum:after {
  content: "Platinum";
}

.sponsor-gold:after {
  content: "Gold";
}

.sponsor-silver:after {
  content: "Silver";
}

.sponsor-bronze:after {
  content: "Bronze";
}

.sponsor-community:after {
  content: "Community";
}

#venue .spread {
  background: #333333;
  position: relative;
  overflow: hidden;
}
#venue .map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;
  height: auto;
  width: auto;
  z-index: 0;
  border-top: 1px solid #cccccc;
}
#venue .details {
  position: relative;
  z-index: 10;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em 1.5em 2em 2em;
  color: #eeeeee;
  background: #333333;
  background: rgba(50, 50, 50, 0.95);
}

.leaflet-popup-content-wrapper {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
}

.leaflet-popup-content {
  margin: 12px 25px 12px 15px;
}
