body, p {
  font-family: ff-tisa-web-pro, Georgia, serif;
}

h2, h3 {
  font-family: ff-tisa-web-pro, Georgia, serif;
  color: black;
}

#masthead {
  margin-top: 31px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 6px solid black;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: url('../img/2012/masthead-wide.jpg?1340024990');
  height: 472px;
  position: relative;
}

#banner {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: white;
  background: rgba(255, 255, 255, 0.9);
  border: 6px solid black;
  position: absolute;
  top: 25px;
  right: 25px;
  bottom: 25px;
  width: 450px;
  padding: 30px 25px 25px;
  text-align: center;
}
#banner h1 {
  font-family: bree-serif, Georgia, serif;
  font-weight: normal;
  font-size: 80px;
  line-height: 1;
  color: black;
  text-shadow: white 0 1px 10px;
}
#banner h1 .h1-the {
  font-size: 90%;
}
#banner h2, #banner h3 {
  margin-top: 0;
}

.section {
  margin: 0;
}
.section h2 {
  font-family: bree-serif, Georgia, sans-serif;
  font-weight: normal;
  font-size: 4em;
  line-height: 1.2;
  margin: 0 0 1.2em;
  text-align: center;
  color: black;
  text-shadow: white 0px 1px 0px, #999999 0px -1px 0px;
}
.section h3 {
  font-size: 1em;
  margin: 0.4em 0 1em;
  color: gray;
}
.section hr.divider {
  margin: 5em 0 0;
}

#banner .btn-register {
  width: 70%;
  margin: 2em auto 1em;
  display: block;
  line-height: 1.5;
  padding: 0.5em 0 0.75em;
  max-width: 23em;
}

.sponsor {
  padding: 1em;
  margin-bottom: 2.5em;
  background: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  -moz-box-shadow: 1px 1px 2px #bbbbbb;
  -webkit-box-shadow: 1px 1px 2px #bbbbbb;
  -o-box-shadow: 1px 1px 2px #bbbbbb;
  box-shadow: 1px 1px 2px #bbbbbb;
}
.sponsor.open {
  background: #e3e3e3;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
.sponsor.empty {
  background: rgba(200, 200, 200, 0.2);
  -moz-box-shadow: inset 1px 1px 1px #bbbbbb;
  -webkit-box-shadow: inset 1px 1px 1px #bbbbbb;
  -o-box-shadow: inset 1px 1px 1px #bbbbbb;
  box-shadow: inset 1px 1px 1px #bbbbbb;
}
.sponsor:after {
  font-size: 10px;
  position: absolute;
  margin-top: 0.5em;
  top: 100%;
  right: 0;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #bbbbbb;
}
.sponsor .logo {
  text-align: center;
  vertical-align: middle;
  margin: 0;
}
.sponsor .logo img {
  max-height: 100%;
  width: auto;
  vertical-align: middle;
}

.sponsor-platinum .logo {
  height: 250px;
  line-height: 250px;
}

.sponsor-gold .logo {
  height: 150px;
  line-height: 150px;
}

.sponsor-silver .logo {
  height: 100px;
  line-height: 100px;
}

.sponsor-bronze .logo {
  height: 75px;
  line-height: 75px;
}

.sponsor-community .logo {
  height: 50px;
  line-height: 50px;
}

.sponsor-platinum:after {
  content: "Platinum";
}

.sponsor-gold:after {
  content: "Gold";
}

.sponsor-silver:after {
  content: "Silver";
}

.sponsor-bronze:after {
  content: "Bronze";
}

.sponsor-community:after {
  content: "Community";
}
