html,
body,
button,
input,
select,
textarea { color: #222; }
body {
    font-size: inherit;
    line-height: inherit;
    background: #FFF;
}

abbr.silent { border-bottom: 0; }

a,
a:visited   {
    color: #D44;
    text-decoration: none;
}

.fill-dark a,
.fill-dark a:visited   {
    color: #E55;
    text-decoration: none;
}


.prose a,
.prose a:visited,
.highlight-links a,
.highlight-links a:visited { border-bottom: 1px dotted #D44; }

a:hover         { border-bottom: 2px solid #D44; }
a.spooky:hover  { border-bottom: 1px dotted rgba(0,0,0,.3) !important; }

.links-prevent-hover-highlight a:hover,
a.unhighlight,
a.unhighlight:visited,
a.unhighlight:hover { border-bottom: 0; }

a.spooky,
a.block-link { color: inherit !important; border-bottom: none !important; background-color: transparent !important; outline: none !important; }
a.block-link:hover { color: #D44 !important; outline: none; }
.fill-dark a.block-link:hover { color: #E55 !important; }

a.link-silent-hover:hover { color: inherit !important; outline: none !important; background-color: transparent !important; }
a.link-white-hover:hover  { color: #FFF !important; }
a.link-white-translucent-hover:hover  { color: rgba(255,255,255,.95) !important; }

.faded a,
a.faded { color: inherit; border-color: rgba(0,0,0,.3) !important; }
.fill-dark .faded a { color: inherit; border-color: rgba(255,255,255,.3); }

hr {
    display: block; clear: both; height: 0; margin: 0; padding: 0;
    
    border: none;
    border-top: 1px solid #000;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid #FFF;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    
    filter: alpha(opacity = 30);
}



/*  Colours  */

.faded      { color: rgba(0,0,0,0.6)  !important; }
.ultrafaded { color: rgba(0,0,0,0.35) !important; }
.white      { color: #FFF; }
img.ultrafaded { opacity: 0.35 }

.fill-fixme     { background-color: rgba(255,255,0,0.3) }
.fill-light     { background-color: #EEE }
.fill-silver    { background-color: #DDD }
.fill-dark      { background-color: #222; color: #F6F6F6 }
.fill-white     { background-color: #FFF; color: #222222 }
.fill-yellow    { background-color: #FFCC66; }

.fill-dark .faded       { color: rgba(255,255,255,0.6) !important; }
.fill-dark .ultrafaded  { color: rgba(255,255,255,0.35) !important; }


a.link-unfade-hover:hover,
.link-unfade-hover:hover img.ultrafaded { opacity: 1; }

.big-data {
    background-image: url(../img/circus-banner-500.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 2800px;
    max-width: 1960px;
    width: 95%;
    padding-top: 66.5%;
    margin-bottom: 10%;
}
@media  only screen
        and (-webkit-min-device-pixel-ratio: 1.5)
        and (min-width: 251px)
        and (max-width: 400px),
        only screen
        and (min-device-pixel-ratio: 1.5)
        and (min-width: 251px)
        and (max-width: 400px) {
    .big-data { background-image: url(../img/circus-banner-800.png); }
}
@media only screen and (min-width: 501px) and (max-width: 880px) { 
    .big-data {
        background-image: url(../img/circus-banner-800.png);
        margin-bottom: 7.5%; 
        width: 90%;
        padding-top: 63%;
    }
}
@media  only screen
        and (-webkit-min-device-pixel-ratio: 1.5)
        and (min-width: 401px)
        and (max-width: 550px),
        only screen
        and (min-device-pixel-ratio: 1.5)
        and (min-width: 401px)
        and (max-width: 550px) {
    .big-data { background-image: url(../img/circus-banner-1100.png); }
}
@media  only screen
        and (-webkit-min-device-pixel-ratio: 1.5)
        and (min-width: 551px)
        and (max-width: 880px),
        only screen
        and (min-device-pixel-ratio: 1.5)
        and (min-width: 551px)
        and (max-width: 880px) {
    .big-data { background-image: url(../img/circus-banner-1600.png); }
}
@media only screen and (min-width: 881px) and (max-width: 1370px) { 
    .big-data {
        background-image: url(../img/circus-banner-1100.png);
        margin-bottom: 5%;
        width: 80%;
        padding-top: 56%;
    }
}
@media only screen and (min-width: 1371px) and (max-width: 2280px) { 
    .big-data {
        background-image: url(../img/circus-banner-1600.png);
        width: 70%;
        padding-top: 49%;
    }
}
@media  only screen and (min-width: 2281px),
        only screen
        and (-webkit-min-device-pixel-ratio: 1.5)
        and (min-width: 881px),
        only screen
        and (min-device-pixel-ratio: 1.5)
        and (min-width: 881px) {
    .big-data { background-image: url(../img/circus-banner-2800.png); }
}

.hasgeek-logo { 
    background: url('../img/hasgeek.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    width: 100px;
}

/*  Keeping sponsor tiles well behaved  */

.js .sponsors dt.platinum,
.js .sponsors dt.gold,
.js .sponsors dt.silver,
.js .sponsors dt.community,
.js .sponsors dt.corporate-tickets { clear: left; }
@media only screen and (min-width: 30em) { }
@media only screen and (min-width: 40em) { 
    .js .sponsors dt.community { clear: none; }
    .js .sponsors dd.community:nth-of-type(24):after {
        content: ' ';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #FBEFF2;
        background-color: rgba(251,239,242,.85);
        top: 0;
        left: 100%;
        outline: 1px solid rgba(255,255,255,.2);
    }
}
@media only screen and (min-width: 45em) {
    .js .sponsors dt.corporate-tickets { clear: left; }
    .js .sponsors dd.community:nth-of-type(24):after { display: none; }
}
@media only screen and (min-width: 60em) {
    .js .sponsors dt.bronze { clear: left; }
    .js .sponsors dt.community { clear: left; }
    .js .sponsors dt.corporate-tickets { clear: none; }
}

/*  Networkbar fixes  */

.hg-bar-holder { position: relative; z-index: 1050; }
#hg-bar a { border-bottom: 0; }
#hg-bar .container:before, #hg-bar .container:after { content: ""; display: table; }
#hg-bar .container:after { clear: both; }
#hg-bar .container { zoom: 1; margin: 0 auto; padding: 0 1.5rem; }
