html,
body,
button,
input,
select,
textarea { color: #222; }
body {
    font-size: inherit;
    line-height: inherit;
    background: #FFF;
}

a,
a:visited   {
    color: #D44;
    text-decoration: none;
    border-bottom: 1px dotted #D44;
}
a:hover     { border-bottom: 2px solid #D44; }
a.block-link{ color: inherit; border-bottom: none }
a.block-link:hover { color: #D44; outline: none; }
a.link-silent-hover:hover { color: inherit !important; outline: none !important; background-color: transparent !important; }
a.link-white-hover:hover  { color: #FFF !important; }

.faded a { color: inherit; border-color: rgba(0,0,0,.3); }
.fill-dark .faded a { color: inherit; border-color: rgba(255,255,255,.3); }

hr {
    display: block; clear: both; height: 0; margin: 0; padding: 0;
    
    border: none;
    border-top: 1px solid #000;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid #FFF;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    
    filter: alpha(opacity = 30);
}



/*  Colours  */

.faded      { color: rgba(0,0,0,0.6)  !important; }
.ultrafaded { color: rgba(0,0,0,0.35) !important; }
.white      { color: #FFF; }
img.ultrafaded { opacity: 0.35 }

.fill-fixme     { background-color: rgba(255,255,0,0.3) }
.fill-light     { background-color: #EEE }
.fill-silver    { background-color: #DDD }
.fill-dark      { background-color: #222; color: #F6F6F6 }
.fill-white     { background-color: #FFF; color: #222222 }

.fill-dark .faded       { color: rgba(255,255,255,0.6) !important; }
.fill-dark .ultrafaded  { color: rgba(255,255,255,0.35) !important; }


a.link-unfade-hover:hover,
.link-unfade-hover:hover img.ultrafaded { opacity: 1; }

.big-data { 
    background-image: url(../img/circus_banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    max-width: 2880px;
    max-width: 1800px;
    padding-top: 62.5%;
    margin-bottom: 10%;
}
@media only screen and (min-width: 40em) { .big-data { margin-bottom: 7.5%; width: 90%; padding-top: 56.25%; } }
@media only screen and (min-width: 60em) { .big-data { margin-bottom: 5%; width: 80%; padding-top: 50%; } }


/*  Networkbar fixes  */

#hg-bar a { border-bottom: 0; }
#hg-bar .container:before, #hg-bar .container:after { content: ""; display: table; }
#hg-bar .container:after { clear: both; }
#hg-bar .container { zoom: 1; margin: 0 auto; padding: 0 1.5rem; }
