.banner {
    color: black;
    background-color: #FFCC66;
    box-shadow: rgba(0,0,0,0.75) 0 0 3px;
}
.banner a,
.banner a:visited   { color: black; text-decoration: none; border: 0; }
.banner a:hover     {
    border: 0;
    background-color:    rgba(0,0,0,0.5);
    outline: 0.3em solid rgba(0,0,0,0.5);
}

.big-data { padding: 0 1rem; }
@media only screen and (min-width: 30em) { .big-data { padding: 0 3rem; } }
@media only screen and (min-width: 50em) { .big-data { padding: 0 5rem; } }

.nav-line {
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.8;
    color: rgba(0,0,0,0.65);
    margin-bottom: 2rem;
}
.nav-line .nav-line-spacer {
    padding: 0 0.2em;
    display: inline-block;
    font-size: 1.1em;
}
.nav-line .sub-group { display: block; }
.nav-line .nav-line-spacer.amp {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1;
    position: relative;
    top: 0.1em;
    color: rgba(0,0,0,0.5);
}
.nav-line a,
.nav-line a:visited {
    display: inline-block;
    padding: 0 0.2em;
    color: rgba(0,0,0,.7);
    font-style: italic;
    border-top: 1px solid transparent;
    border-bottom: 1px dotted rgba(0,0,0,.2);
}
.nav-line .conference a,
.nav-line .conference a:visited {
    font-family: Proxima Nova, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1em;
    width: 8.2rem;
    text-transform: uppercase;
    color: black;
    border-bottom-color: transparent;;
    font-style: normal;
    font-weight: 600;
}
.wf-active .nav-line .conference a,
.wf-active .nav-line .conference a:visited {
    font-family: proxima-nova, Proxima Nova, Avenir, Helvetica Neue, Helvetica, sans-serif;
}
.nav-line a:hover {
    font-weight: normal;
    color: white !important;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;    
}

@media only screen and (min-width: 30em) { .nav-line { font-size: 1em; line-height: 1.5; } }
@media only screen and (min-width: 40em) {
    .nav-line {
        font-size: 1em;
        line-height: 1.5;
        margin: 1.5rem 0;
        color: rgba(200,00,00,0.65);
    }
    .nav-line .nav-line-spacer { padding: 0 0.1em; }
    .nav-line .nav-line-spacer.amp { color: rgba(200,00,00,0.5); }
    .nav-line .sub-group { display: inline-block; }
    .nav-line a,
    .nav-line .conference a,
    .nav-line a:visited,
    .nav-line .conference a:visited {
        display: inline-block;
        width: 7rem;
        font-family: Proxima Nova, Avenir, Helvetica Neue, Helvetica, sans-serif;
        text-transform: uppercase;
        padding: 0;
        color: black;
        font-style: normal;
        border: 0;
        font-weight: 600;
    }
    .wf-active .nav-line a,
    .wf-active .nav-line .conference a,
    .wf-active .nav-line a:visited,
    .wf-active .nav-line .conference a:visited {
        font-family: proxima-nova, Proxima Nova, Avenir, Helvetica Neue, Helvetica, sans-serif;
    }
    .nav-line .nav-line-spacer {
        padding: 0;
        width: 1.5rem;
        text-indent: -999em;
        overflow: hidden;
    }
    .nav-line .nav-line-spacer.amp { display: inline-block; }
}
@media only screen and (min-width: 50em) {
    .nav-line { margin: 2rem 0; }
    .nav-line .nav-line-spacer { width: 4rem; text-indent: 0; }
    .nav-line .nav-line-spacer.amp {
        width: 1.5rem;
        top: 0.15em;
        line-height: 1.5rem;
        font-weight: 300;
    }
    .nav-line a, .nav-line .conference a { width: 8rem; }
}
@media only screen and (min-width: 55em) {
    .nav-line { margin: 3rem 0; font-weight: 300; }
    .nav-line .nav-line-spacer.amp { font-size: 2em; width: 3rem; }
}

.nav-line a.link-silent-hover:hover {
    border-color: transparent;
    font-weight: 600 !important;
    color: black !important;
}

.button,
a.button {
    display: inline-block;
    font-size: 0.9em;
    padding: 0.6em 2em;
    border-radius: 0.2em;
    background: rgba(200,0,0,0.9);
    border: 0;
    color: white !important;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    word-spacing: 0.15em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.button:hover,
a.button:hover {
    color: #FFF;
    outline: none;
    background: black;
    border: 0;
}
.button:active,
a.button:active {
    background: #444;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.9);
}



.prose ul li { list-style-type: circle; }
.prose ol li { list-style-type: decimal; }



.thumbnail-columns { padding: 0 1rem; }
.thumbnail-columns > li {
    float: left;
    width: 50%;
    padding: 0 2%;
    margin: 1rem 0;
}
.thumbnail-columns > li:nth-of-type(odd) { clear: both; }
.thumbnail-columns-three > li { width: 100%; }
.thumbnail-columns .poster { margin: 0 0 0.5em; }
.thumbnail-columns .poster img { box-shadow: 0 0 5px rgba(0,0,0,0.3); }
.thumbnail-columns .video  { position: relative; }
.thumbnail-columns .video:after {
    content: '';
    position: absolute;
    width:  2.5em;
    height: 1.9em;
    left: 50%;
    top:  50%;
    margin-left: -1.25em;
    margin-top:  -0.95em;
    border-radius: 0.3em;
    color: #FFF;
    background: rgba(0,0,0,0.7) url(../img/play.svg) no-repeat scroll center center;
    background-size: 1.1em;
}
.thumbnail-columns a:hover .video:after {
    background-color: rgba(0,0,0,0.9);
    background-image: url(../img/play_hover.svg);
}
.thumbnail-columns h3 {
    margin: 0;
    font-weight: normal;
}
.thumbnail-columns h4 {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}
@media only screen and (min-width: 30em) {
    .thumbnail-columns-four > li { margin-right: 0; }
    
    .thumbnail-columns-five > li { width: 30%; }
    .thumbnail-columns-five > li:nth-of-type(odd)  { clear: none; }
    .thumbnail-columns-five > li:nth-of-type(3n+2) { margin-right: 3%; }
    .thumbnail-columns-five > li:nth-of-type(3n+1) { margin-right: 3%; clear: both; }
    
    .thumbnail-columns h3 { font-size: 1em; }
    .thumbnail-columns h4 { font-size: 0.85em; }
}
@media only screen and (min-width: 50em) {
    .thumbnail-columns-three { padding: 0; }
    .thumbnail-columns-three > li {
        width: 30%;
        margin-left:  2.5%;
        margin-right: 0;
    }
    .thumbnail-columns-three > li:nth-of-type(odd)  { clear: none; }
    .thumbnail-columns-three > li:nth-of-type(3n+1) { clear: both; }
    
    .thumbnail-columns-four  > li { width: 25%; }
    .thumbnail-columns-four  > li:nth-of-type(odd)  { clear: none; }
    .thumbnail-columns-four  > li:nth-of-type(4n+1) { clear: both; }
    
    .thumbnail-columns-five  > li { width: 20%; }
    .thumbnail-columns-five  > li:nth-of-type(3n+2) { margin-right: 0; }
    .thumbnail-columns-five  > li:nth-of-type(3n+1) { margin-right: 0; clear: none; }
    .thumbnail-columns-five  > li:nth-of-type(5n+1) { clear: both; }
    
    .thumbnail-columns h4 { font-size: 0.7em; }
}


.ticket-columns { border: 0 solid #5C5; }
.ticket-columns > li {
    margin: 2rem;
    border: solid #5C5;
    border-width: 0 1px 1px 1px;
}

.ticket hgroup {
    background-color: #5C5;
    color: white;
    padding: 1rem 0;
}
.ticket h2 { margin: 0.5em; }
.ticket ul { padding: 0 2em 0 2.55em; }
.ticket ul li { list-style-type: circle; margin: 0.25rem 0; }
.ticket-note  { max-width: 60%; }
@media only screen and (min-width: 35em) {
    .ticket-columns {
        margin-left:  5%;
        margin-right: 5%;
    }
    .ticket-columns > li {
        float: left;
        width: 50%;
        margin: 0;
    }
    .ticket-columns > li:nth-child(2) { border-width: 0 1px 1px 0; }
    .ticket-columns > li:nth-child(2) hgroup { border: solid white; border-width: 0 0 0 1px; margin-left: -1px; }
    .ticket-columns > li:nth-child(3) { width: 100%; }
    
    .ticket ul { min-height: 10em; }
    .ticket-columns > li:nth-child(3) .ticket ul {
        -webkit-column-gap: 3em;
           -moz-column-gap: 3em;
                column-gap: 3em;
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        min-height: 5em;
    }
    .ticket-note  { max-width: none; }
}
@media only screen and (min-width: 50em) {
    .ticket-columns > li { width: 33%; border-width: 0 1px 1px 1px; }
    .ticket-columns > li + li { border-width: 0 1px 1px 0; }
    .ticket-columns > li:nth-child(2) { width: 34%; }
    .ticket-columns > li:nth-child(2) hgroup { border-width: 0 1px; margin: 0 -1px; }
    .ticket-columns > li:nth-child(3) { float: left; width: 33%; }
    
    .ticket h2 { margin: 0.83em; }
    .ticket ul {
        margin-left:  1%;
        margin-right: 1%;
        min-height: 14em;
    }
    .ticket-columns > li:nth-child(3) .ticket ul {
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        min-height: 14em;
    }
}
@media only screen and (min-width: 63em) { .ticket ul { min-height: 8.5em !important; } }


.last-year .band { margin: -10.85714rem 0 0; top: 50%; background-color: rgba(0,0,0,.7); z-index: 100; }
.last-year .band li { margin: 1rem 0; }
.last-year .band li.numbers-2012-participants:after { 
    content: normal;
    margin: 0;
}
@media only screen and (min-width: 44em) {
    .last-year .band     { margin: -7.111rem 0 0; }
    .last-year .band li  { margin: 1rem 0 .5rem; width: 40%; display: inline-block; }
    .last-year .band li.numbers-2012-days          { text-align: right; margin-bottom: .5rem; }
    .last-year .band li.numbers-2012-tracks        { text-align: left; margin-bottom: .5rem; }
    .last-year .band li.numbers-2012-sessions      { text-align: right; margin-top: .5rem; }
    .last-year .band li.numbers-2012-participants  { text-align: left; margin-top: .5rem; }
    .last-year .band li.numbers-2012-tracks:after  { content: normal; margin: 0; }
    .last-year .band li:after { 
        content: '\2022';
        font-size: 2rem;
        margin: 0 .3rem 0 .7rem;
    }
    .last-year .band li.numbers-2012-days { display: inline-block; }
}
@media only screen and (min-width: 55em) {
    .last-year .band { margin: -5.1875rem 0 0; }
    .last-year .band li { width: auto; margin: 0 0 .5rem !important; }
    .last-year .band li.numbers-2012-tracks:after { 
        content: '\2022';
        font-size: 2rem;
        margin: 0 .3rem 0 .7rem;
    }
}


.flipboard {
    padding: 0;
    margin: 0;
    z-index: 10;
    min-height: 40em;
    background-image: url(http://farm9.staticflickr.com/8435/7851360194_1fab697a2b_c_d.jpg);
    background-size: auto 100%;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    overflow: hidden;
}
@media only screen and (min-width: 60em) {
    .flipboard {
        background-image: url(http://farm9.staticflickr.com/8435/7851360194_c505cc357e_h_d.jpg);
        background-size: 100%;
        min-height: 35em;
    }
}
.flipboard.playing {
    background-image: none;
}
.flipboard li {
    float: left;
    display: inline;
    position: relative;
    z-index: 10;
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
        -ms-perspective: 1000;
            perspective: 1000;
}
.flipcard {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.4s linear;
       -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
         -o-transition: all 0.4s linear;
            transition: all 0.4s linear;    
}
.flipcard.reveal-backface {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.flipcard.reveal-frontface {
    -webkit-transform: rotateY(360deg);
       -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
            transform: rotateY(360deg);
}
.flipboard .face {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    text-align: center;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}
.flipboard .face.back {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.flipboard .portrait { background: black; }

.wrap-mobile span { display: block; }
@media only screen and (min-width: 50em) { .wrap-mobile span { display: inline; } }

.sponsors li { float:left; width: 50%; margin: auto; }
.sponsors li a { 
    display: block;
    text-align: center; 
    height: 140px;
    padding: 20px 5%;
    margin: .5rem;
    line-height: 100px;
    background-color: #F5F5F5;
    border: 0;
}
.sponsors .xl li a {
    height: 160px;
    line-height: 120px;
    padding: 20px 10%;
}
.sponsors li a:hover { background-color: #EEE; }
.sponsors li img { vertical-align: middle; }
.sponsors .xl li,
.sponsors .l li { width: 100%; }
.sponsors .l li.contain-width img { width: 60%; }
.sponsors .s li { width: 33.3333%; width: calc(100%/3); }
.sponsors .s li a { 
    height: 70px;
    padding: 10px 5%;
    margin: .5rem;
    line-height: 50px;
}
.sponsors .s li.contain-width img { width: 80%; }

@media only screen and (min-width: 30em) { 
    .sponsors li a { padding: 20px 15%; }
    .sponsors .xl li.contain-width img { width: 70%; }
    .sponsors .l li.contain-width img { width: 50%; }
    .sponsors .s li a { padding: 10px 5%; }
}

@media only screen and (min-width: 50em) { 
    .sponsors li { float: left; width: 25%; }
    .sponsors .xl li.contain-width img { width: 60%; }
    .sponsors .l li,
    .sponsors .l li.contain-width { width: 50%; }
    .sponsors .l li.contain-width  a { padding-left: 10%; padding-right: 10%; }
    .sponsors .l li.contain-width img { width: 60%; }
    .sponsors .s li { width: 16.6666%; width: calc(100%/6); }
}
