.banner {
    color: black;
    background-color: #FFCC66;
    box-shadow: rgba(0,0,0,0.75) 0 0 3px;
}
.banner a,
.banner a:visited   { color: black; text-decoration: none; border: 0; }
.banner a:hover     {
    border: 0;
    background-color:    rgba(0,0,0,0.5);
    outline: 0.3em solid rgba(0,0,0,0.5);
}

.internal-banner .event-summary { 
    margin: 2rem auto 0;
    width: 60%;
    float: right;
}
@media only screen and (min-width: 30em) { .internal-banner .event-summary { width: 50%; } }
@media only screen and (min-width: 40em) { .internal-banner .event-summary { width: 40%; } }
.internal-banner .event-summary h3 { margin-left: -1.2rem; }
.internal-banner .event-summary a.buy-tickets { 
    color: #D44;
    border-bottom: 1px dotted #D44;
}
.internal-banner .event-summary a.buy-tickets:hover { color: white; border: 0; } 


.big-data { padding: 0 1rem; }
@media only screen and (min-width: 30em) { .big-data { padding: 0 3rem; } }
@media only screen and (min-width: 50em) { .big-data { padding: 0 5rem; } }

.nav-line {
    font-style: italic;
    font-size: 1.2em;
    line-height: 1.8;
    color: rgba(0,0,0,0.65);
    margin-bottom: 2rem;
}
.nav-line .nav-line-spacer {
    padding: 0 0.2em;
    display: inline-block;
    font-size: 1.1em;
}
.nav-line .sub-group { display: block; }
.nav-line .nav-line-spacer.amp {
    display: inline-block;
    font-size: 1.5em;
    line-height: 1;
    position: relative;
    top: 0.1em;
    color: rgba(0,0,0,0.5);
}
.nav-line a,
.nav-line a:visited {
    display: inline-block;
    padding: 0 0.2em;
    color: rgba(0,0,0,.7);
    font-style: italic;
    border-top: 1px solid transparent;
    border-bottom: 1px dotted rgba(0,0,0,.2);
}
.nav-line .conference a,
.nav-line .conference a:visited {
    font-family: Proxima Nova, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-size: 1em;
    width: 8.2rem;
    text-transform: uppercase;
    color: black;
    border-bottom-color: transparent;;
    font-style: normal;
    font-weight: 600;
}
.wf-active .nav-line .conference a,
.wf-active .nav-line .conference a:visited {
    font-family: proxima-nova, Proxima Nova, Avenir, Helvetica Neue, Helvetica, sans-serif;
}
.nav-line a:hover {
    font-weight: normal;
    color: white !important;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    outline: none;    
}

@media only screen and (min-width: 30em) { .nav-line { font-size: 1em; line-height: 1.5; } }
@media only screen and (min-width: 40em) {
    .nav-line {
        font-size: 1em;
        line-height: 1.5;
        margin: 1.5rem 0;
        color: rgba(200,00,00,0.65);
    }
    .nav-line .nav-line-spacer { padding: 0 0.1em; }
    .nav-line .nav-line-spacer.amp { color: rgba(200,00,00,0.5); }
    .nav-line .sub-group { display: inline-block; }
    .nav-line a,
    .nav-line .conference a,
    .nav-line a:visited,
    .nav-line .conference a:visited {
        display: inline-block;
        width: 7rem;
        font-family: Proxima Nova, Avenir, Helvetica Neue, Helvetica, sans-serif;
        text-transform: uppercase;
        padding: 0;
        color: black;
        font-style: normal;
        border: 0;
        font-weight: 600;
    }
    .wf-active .nav-line a,
    .wf-active .nav-line .conference a,
    .wf-active .nav-line a:visited,
    .wf-active .nav-line .conference a:visited {
        font-family: proxima-nova, Proxima Nova, Avenir, Helvetica Neue, Helvetica, sans-serif;
    }
    .nav-line .nav-line-spacer {
        padding: 0;
        width: 1.5rem;
        text-indent: -999em;
        overflow: hidden;
    }
    .nav-line .nav-line-spacer.amp { display: inline-block; }
}
@media only screen and (min-width: 50em) {
    .nav-line { margin: 2rem 0; }
    .nav-line .nav-line-spacer { width: 4rem; text-indent: 0; }
    .nav-line .nav-line-spacer.amp {
        width: 1.5rem;
        top: 0.15em;
        line-height: 1.5rem;
        font-weight: 300;
    }
    .nav-line a, .nav-line .conference a { width: 8rem; }
}
@media only screen and (min-width: 55em) {
    .nav-line { margin: 3rem 0; font-weight: 300; }
    .nav-line .nav-line-spacer.amp { font-size: 2em; width: 3rem; }
}

.nav-line a.link-silent-hover:hover {
    border-color: transparent;
    font-weight: 600 !important;
    color: black !important;
}

.button,
a.button {
    display: inline-block;
    font-size: 0.9em;
    padding: 0.6em 2em;
    border-radius: 0.2em;
    background: rgba(200,0,0,0.9);
    border: 0;
    color: white !important;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    word-spacing: 0.15em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.button:hover,
a.button:hover {
    color: #FFF;
    outline: none;
    background: black;
    border: 0;
}
.button:active,
a.button:active {
    background: #444;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.9);
}



.prose ul li { list-style-type: circle; }
.prose ol li { list-style-type: decimal; }



.thumbnail-columns { padding: 0 1rem; }
.thumbnail-columns > li {
    float: left;
    width: 50%;
    padding: 0 2%;
    margin: 1rem 0;
}
.thumbnail-columns > li:nth-of-type(odd) { clear: both; }
.thumbnail-columns-three > li { width: 100%; }
.thumbnail-columns .poster { margin: 0 0 0.5em; }
.thumbnail-columns .poster img { box-shadow: 0 0 5px rgba(0,0,0,0.3); }
.thumbnail-columns .video  { position: relative; }
.thumbnail-columns .video:after {
    content: '';
    position: absolute;
    width:  2.5em;
    height: 1.9em;
    left: 50%;
    top:  50%;
    margin-left: -1.25em;
    margin-top:  -0.95em;
    border-radius: 0.3em;
    color: #FFF;
    background: rgba(0,0,0,0.7) url(../img/play.svg) no-repeat scroll center center;
    background-size: 1.1em;
}
.thumbnail-columns a:hover .video:after {
    background-color: rgba(0,0,0,0.9);
    background-image: url(../img/play_hover.svg);
}
.thumbnail-columns h3 {
    margin: 0;
    font-weight: normal;
}
.thumbnail-columns h4 {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}
@media only screen and (min-width: 30em) {
    .thumbnail-columns-four > li { margin-right: 0; }
    
    .thumbnail-columns-five > li { width: 30%; }
    .thumbnail-columns-five > li:nth-of-type(odd)  { clear: none; }
    .thumbnail-columns-five > li:nth-of-type(3n+2) { margin-right: 3%; }
    .thumbnail-columns-five > li:nth-of-type(3n+1) { margin-right: 3%; clear: both; }
    
    .thumbnail-columns h3 { font-size: 1em; }
    .thumbnail-columns h4 { font-size: 0.85em; }
}
@media only screen and (min-width: 50em) {
    .thumbnail-columns-three { padding: 0; }
    .thumbnail-columns-three > li {
        width: 30%;
        margin-left:  2.5%;
        margin-right: 0;
    }
    .thumbnail-columns-three > li:nth-of-type(odd)  { clear: none; }
    .thumbnail-columns-three > li:nth-of-type(3n+1) { clear: both; }
    
    .thumbnail-columns-four  > li { width: 25%; }
    .thumbnail-columns-four  > li:nth-of-type(odd)  { clear: none; }
    .thumbnail-columns-four  > li:nth-of-type(4n+1) { clear: both; }
    
    .thumbnail-columns-five  > li { width: 20%; }
    .thumbnail-columns-five  > li:nth-of-type(3n+2) { margin-right: 0; }
    .thumbnail-columns-five  > li:nth-of-type(3n+1) { margin-right: 0; clear: none; }
    .thumbnail-columns-five  > li:nth-of-type(5n+1) { clear: both; }
    
    .thumbnail-columns h4 { font-size: 0.7em; }
}


.ticket-columns { border: 0 solid #5C5; }
.ticket-columns > li {
    margin: 2rem;
    border: solid #5C5;
    border-width: 0 1px 1px 1px;
}

.ticket hgroup {
    background-color: #5C5;
    color: white;
    padding: 1rem 0;
}
.ticket h2 { margin: 0.5em; }
.ticket ul { padding: 0 2em 0 2.55em; }
.ticket ul li { list-style-type: circle; margin: 0.25rem 0; }
.ticket-note  { max-width: 60%; }
@media only screen and (min-width: 35em) {
    .ticket-columns {
        margin-left:  5%;
        margin-right: 5%;
    }
    .ticket-columns > li {
        float: left;
        width: 50%;
        margin: 0;
    }
    .ticket-columns > li:nth-child(2) { border-width: 0 1px 1px 0; }
    .ticket-columns > li:nth-child(2) hgroup { border: solid white; border-width: 0 0 0 1px; margin-left: -1px; }
    .ticket-columns > li:nth-child(3) { width: 100%; }
    
    .ticket ul { min-height: 10em; }
    .ticket-columns > li:nth-child(3) .ticket ul {
        -webkit-column-gap: 3em;
           -moz-column-gap: 3em;
                column-gap: 3em;
        -webkit-column-count: 2;
           -moz-column-count: 2;
                column-count: 2;
        min-height: 5em;
    }
    .ticket-note  { max-width: none; }
}
@media only screen and (min-width: 50em) {
    .ticket-columns > li { width: 33%; border-width: 0 1px 1px 1px; }
    .ticket-columns > li + li { border-width: 0 1px 1px 0; }
    .ticket-columns > li:nth-child(2) { width: 34%; }
    .ticket-columns > li:nth-child(2) hgroup { border-width: 0 1px; margin: 0 -1px; }
    .ticket-columns > li:nth-child(3) { float: left; width: 33%; }
    
    .ticket h2 { margin: 0.83em; }
    .ticket ul {
        margin-left:  1%;
        margin-right: 1%;
        min-height: 14em;
    }
    .ticket-columns > li:nth-child(3) .ticket ul {
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        min-height: 14em;
    }
}
@media only screen and (min-width: 63em) { .ticket ul { min-height: 8.5em !important; } }


.last-year .band { margin: -10.85714rem 0 0; top: 50%; background-color: rgba(0,0,0,.7); z-index: 100; }
.last-year .band li { margin: 1rem 0; }
.last-year .band li.numbers-2012-participants:after { 
    content: normal;
    margin: 0;
}
@media only screen and (min-width: 44em) {
    .last-year .band     { margin: -7.111rem 0 0; }
    .last-year .band li  { margin: 1rem 0 .5rem; width: 40%; display: inline-block; }
    .last-year .band li.numbers-2012-days          { text-align: right; margin-bottom: .5rem; }
    .last-year .band li.numbers-2012-tracks        { text-align: left; margin-bottom: .5rem; }
    .last-year .band li.numbers-2012-sessions      { text-align: right; margin-top: .5rem; }
    .last-year .band li.numbers-2012-participants  { text-align: left; margin-top: .5rem; }
    .last-year .band li.numbers-2012-tracks:after  { content: normal; margin: 0; }
    .last-year .band li:after { 
        content: '\2022';
        font-size: 2rem;
        margin: 0 .3rem 0 .7rem;
    }
    .last-year .band li.numbers-2012-days { display: inline-block; }
}
@media only screen and (min-width: 55em) {
    .last-year .band { margin: -5.1875rem 0 0; }
    .last-year .band li { width: auto; margin: 0 0 .5rem !important; }
    .last-year .band li.numbers-2012-tracks:after { 
        content: '\2022';
        font-size: 2rem;
        margin: 0 .3rem 0 .7rem;
    }
}


.flipboard {
    padding: 0;
    margin: 0;
    z-index: 10;
    min-height: 40em;
    background-image: url(http://farm9.staticflickr.com/8435/7851360194_1fab697a2b_c_d.jpg);
    background-size: auto 100%;
    background-position: 50% 70%;
    background-repeat: no-repeat;
    overflow: hidden;
}
@media only screen and (min-width: 60em) {
    .flipboard {
        background-image: url(http://farm9.staticflickr.com/8435/7851360194_c505cc357e_h_d.jpg);
        background-size: 100%;
        min-height: 35em;
    }
}
.flipboard.playing {
    background-image: none;
}
.flipboard li {
    float: left;
    display: inline;
    position: relative;
    z-index: 10;
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
        -ms-perspective: 1000;
            perspective: 1000;
}
.flipcard {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.4s linear;
       -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
         -o-transition: all 0.4s linear;
            transition: all 0.4s linear;    
}
.flipcard.reveal-backface {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.flipcard.reveal-frontface {
    -webkit-transform: rotateY(360deg);
       -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
            transform: rotateY(360deg);
}
.flipboard .face {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    text-align: center;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}
.flipboard .face.back {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.flipboard .portrait { background: black; }

.wrap-mobile span { display: block; }
@media only screen and (min-width: 50em) { .wrap-mobile span { display: inline; } }


.sponsors dl { 
    margin: 0; 
    max-width: 32em; 
    -webkit-transition: font-size 0.4s;
       -moz-transition: font-size 0.4s;
         -o-transition: font-size 0.4s;
            transition: font-size 0.4s;
}
.no-js .sponsors dt {
    width: 100%;
    text-align: center;
    font-family: Bree Serif, FF Tisa Web Pro, Georgia, serif;
    color: rgba(255,255,255,.95);
    font-size: 1.250rem;
    line-height: 1.5000;
    background-color: #D44;
    padding: .5rem 0;
    margin: 5rem auto 3rem; 
}
.no-js.wf-active .sponsors dt { font-family: bree-serif, Bree Serif, FF Tisa Web Pro, Georgia, serif; }
.js .sponsors dt {
    position: relative;
    float:left;
    width: 0;
    height: 0;
    overflow: visible;
}
.js .sponsors dt span {
    padding: 0 1em;
    font-size:  .700rem;
    line-height: 1.4000;
    text-transform: uppercase;
    position: absolute;
    display: block;
    white-space: nowrap;
    background-color: #D44;
    color: rgba(255,255,255,.95);
    z-index: 100;
}
.js .sponsors dt.platinum,
.js .sponsors dt.gold,
.js .sponsors dt.silver,
.js .sponsors dt.community,
.js .sponsors dt.corporate { clear: left; }
 
.no-js .sponsors dd { margin: 3rem auto; }
.js .sponsors dd { 
    float: left; 
    width: 50%; 
    position: relative; 
    z-index: 50; 
    border: 1px solid rgba(255,255,255,.3);
}
.js .sponsors dd.platinum { background-color: #E4E4E4; }
.js .sponsors dd.gold { background-color: #E7E7E7; }
.js .sponsors dd.silver { background-color: #EDEDED; }
.js .sponsors dd.bronze { background-color: #F3F3F3; }
.js .sponsors dd.community { background-color: #F9F9F9; }
.js .sponsors dd.corporate { background-color: #FFF; }

.js .sponsors dd.xl,
.js .sponsors dd.l { width: 100%; }
.js .sponsors dd.s { width: 33.3333%; width: calc(100%/3); }

.js .sponsors dd img { vertical-align: middle; }
.js .sponsors dd.l.contain-width img { width: 60%; }
.js .sponsors dd.m.contain-width img { width: 70%; }
.js .sponsors dd.s.contain-width img { width: 80%; }

.js .sponsors dd h5 { margin: 0; }
.js .sponsors dd h4,
.js .sponsors dd p,
.js .sponsors dd hr { display: none; }

.js .sponsors dd h5 a { 
    display: block;
    text-align: center; 
    height: 7em;
    padding: 1.25em 5%;
    line-height: 4.5em;
    border: 0;
}
.js .sponsors dd a:hover { background-color: rgba(0,0,0,.04); }

.js .sponsors dd.xl h5 a {
    height: 8em;
    line-height: 6em;
    padding: 1em 10%;
}
.js .sponsors dd.s h5 a { 
    height: 6em;
    padding: 1.5em 5%;
    line-height: 3em;
}


.no-js .sponsors .sponsor-logo,
.sponsors .about-sponsor .sponsor-logo { width: 30%; float: right; margin: 0; }
.no-js .sponsors .sponsor-name,
.no-js .sponsors .sponsor-link,
.sponsors .about-sponsor .sponsor-name,
.sponsors .about-sponsor .sponsor-link { width: 65%; float: left; margin: 0; }
.no-js .sponsors .sponsor-name,
.sponsors .about-sponsor .sponsor-name { margin-top: .5rem; }
.no-js .sponsors .sponsor-logo a,
.sponsors .about-sponsor .sponsor-logo a { border: 0; }
.no-js .sponsors .sponsor-logo img,
.sponsors .about-sponsor .sponsor-logo img { max-width:  100%; height: auto; }
.sponsors .about-sponsor a.close:before { content: '×'; font-size: 1.8rem; line-height: .25; display: inline-block; margin-right: .5rem; }
.sponsors .about-sponsor a.close {
    display: block;
    float: left;
    border-radius: 2em;
    border: 0;
    font-size: .7rem;
    line-height: 1.1em;
    text-align: center;
    color: white;
    background-color: #CCC;
    padding: .5rem .8rem .5rem .7rem;
    -webkit-transition: background-color 0.4s;
       -moz-transition: background-color 0.4s;
         -o-transition: background-color 0.4s;
            transition: background-color 0.4s;
    
}
.sponsors .about-sponsor a.close span { line-height: 2; }
.sponsors .about-sponsor a.close:hover { background-color: #BBB; }

@media only screen and (min-width: 30em) { 
    .js .sponsors dd a { padding: 1.25em 15%; }
    .js .sponsors dd.xl.contain-width img { width: 70%; }
    .js .sponsors dd.l.contain-width img { width: 50%; }
    .js .sponsors dd.s a { height: 5.4em; padding: 1.2em 5%; }
    
    .no-js .sponsors .sponsor-logo,
    .sponsors .about-sponsor .sponsor-logo { width: 20%; float: right; margin: 0; }
    .no-js .sponsors .sponsor-name,
    .no-js .sponsors .sponsor-link,
    .sponsors .about-sponsor .sponsor-name,
    .sponsors .about-sponsor .sponsor-link { width: 75%; float: left; margin: 0; }
}

@media only screen and (min-width: 50em) { 
    .js .sponsors dd { float: left; width: 25%; }
    .js .sponsors dd.xl.contain-width img { width: 60%; }
    .js .sponsors dd.l,
    .js .sponsors dd.l.contain-width { width: 50%; }
    .js .sponsors dd.l.contain-width  a { padding-left: 10%; padding-right: 10%; }
    .js .sponsors dd.l.contain-width img { width: 60%; }
    .js .sponsors dd.s { width: 16.6666%; width: calc(100%/6); }
    .js .sponsors dt.silver { clear: none; }
    
    .js .sponsors .squeeze { float: left; min-width: 16em; }
    .js .sponsors .squeeze dt span { 
        -webkit-transition: background-color 0.4s;
           -moz-transition: background-color 0.4s;
             -o-transition: background-color 0.4s;
                transition: background-color 0.4s;
    }
    .js .sponsors .squeeze dd { 
        -webkit-transition: opacity 0.4s;
           -moz-transition: opacity 0.4s;
             -o-transition: opacity 0.4s;
                transition: opacity 0.4s;
    }
    .js .sponsors .squeeze dt span { background-color: #F7DEDE; }
    .js .sponsors .squeeze:hover dt span { background-color: #D44 !important; }
    .js .sponsors .squeeze dd { opacity: .2; }
    .js .sponsors .squeeze dd.active { opacity: 1; }
    .js .sponsors .squeeze:hover dt,
    .js .sponsors .squeeze:hover dd { opacity: 1; }
    
    .js .sponsors .squeeze dl { font-size: .55em; }
    .js .sponsors .squeeze dl dt span { font-size: .600rem; }
    
    .sponsors .about-sponsor { float: right; width: 12em; padding-left: 1rem; }
    .no-js .sponsors .sponsor-logo,
    .sponsors .about-sponsor .sponsor-logo { float: none; width: 6em; margin: 1rem 0; }
    .no-js .sponsors .sponsor-name,
    .no-js .sponsors .sponsor-link,
    .sponsors .about-sponsor .sponsor-name,              
    .sponsors .about-sponsor .sponsor-link { float: none; }
    
}


/*.proposals a { border: 0; color: inherit; }*/
.proposals ul,
.proposals li { list-style-type: none; }
.proposals .by { line-height: 1.5; float: left; }
.proposals .meta { line-height: 1.5; float: right; }
.proposals .votes,
.proposals .comments { 
    display: inline-block;
    background-size: auto 80%;
    background-repeat: no-repeat;
}
.proposals .comments { 
    background-image: url(../img/bubble.svg); 
    background-position: 100% 100%; 
    padding: .18em 1.6em .1em 0;
    margin-left: 1em;
    width: 4em; 
}
.proposals .votes { 
    background-image: url(../img/like.svg);
    background-position: 0 0;
    padding: .18em 0 .1em 1.8em;
    margin-left: .3rem;
    width: 3em; 
}
@media only screen and (min-width: 50em) { 
    .proposals .meta,
    .proposals .by { font-size:  .800rem; line-height: 1.4000; text-transform: uppercase; }    
}