html,
body,
button,
input,
select,
textarea { color: #222; }
body {
    font-size: inherit;
    line-height: inherit;
/*    background: #F3F3F3;*/
}

a,
a:visited   {
    color: #D44;
    text-decoration: none;
    border-bottom: 1px dotted #D44;
}
a:hover     { border-bottom: 2px solid #D44; }
a.block-link{ color: inherit; border-bottom: none }
a.block-link:hover { color: #D44; outline: none; }
a.link-silent-hover:hover { color: inherit !important; outline: none !important; background-color: transparent !important; }
a.link-white-hover:hover  { color: #FFF !important; }

hr {
    display: block; clear: both; height: 0; margin: 0; padding: 0;
    
    border: none;
    border-top: 1px solid #000;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid #FFF;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    
    filter: alpha(opacity = 30);
}



/*  Colours  */

.faded      { color: rgba(0,0,0,0.6)  !important; }
.ultrafaded { color: rgba(0,0,0,0.35) !important; }
.white      { color: #FFF; }
img.ultrafaded { opacity: 0.35 }

.fill-fixme     { background-color: rgba(255,255,0,0.3) }
.fill-silver    { background-color: #DDD }
.fill-dark      { background-color: #222; color: #F6F6F6 }


a.link-unfade-hover:hover,
.link-unfade-hover:hover img.ultrafaded { opacity: 1; }
