.banner {
    color: black;
    background-color: #FFCC66;
    box-shadow: rgba(0,0,0,0.75) 0 0 3px;
}
.banner a,
.banner a:visited   { color: inherit; text-decoration: none; border: 0; }
.banner a:hover     {
    border: 0;
    background-color:    rgba(0,0,0,0.5);
    outline: 0.3em solid rgba(0,0,0,0.5);
}


.nav-line {
    font-size: 1.2em;
    line-height: 1.8;
    color: rgba(200,00,00,0.65);
}
.nav-line .nav-line-spacer {
    padding: 0 0.3em;
    display: inline-block;
    font-size: 1.1em;
}
.nav-line .nav-line-spacer.amp {
    display: block;
    font-size: 1.5em;
    line-height: 1;
    position: relative;
    top: 0.1em;
    color: rgba(200,00,00,0.5);
}
.nav-line a {
    display: inline-block;
    width: 8.2rem;
    text-transform: uppercase;
    color: black;
    font-style: normal;
    font-weight: 600;
}
.nav-line a:hover {
    font-weight: normal;
    color: white;
    outline: none;
}

@media only screen and (min-width: 30em) { .nav-line { font-size: 1em; line-height: 1.5; } }
@media only screen and (min-width: 40em) {
    .nav-line {
        font-size: 1em;
        line-height: 1.5;
        margin: 1.5rem 0;
    }
    .nav-line .nav-line-spacer {
        padding: 0;
        width: 1.5rem;
        text-indent: -999em;
        overflow: hidden;
    }
    .nav-line .nav-line-spacer.amp { display: inline-block; }
    .nav-line a { width: 7rem; }
}
@media only screen and (min-width: 50em) {
    .nav-line { margin: 2rem 0; }
    .nav-line .nav-line-spacer { width: 4rem; text-indent: 0; }
    .nav-line .nav-line-spacer.amp {
        width: 1.5rem;
        top: 0.15em;
        line-height: 1.5rem;
        font-weight: 300;
    }
    .nav-line a { width: 8rem; }
}
@media only screen and (min-width: 55em) {
    .nav-line { margin: 3rem 0; font-weight: 300; }
    .nav-line .nav-line-spacer.amp { font-size: 2em; width: 3rem; }
}



.bio-columns { padding: 0 1rem; }
.bio-columns li {
    float: left;
    width: 50%;
    padding: 0 2%;
    margin: 1rem 0;
}
.bio-columns .avatar { margin: 0 0 0.5em; }
.bio-columns .avatar img { box-shadow: 0 0 5px rgba(0,0,0,0.3); }
.bio-columns h3 {
    margin: 0;
    font-weight: normal;
}
.bio-columns h4 {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}
@media only screen and (min-width: 30em) {
    .bio-columns li { width: 30% }
    .bio-columns li:nth-of-type(3n+2) { margin-right: 3%;  }
    .bio-columns li:nth-of-type(3n+1) { margin-right: 3%; clear: both }
    .bio-columns h3 { font-size: 1em; }
    .bio-columns h4 { font-size: 0.85em; }
}
@media only screen and (min-width: 50em) {
    .bio-columns li { width: 20% }
    .bio-columns li:nth-of-type(3n+2) { margin-right: 0;  }
    .bio-columns li:nth-of-type(3n+1) { margin-right: 0; clear: none }
    .bio-columns h4 { font-size: 0.7em; }
}

.numbers-2012 { margin: -8.5rem 0 0; top: 50%; background-color: rgba(0,0,0,.7); z-index: 100; }
.numbers-2012 li { margin: 1rem 0; }
.numbers-2012 li.numbers-2012-participants:after { 
    content: normal;
    margin: 0;
}
@media only screen and (min-width: 44em) {
    .numbers-2012 { margin: -5.25rem 0 0; }
    .numbers-2012 li { margin: 2rem 0; width: 40%; display: inline-block; }
    .numbers-2012 li.numbers-2012-days          { text-align: right; margin-bottom: .5rem; }
    .numbers-2012 li.numbers-2012-tracks        { text-align: left; margin-bottom: .5rem; }
    .numbers-2012 li.numbers-2012-sessions      { text-align: right; margin-top: .5rem; }
    .numbers-2012 li.numbers-2012-participants  { text-align: left; margin-top: .5rem; }
    .numbers-2012 li.numbers-2012-tracks:after  { content: normal; margin: 0; }
    .numbers-2012 li:after { 
        content: '\2022';
        font-size: 2rem;
        margin: 0 .3rem 0 .7rem;
    }
    .numbers-2012 li.numbers-2012-days { display: inline-block; }
}
@media only screen and (min-width: 55em) {
    .numbers-2012 { margin: -3rem 0 0; }
    .numbers-2012 li { width: auto; }
    .numbers-2012 li.numbers-2012-tracks:after { 
        content: '\2022';
        font-size: 2rem;
        margin: 0 .3rem 0 .7rem;
    }
}
.button,
a.button {
    display: inline-block;
    font-size: 0.9em;
    padding: 0.6em 2em;
    border-radius: 0.2em;
    background: rgba(200,0,0,0.9);
    border: 0;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    word-spacing: 0.15em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.button:hover,
a.button:hover {
    color: #FFF;
    outline: none;
    background: black;
    border: 0;
}
.button:active,
a.button:active {
    background: #444;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.9);
}


.flipboard {
    padding: 0;
    margin: 0;
    z-index: 10;
    min-height: 25em;
    background-image: url(http://farm9.staticflickr.com/8435/7851360194_1fab697a2b_c_d.jpg);
    background-size: auto 100%;
    background-position: 50% 70%;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 42em) {
    .flipboard { 
        background-image: url(http://farm9.staticflickr.com/8435/7851360194_c505cc357e_h_d.jpg);
        background-size: 100%; 
    }
}
@media only screen and (min-width: 51em) {
    .flipboard { min-height: 30em; }
}
.flipboard.playing {
    background-image: none;
}
.flipboard li {
    float: left;
    display: inline;
    position: relative;
    z-index: 10;
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
        -ms-perspective: 1000;
            perspective: 1000;
}
.flipcard {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.4s linear;
       -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
         -o-transition: all 0.4s linear;
            transition: all 0.4s linear;    
}
.flipcard.reveal-backface {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.flipcard.reveal-frontface {
    -webkit-transform: rotateY(360deg);
       -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
            transform: rotateY(360deg);
}


.face {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    text-align: center;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}
.portrait { background: black; }
.face.back {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.videos-2012 { padding: 0 1rem; }
.videos-2012 li {
    float: left;
    width: 50%;
    padding: 0 2%;
    margin: 1rem 0;
}
.videos-2012 li:nth-of-type(2n+1) { clear: both; }
.videos-2012 .poster { 
    position: relative;
    margin: 0 0 0.5em;
}
.videos-2012 .poster:after {
    content: '';
    color: #FFF;
    width: 2.5em;
    height: 1.9em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -1.25em;
    margin-top: -.95em;
    border-radius: .3em;
    text-align: center;
    line-height: 2.2em;
    background-color: rgba(0,0,0,0.7);
    background-image: url(../_img/play.svg);
    background-size: 1.1em;
    background-repeat: no-repeat;
    background-position: center;
}
.videos-2012 .poster img { box-shadow: 0 0 5px rgba(0,0,0,0.3); }
.videos-2012 h3 {
    margin: 0;
    font-weight: normal;
}
.videos-2012 h4 {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}
.videos-2012 a { 
    display: block; 
    border: 0; 
    color: #FFF;
}
.videos-2012 a:hover { color: #D44; }
.videos-2012 a:hover .poster:after {
    color: #D44;
    background-color: rgba(0,0,0,0.9);
    background-image: url(../_img/play_hover.svg);
}

@media only screen and (min-width: 30em) {
    .videos-2012 li:nth-of-type(2n+2) { margin-right: 0; }
    .videos-2012 li:nth-of-type(2n+1) { margin-right: 0; }
    .videos-2012 h3 { font-size: 1em; }
    .videos-2012 h4 { font-size: 0.85em; }
}
@media only screen and (min-width: 50em) {
    .videos-2012 li { width: 25% }
    .videos-2012 li:nth-of-type(2n+2) { margin-right: 0;  }
    .videos-2012 li:nth-of-type(2n+1) { margin-right: 0; clear: none }
    .videos-2012 h4 { font-size: 0.7em; }
}

