.banner {
    color: black;
    background-color: #FFCC66;
    box-shadow: rgba(0,0,0,0.75) 0 0 3px;
}



.nav-line {
    font-size: 1.2em;
    line-height: 1.8;
    color: rgba(200,00,00,0.65);
}
.nav-line .nav-line-spacer {
    padding: 0 0.5em;
    display: inline-block;
    font-size: 1.1em;
}
.nav-line .nav-line-spacer.amp {
    display: block;
    font-size: 1.5em;
    line-height: 1;
    color: rgba(200,00,00,0.5);
}
.nav-line a {
    display: inline-block;
    width: 8.2rem;
    text-transform: uppercase;
    color: black;
    font-style: normal;
    font-weight: 600;
}
.nav-line a:hover {
    font-weight: normal;
    color: white;
    outline: none;
}

@media only screen and (min-width: 30em) { .nav-line { font-size: 1em; line-height: 1.5; } }
@media only screen and (min-width: 40em) {
    .nav-line {
        font-size: 1em;
        line-height: 1.5;
        margin: 1.5rem 0;
    }
    .nav-line .nav-line-spacer {
        padding: 0;
        width: 1.5rem;
        visibility: hidden;
    }
    .nav-line .nav-line-spacer.amp {
        display: inline-block;
        position: relative;
        top: 0.15em;
        visibility: visible;
        line-height: 1.5rem;
    }
    .nav-line a { width: 7rem; }
}
@media only screen and (min-width: 50em) {
    .nav-line { margin: 2rem 0; }
    .nav-line .nav-line-spacer { width: 4rem; visibility: visible; }
    .nav-line .nav-line-spacer.amp {
        display: inline-block;
        width: 1.5rem;
        visibility: visible;
        font-weight: 300;
    }
    .nav-line a { width: 8rem; }
}
@media only screen and (min-width: 55em) {
    .nav-line { margin: 3rem 0; font-weight: 300; }
    .nav-line .nav-line-spacer.amp { font-size: 2em; width: 3rem; }
}

