.banner {
    color: black;
    background-color: #FFCC66;
    box-shadow: rgba(0,0,0,0.75) 0 0 3px;
}
.banner a,
.banner a:visited   { color: black; text-decoration: none; border: 0; }
.banner a:hover     {
    border: 0;
    background-color:    rgba(0,0,0,0.5);
    outline: 0.3em solid rgba(0,0,0,0.5);
}


.nav-line {
    font-size: 1.2em;
    line-height: 1.8;
    color: rgba(200,00,00,0.65);
}
.nav-line .nav-line-spacer {
    padding: 0 0.3em;
    display: inline-block;
    font-size: 1.1em;
}
.nav-line .nav-line-spacer.amp {
    display: block;
    font-size: 1.5em;
    line-height: 1;
    position: relative;
    top: 0.1em;
    color: rgba(200,00,00,0.5);
}
.nav-line a {
    display: inline-block;
    width: 8.2rem;
    text-transform: uppercase;
    color: black;
    font-style: normal;
    font-weight: 600;
}
.nav-line a:hover {
    font-weight: normal;
    color: white;
    outline: none;
}

@media only screen and (min-width: 30em) { .nav-line { font-size: 1em; line-height: 1.5; } }
@media only screen and (min-width: 40em) {
    .nav-line {
        font-size: 1em;
        line-height: 1.5;
        margin: 1.5rem 0;
    }
    .nav-line .nav-line-spacer {
        padding: 0;
        width: 1.5rem;
        text-indent: -999em;
        overflow: hidden;
    }
    .nav-line .nav-line-spacer.amp { display: inline-block; }
    .nav-line a { width: 7rem; }
}
@media only screen and (min-width: 50em) {
    .nav-line { margin: 2rem 0; }
    .nav-line .nav-line-spacer { width: 4rem; text-indent: 0; }
    .nav-line .nav-line-spacer.amp {
        width: 1.5rem;
        top: 0.15em;
        line-height: 1.5rem;
        font-weight: 300;
    }
    .nav-line a { width: 8rem; }
}
@media only screen and (min-width: 55em) {
    .nav-line { margin: 3rem 0; font-weight: 300; }
    .nav-line .nav-line-spacer.amp { font-size: 2em; width: 3rem; }
}



.button,
a.button {
    display: inline-block;
    font-size: 0.9em;
    padding: 0.6em 2em;
    border-radius: 0.2em;
    background: rgba(200,0,0,0.9);
    border: 0;
    color: white !important;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    word-spacing: 0.15em;
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.button:hover,
a.button:hover {
    color: #FFF;
    outline: none;
    background: black;
    border: 0;
}
.button:active,
a.button:active {
    background: #444;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.9);
}



.thumbnail-columns { padding: 0 1rem; }
.thumbnail-columns li {
    float: left;
    width: 50%;
    padding: 0 2%;
    margin: 1rem 0;
}
.thumbnail-columns li:nth-of-type(odd) { clear: both }
.thumbnail-columns .poster { margin: 0 0 0.5em; }
.thumbnail-columns .poster img { box-shadow: 0 0 5px rgba(0,0,0,0.3); }
.thumbnail-columns .video  { position: relative }
.thumbnail-columns .video:after {
    content: '';
    position: absolute;
    width:  2.5em;
    height: 1.9em;
    left: 50%;
    top:  50%;
    margin-left: -1.25em;
    margin-top:  -0.95em;
    border-radius: 0.3em;
    color: #FFF;
    background: rgba(0,0,0,0.7) url(../_img/play.svg) no-repeat scroll center center;
    background-size: 1.1em;
}
.thumbnail-columns a:hover .video:after {
    background-color: rgba(0,0,0,0.9);
    background-image: url(../_img/play_hover.svg);
}
.thumbnail-columns h3 {
    margin: 0;
    font-weight: normal;
}
.thumbnail-columns h4 {
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}
@media only screen and (min-width: 30em) {
    .thumbnail-columns-four li { margin-right: 0; }
    
    .thumbnail-columns-five li { width: 30%; }
    .thumbnail-columns-five li:nth-of-type(odd)  { clear: none }
    .thumbnail-columns-five li:nth-of-type(3n+2) { margin-right: 3%; }
    .thumbnail-columns-five li:nth-of-type(3n+1) { margin-right: 3%; clear: both }
    
    .thumbnail-columns h3 { font-size: 1em; }
    .thumbnail-columns h4 { font-size: 0.85em; }
}
@media only screen and (min-width: 50em) {
    .thumbnail-columns-four li { width: 25% }
    .thumbnail-columns-four li:nth-of-type(odd)  { clear: none }
    .thumbnail-columns-four li:nth-of-type(4n+1) { clear: both }
    
    .thumbnail-columns-five li { width: 20% }
    .thumbnail-columns-five li:nth-of-type(3n+2) { margin-right: 0;  }
    .thumbnail-columns-five li:nth-of-type(3n+1) { margin-right: 0; clear: none }
    .thumbnail-columns-five li:nth-of-type(5n+1) { clear: both }
    
    .thumbnail-columns h4 { font-size: 0.7em; }
}



.last-year .band { margin: -10.85714rem 0 0; top: 50%; background-color: rgba(0,0,0,.7); z-index: 100; }
.last-year .band li { margin: 1rem 0; }
.last-year .band li.numbers-2012-participants:after { 
    content: normal;
    margin: 0;
}
@media only screen and (min-width: 44em) {
    .last-year .band     { margin: -7.111rem 0 0; }
    .last-year .band li  { margin: 1rem 0 .5rem; width: 40%; display: inline-block; }
    .last-year .band li.numbers-2012-days          { text-align: right; margin-bottom: .5rem; }
    .last-year .band li.numbers-2012-tracks        { text-align: left; margin-bottom: .5rem; }
    .last-year .band li.numbers-2012-sessions      { text-align: right; margin-top: .5rem; }
    .last-year .band li.numbers-2012-participants  { text-align: left; margin-top: .5rem; }
    .last-year .band li.numbers-2012-tracks:after  { content: normal; margin: 0; }
    .last-year .band li:after { 
        content: '\2022';
        font-size: 2rem;
        margin: 0 .3rem 0 .7rem;
    }
    .last-year .band li.numbers-2012-days { display: inline-block; }
}
@media only screen and (min-width: 55em) {
    .last-year .band { margin: -5.1875rem 0 0; }
    .last-year .band li { width: auto; margin: 0 0 .5rem !important; }
    .last-year .band li.numbers-2012-tracks:after { 
        content: '\2022';
        font-size: 2rem;
        margin: 0 .3rem 0 .7rem;
    }
}


.flipboard {
    padding: 0;
    margin: 0;
    z-index: 10;
    min-height: 40em;
    background-image: url(http://farm9.staticflickr.com/8435/7851360194_1fab697a2b_c_d.jpg);
    background-size: auto 100%;
    background-position: 50% 70%;
    background-repeat: no-repeat;
}
@media only screen and (min-width: 60em) {
    .flipboard { 
        background-image: url(http://farm9.staticflickr.com/8435/7851360194_c505cc357e_h_d.jpg);
        background-size: 100%;
        min-height: 35em;
    }
}
.flipboard.playing {
    background-image: none;
}
.flipboard li {
    float: left;
    display: inline;
    position: relative;
    z-index: 10;
    -webkit-perspective: 1000;
       -moz-perspective: 1000;
        -ms-perspective: 1000;
            perspective: 1000;
}
.flipcard {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: all 0.4s linear;
       -moz-transition: all 0.4s linear;
        -ms-transition: all 0.4s linear;
         -o-transition: all 0.4s linear;
            transition: all 0.4s linear;    
}
.flipcard.reveal-backface {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.flipcard.reveal-frontface {
    -webkit-transform: rotateY(360deg);
       -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
            transform: rotateY(360deg);
}


.face {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    text-align: center;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
            backface-visibility: hidden;
}
.portrait { background: black; }
.face.back {
    -webkit-transform: rotateY(180deg);
       -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
            transform: rotateY(180deg);
}



.tickets { background: #F5F5F5; }
.tickets h2 { font-size: 1.3rem; }
.tickets h3 { font-size: 1.1rem; }
@media only screen and (max-width: 30em) {
    .tickets h2 { color: rgba(0,0,0,.6); }
}
.tickets-split { width: auto; float: none; }
@media only screen and (min-width: 25em) {
    .tickets-box { background: white; border: 1px solid #EEE; }
    .tickets-split { max-width: 25em; margin: 0 auto; }
}
@media only screen and (min-width: 58em) {
    .tickets-split { width: 50%; max-width: none; margin: auto; }
    .tickets-workshop  { float: left; }  
    .tickets-conference { float: right; }  
    .tickets-workshop .tickets-group { float: right; }  
    .tickets-conference .tickets-group{ float: left; }  
    .tickets-box { width: 100%; max-width: 22em; }
}

.ticket-options li {
    margin: 0 .5rem;
    padding: 1rem;
    color: rgba(0,0,0,0.5);
    clear: both;
    position: relative;
}
.ticket-options li + li { border-top: 1px solid #EEE; }
.ticket-options li.active + li { border-top: 0; }
.ticket-options h3 {
    font-size: 1.1rem;
    margin: .125em 0;
    float: left;
    font-weight: normal;
    text-transform: capitalize;
    width: 12em;
}
@media only screen and (max-width: 30em) {
    .ticket-options h3 { width: 8em; }    
}
.ticket-options p   { margin: 0; }
.ticket-options li.closed { color: rgba(0,0,0,0.2); }
.ticket-options li.closed .dates { color: rgba(0,0,0,0.2); }
.ticket-options li.closed:before {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2.5em;
    margin-top: -1rem;
    padding: 0;
    width: 5em;
    height: 2rem;
    font-size: 1em;
    line-height: 1.7em;
    content: 'SOLD OUT';
    text-align: center;
    font-family: bree-serif, Bree Serif, FF Tisa Web Pro, Georgia, serif;
    color: #E99D9D;
    border-top: 3px solid #E99D9D;
    border-bottom: 3px solid #E99D9D;
    -webkit-transform: rotate(-10deg);
       -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
         -o-transform: rotate(-10deg);
            transform: rotate(-10deg);
  
}
.ticket-options li.active { 
    opacity: 1;
    padding: 0;
}
.ticket-options .price { 
    float: right;
    font-size: 1em;
}
.ticket-options .dates { 
    float: left; 
    clear: both;
    color: rgba(0,0,0,0.4);
    font-size: .85rem;
}
.ticket-options a {
    position: relative;
    display: block;
    color: black;
    border: 0;
    padding: 1.25rem 1rem;
    background-color: #FFCC66;
    border-radius: 0.2em;
    text-decoration: none;
    box-shadow: 0 1px 1px rgba(0,0,0,0.4);
}
.ticket-options li.active a:before {
    position: absolute;
    right: 1rem;
    bottom: .8rem;
    padding: 0;
    font-size: 1rem;
    line-height: 2rem;
    width: 5rem;
    text-align: right;
    content: 'BUY NOW';
    font-family: bree-serif, Bree Serif, FF Tisa Web Pro, Georgia, serif;
    color: #D44;
}
.ticket-options a:hover,
.ticket-options a:hover .dates { 
    background-color: #222; color: #F6F6F6;
}
@media only screen and (max-width: 30em) {
  .tickets a.button { font-size: .8em; }
}