/* ============================ */
/* = Meta Refresh Space Theme = */
/* ============================ */

p {
	font-size: 1em;
	font-family: inherit;
	line-height: inherit;
	margin-bottom: 0.643em;
}
li { line-height: inherit; }
abbr:not([title]) { cursor: auto; border-bottom: none; }
hr {
	border-top-color: rgba(200,200,200,0.45);
	border-bottom-color: rgba(255,255,255,0.85);
}

.large {
	font-size: 24px;
	font-size: 1.714rem;
	line-height: 1.65;
}
.legible {
	font-size: 18px;
	font-size: 1.2857rem;
	line-height: 1.65;
}
.secondary {
	font-size: 1.143em;
	line-height: 1.65;
}
.legible p,
.legible ul,
.secondary p,
.secondary ul { margin-bottom: 1em; }

/* For image replacement */
.ir { display: block; border: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }


#root { margin-bottom: 0; }
#root_footer { display: none; }
#hg-bar { margin-bottom: 0; }

.header {
	color: #EEE;
	background: black;
	padding-bottom: 3em;
	margin-bottom: 4em;
}

/*.header, [class*="span"] {
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
	    -ms-transition: all 0.25s ease-out;
	     -o-transition: all 0.25s ease-out;
	        transition: all 0.25s ease-out; 
}*/

.web-history {
	margin-left: -220px;
	height: 500px;
	background: url(../img/earth.jpg) no-repeat scroll top left;
}
.web-history dl {
	margin-top: 2.5em;
	margin-left: 350px;
	font-size: 0.857em;
	color: #444;
	padding-top: 15px;
}
.web-history dt {
	float: left;
	clear: left;
	margin-right: 0.5em;
	font-weight: 400;
	line-height: 1.8;
}
.web-history dd {
	line-height: 1.8;
	font-weight: 700;
}
.web-history dt { margin-left: 75px; }
/*.web-history dt:nth-of-type() { margin-left: 0; }*/
.web-history dt:nth-of-type( 1) { margin-left: 35px; }
.web-history dt:nth-of-type( 2) { margin-left: 60px; }
.web-history dt:nth-of-type( 3) { margin-left: 80px; }
.web-history dt:nth-of-type( 4) { margin-left: 95px; }
.web-history dt:nth-of-type( 5) { margin-left: 110px; }
.web-history dt:nth-of-type( 6) { margin-left: 120px; }
.web-history dt:nth-of-type( 7) { margin-left: 128px; }
.web-history dt:nth-of-type( 8) { margin-left: 135px; }
.web-history dt:nth-of-type( 9) { margin-left: 140px; }
.web-history dt:nth-of-type(10) { margin-left: 140px; }
.web-history dt:nth-of-type(11) { margin-left: 140px; }
.web-history dt:nth-of-type(12) { margin-left: 135px; }
.web-history dt:nth-of-type(13) { margin-left: 130px; }
.web-history dt:nth-of-type(14) { margin-left: 125px; }
.web-history dt:nth-of-type(15) { margin-left: 115px; }
.web-history dt:nth-of-type(16) { margin-left: 105px; }
.web-history dt:nth-of-type(17) { margin-left: 90px; }
.web-history dt:nth-of-type(18) { margin-left: 70px; }
.web-history dt:nth-of-type(19) { margin-left: 50px; }
.web-history dt:nth-of-type(20) { margin-left: 20px; }
/*.web-history dt:nth-of-type() { margin-left: -10px; }*/

.metarefresh-logo {
	vertical-align: middle;
	text-align: center;
}
.metarefresh-logo img { height: 140px; }

.banner { padding-top: 3em; }
.banner h1,
.banner h2,
.banner h3 {
	text-align: center;
	font-weight: 300;
}
.banner h2,
.banner h3 {
	font-size: 0.857em;
	line-height: 1.5;
	font-weight: 400;
	color: #F0A40C;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	word-spacing: 0.3em;
	margin: 1em 0;
}
.callout {
	font-style: italic;
	text-align: center;
	font-size: 2em;
	line-height: 1.35;
	margin: 0 auto 0.75em;
	max-width: 16em;
	color: #08C;
}
/*.callout strong { font-style: normal; }*/  /* Activate to cut down on number of font-files */
.navbar { background: #000; margin: 0; position: absolute; width: 100%; }
.navbar-fixed-top { position: fixed; }
.navbar .nav { width: 100%; }
.navbar .nav li {
	width: 12.5%;
	font-size: 0.857em;
	line-height: 1.5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.navbar .nav li a {
	display: block;
	padding: 1em 0;
	text-align: center;
	color: #EEE;
}
.navbar .nav li:not(.home) a {
-webkit-transition: background-color 0.25s ease-out;
   -moz-transition: background-color 0.25s ease-out;
    -ms-transition: background-color 0.25s ease-out;
     -o-transition: background-color 0.25s ease-out;
        transition: background-color 0.25s ease-out; 
}
.navbar .nav li a:hover { background-color: #F0A40C; }
.navbar-fixed-top .nav .register a { border-top: 0px solid #5BB75B; color: #0E0; }
.navbar .nav .spacer { margin-right: 25%; }
.navbar .nav .home {
	position: absolute;
	top: 12px;
	left: 37.5%;
	right: 37.5%;
	width: auto;
	border: none;
	font-size: 1em;
}
.navbar .nav .home a {
	font-size: 2em;
	color: black;
	background: #F3F3F3 url(../img/stucco.png) scroll repeat top center;
	margin: 0 auto 0.6em;
	padding: 0;
	width: 8em;
	line-height: 2.5em;
	-webkit-border-radius: 8em 2.5em;
	   -moz-border-radius: 8em/2.5em;
	     -o-border-radius: 8em/2.5em;
	        border-radius: 8em/2.5em;
	text-transform: none;
	letter-spacing: 0em;
	text-shadow: none;
	font-weight: 300;
}
.navbar .nav .home a b { font-weight: 700; }
.navbar .nav .home a:hover {
	background: #F0A40C;
	color: black;
}

#about h2 { display: none; }
.description {
	padding-right: 4em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.speakers {
	margin: 0 0 1em;
	list-style-type: none;
}
.speakers li {
	float: left;
	width: 28%;
	margin: 0;
}
.speakers li + li { margin-left: 8%; }
.speakers .funnel {
	outline: 0.8em solid #E3E3E3;
	background: #E3E3E3;
	outline-color: rgba(0,0,0,0.1);
	background: rgba(0,0,0,0.1);
}
#about .funnel .btn { display: block; margin-bottom: 3em; }
#about .btn i { font-size: 0.8em; }


.notice {
	border: 1px solid #000;
	text-align: left;
	padding: 1em;
	margin: 0.25em 0 1.5em;
	overflow: auto;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.notice p { margin-bottom: 0; }
#schedule .funnel {
	background: #DDD;
	background: rgba(0,0,0,0.2);
	padding: 2em 1.5em 1.5em;
	margin: 0 0 1.5em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#schedule .funnel h4 { margin: 1em 0 0.5em; }
#schedule .funnel .btn {
	display: block;
	text-align: center;
	padding: 0.35em 1em;
	margin-bottom: 1.5em;
}
#schedule .funnel .btn i { font-size: 0.8em; }

.schedule {
	margin-bottom: 2em;
	overflow: auto;
}
.schedule .time { width: 16%; }
.schedule .track { width: 21%; }
.schedule .double-track { display: none; }
.schedule .double-track .time { width: 24%; }
.schedule .double-track .track { width: 38%; }
.schedule table { border: 1px solid #DDD; }
.schedule th,
.schedule .time,
.schedule .track-2, .schedule .track-4 { background: #E3E3E3; background: rgba(0,0,0,0.1); }
.schedule thead th { text-align: center; }
.schedule .table tbody tr:hover td { background: white; }
.schedule td { padding: 0.75em 1em 1.5em; }
.schedule .double-track td { word-break: break-word; } /* -- debatable -- */
.schedule td[colspan="4"],
.schedule td[colspan="2"] {
	padding: 1.125em 1em;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: gray;
}
.schedule td[colspan="2"] { padding: 0.5em; }
.schedule td h4 { margin-bottom: 0.3em; }

.preview h3 { margin-top: 0; }
.proposal {
	margin-bottom: 3em;
	padding-right: 4em;
}
.proposal h4 {
	font-size: 1.2em;
	line-height: 1.4;
	margin-bottom: 0.2em;
}

.videos { margin-top: 3em; }
.session-video { margin-bottom: 1.5em; }
.session-video a { display: block; }
.session-video a:hover { text-decoration: none; }
.session-video a:hover .thumbnail { outline: 0.75em solid #E3E3E3; outline-color: rgba(0,0,0,0.1); }
.session-video a:hover h4 { color: #F0A40C; }
.session-video h4 {
	font-weight: 500;
	color: black;
	margin-top: 0;
}
.session-video h5 {
	margin: 0.5em 0;
	color: gray;
/*	font-size: 0.786em;*/
	font-weight: 500;
	text-transform: uppercase;
}
.session-video h5 a { display: inline; }
.session-video .thumbnail {
	border: none;
	padding: 0;
	margin-left: 0;
	margin-right: 16px;
	-webkit-box-shadow: 1px 1px 1px #BBB;
	   -moz-box-shadow: 1px 1px 1px #BBB;
	        box-shadow: 1px 1px 1px #BBB;
}




#venue { padding-bottom: 0; }
#venue .spread {
	background: #333;
	position: relative;
	overflow: hidden;
}
#venue .map {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
	margin: 0;
	height: auto;
	width: auto;
	z-index: 0;
	border-top: 1px solid #CCC;
}
#venue .details {
	position: relative;
	z-index: 10;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	padding: 2em 1.5em 2em 2em;
	color: #EEE;
	background: #333;
	background: rgba(50,50,50,0.95);
}
#venue h3 { margin-top: 2em; }
#venue h3.large {
	font-size: 1.8em;
	line-height: 1.25;
	margin-top: 0.3em;
	color: white;
}
#venue .description {
	padding: 0;
	margin: -1.5em 0 3em;
	color: #F0A40C;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 0.2em;
	line-height: 2;
}
#venue .description strong { font-weight: 400; color: white; margin-right: 1em; }
#venue .divider {
	margin-top: 0;
	border: none;
	border-bottom: 1px solid #AAA;
}


.credits {
	padding: 5em 0 9em;
	background: #C7C4B8;
	background: rgba(60,50,0,0.25);
}
.credits .container { padding-top: 4em; }
.credits h2 {
	text-align: left;
	color: #999;
	text-shadow: #CCC 0px 1px 0px, #555 0px -1px 0px;
}
.credits .description { padding: 0 0 0 4em; }
h3.hasgeek a {
	display: inline-block;
	overflow: hidden;
	text-indent: -999em;
	/* width: 109px;
	height: 30px;
	background: url(../img/hg-name.png) no-repeat scroll center left; */
	width: 75px;
	height: 75px;
	background: url(../../baseframe/img/logo.png) no-repeat scroll center left;
}
.movie-credits { padding-left: 100px; margin-top: 0; }
.movie-credits dt {
	clear: both;
	float: left;
	margin-left: -100px;
	width: 95px;
	text-align: right;
	line-height: 1.75;
	margin-bottom: 0.5em;
	font-weight: normal;
	text-transform: lowercase;
}
.movie-credits dd {
	margin-bottom: 0.5em;
	font-weight: 600;
	line-height: 1.75;
}



#takecharge { background: black url(../img/earth.jpg) no-repeat scroll -200px 32px; }
#takecharge .banner { padding: 8em 0 5em; width: 750px; margin: auto; }
#takecharge h1 {
	text-transform: uppercase;
	font-size: 6em;
	line-height: 1.22;
	margin: 0;
	text-align: left;
}
#takecharge h1 strong { color: #F0A40C; }
#takecharge h2.ir {
	float: left;
	margin: 0 4em 0 0;
	width: 143px;
	height: 80px;
	background-image: url(../img/logo_small.png);
}

#contest .description { margin-bottom: 2em; }
#contest .divider { margin-top: 4em; }
#contest ol.large { margin-bottom: 3em; }

#rules li { margin-bottom: 1em; }

.highlight {
	background: #DDD;
	background: rgba(0,0,0,0.2);
	padding: 2em 1.5em 1em;
	margin-bottom: 1.5em;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.highlight .btn { display: block; }
#submission .highlight { text-align: center; margin-bottom: 3em; }
#submission .deadline { text-align: right; }
#submission .highlight .btn { display: inline-block; }
.notice ol li { margin-bottom: 0.2em !important;}


#goals { padding-bottom: 6em; }


footer { background: black; }
footer .footer-inner {
	background: none;
	margin: 0;
	line-height: 2;
	color: gray;
}


.modal-header h3 { font-size: 1.8em; margin-bottom: 0.4em; }
.modal-body { font-size: 16px; }
