/* ================= */
/* = Media Queries = */
/* ================= */



// UP TO LANDSCAPE PHONE
// ---------------------

@media screen and (max-width: 480px) {
}

// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------

@media screen and (max-width: 767px) {
}

// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media screen and (min-width: 768px) and (max-width: 979px) {
}

// TABLETS AND BELOW
// -----------------
@media screen and (max-width: 979px) {
  #masthead-short {
    background-position: -70px 0;
    h1 {
      left: 330px;
      width: 380px;
      padding-top: 20px;
    }
  }
}

// DEFAULT DESKTOP
// ---------------

@media screen and (min-width: 980px) {
}

// LARGE DESKTOP & UP
// ------------------

@media screen and (min-width: 1200px) {
}
