/* ================= */
/* = Media Queries = */
/* ================= */


/* Base to portrait tablet */
@media (max-width: 767px) {
	.header {
		margin-bottom: 0;
		padding-bottom: 0;
		background: black url(../img/earth.jpg) no-repeat scroll -220px 32px;
	}
	.row > .web-history { display: none; background: none; }
	
	.banner { padding-top: 1em; }
	.callout {
		font-size: 1.65em;
		padding: 0.5em 0.35em;
		background: black;
		background: rgba(0,0,0,0.7);
		color: #08D;
	}
	.banner h1 {
		text-shadow: #000 -1px 1px 1px;
		margin: 1.5em auto;
	}
	.banner h1.ir { margin-top: 0.75em; }
	.banner h2,
	.banner h3 {
		font-size: 1em;
		text-shadow: #210 -2px 1px 1px;
		margin: 0.5em -10px;
	}
	.banner h2 {
		font-size: 1.4em;
		text-shadow: #110 -2px 1px 1px, rgba(0,0,0,0.4) 1px 0px 0px;
	}
	.banner .register { width: auto; max-width: 21em; margin-top: 3em; }
	.navbar { position: static; margin-top: 2em; border-top: 1px solid #222; }
	.navbar .container { padding: 0; }
	.navbar-fixed-top { position: static; }
	.navbar .nav li { float: left; width: 25%; }
	.navbar .nav li + li + li { border-left: 1px solid #222; }
	.navbar .nav li a {
		margin: 0;
		font-weight: inherit;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}
	.navbar .nav .spacer { margin-right: 0; }
	.navbar .extra,
	.navbar .nav .home,
	.navbar .nav .about,
	.navbar .nav .register { display: none; }
	
	.section { padding: 3em 0 2em; }
	.section h2 { font-size: 3em; margin-bottom: 1em; }
	.section hr.divider { margin: 3em 0 0; }
	
	.description { padding-right: 0; padding-left: 0; }
	#about .description { margin-bottom: 2em; }
	
	.row > .sponsor {
		padding: 0.5em 1em;
		margin-bottom: 2.5em;
	}
	.sponsor.empty { display: none; }
	.row > .sponsor.span2,
	.row > .sponsor.span3 { float: left; width: 50%; }
	.row > .sponsor.span2:nth-child(odd),
	.row > .sponsor.span3:nth-child(odd) { width: 47.5%; clear: left; }
	.row > .sponsor.span2:nth-child(even),
	.row > .sponsor.span3:nth-child(even) { width: 47.5%; float: right; }
	
	#schedule .funnel .btn { padding-left: 0.35em; padding-right: 0.35em; }
	.schedule { margin-left: -20px; margin-right: -20px; }
	.schedule h3 { display: none; margin-left: 13%; }
	.schedule .all-tracks { display: none; }
	.schedule .double-track { display: table; }
	.schedule td { padding: 6px 8px; }
	.schedule tbody tr td:first-child { font-size: 11px; padding: 6px 4px; }
	
	.proposal { padding-right: 0; }
	
	#venue .map {
		left: 0;
		right: 0;
		width: auto;
		margin-left: 0;
		height: 250px;
	}
	#venue .details {
		margin-top: 250px;
		padding: 2em 0 4em;
		background: none;
	}
	
	.credits .description { padding: 0; margin: 0 0 4em; }
	.credits h2 {
		font-size: 2em;
		padding-left: 106px;
	}

	#takecharge { background-position: -220px -50px; }
	#takecharge .banner { width: 280px; margin: auto; }
	#takecharge h2.ir { margin: 0 0 1em 0; }
	#takecharge h1 {
		clear: both;
		margin: 0 0 0 47px;
		font-size: 4.25em;
		line-height: 1.1;
	}
	#contest .large li { margin-left: 1.34em; display: list-item; }
	#contest .large li { margin-bottom: 1em; }
	#contest ol.large { margin-bottom: 1em; }
}


/* Inherits base (above) and but specific to portrait tablet */
@media (min-width: 540px) and (max-width:767px) {
	.container { padding: 0 40px; }
	
	.header { background-position: -150px 32px; margin-bottom: 1em; } 
	.row > .banner { float: right; width: 30em; }
	.banner h1 { margin: 1em auto; }
	
	#about .container,
	#sponsors .container,
	.credits .container { max-width: 40em; margin-left: auto; margin-right: auto; }
	
	.row > .sponsor.span6 { float: left; width: 50%; }
	.row > .sponsor.span6:nth-of-type(odd) { width: 47.5%; clear: left; }
	.row > .sponsor.span6:nth-of-type(even) { width: 47.5%; float: right; }
	
	.schedule { margin-left: -40px; margin-right: -40px; }
	.schedule .all-tracks { display: table; }
	.schedule .double-track { display: none; }
	.schedule .time { width: 16%; }
	.schedule .track { width: 21%; }
	.schedule tbody tr td { padding: 8px 10px; }
	.schedule tbody tr td:first-child { font-size: 12px; padding: 8px; }
	#schedule .span4 { float: right; width: 50%; margin-left: 5%; }
	#schedule .span8 { float: none; }
	#schedule .sidebar { float: none; width: auto; margin-left: 0; }
	.proposal { padding-right: 10%; }
	.session-video {
		float: left;
		width: 50%;
		padding-right: 5%;
		-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	}
	.session-video:nth-child(odd)  { padding-right: 0; float: left;  width: 48%; clear: left; }
	.session-video:nth-child(even) { padding-right: 0; float: right; width: 48%; }
	.session-video .thumbnail { float: left; width: 50%; }
	.session-video h5 { clear: left; }
	
	#venue .map { height: 350px; }
	#venue .map a { display: block; line-height: 0; }
	#venue .details { margin-top: 350px; }
	#venue .description { margin-bottom: 1em; }
	#venue .directions { float: left; width: 58%; }
	#venue .timing    { float: right; width: 35%; }
	
	.credits h2 { padding-left: 158px; }
	.movie-credits { padding-left: 150px; }
	
	#takecharge .banner { float: none; width: 420px; }
}


/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 980px) {
	.pull-right { float: right; }
	
	.header { background: black url(../img/earth.jpg) no-repeat scroll -226px 32px; }
	.header .container { width: auto; margin-left: 20px; margin-right: 20px; }
	.row > .web-history {
		float: left;
		background: none;
		margin-left: 20px;
		margin-top: 0;
		width: 152px;
	}
	.web-history dl {
		margin-left: 70px;
		position: relative;
		width: 400px;
	}
	.web-history dt { visibility: hidden; }
	.web-history dd { font-weight: 400; }
	.banner { width: 55%; }
	.callout { font-size: 1.75em; }
	.banner h1.ir { margin-top: 0.5em; }
	.banner .register { margin-top: 2.25em; }
	
	.navbar .container { padding: 0; }
	.navbar .nav li { float: left; width: 12.5%; }
	.navbar .nav li a {
		margin: 0;
		font-weight: inherit;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}
	.navbar .nav .home { top: 14px; }
	.navbar .nav .home a {
		font-size: 2em;
		width: 6.8em;
		line-height: 2.3em;
		-webkit-border-radius: 6.8em 2.3em;
		   -moz-border-radius: 6.8em/2.3em;
		     -o-border-radius: 6.8em/2.3em;
		        border-radius: 6.8em/2.3em;
	}
	.navbar .extra { display: none; }
	
	.description { padding-right: 2em; }
	
	#schedule .span4 { width: 290px; }
	#schedule .span8 { width: 414px; }
	.proposal { padding-right: 1.5em; }
	
	#venue .details { width: 352px; padding-top: 1em; padding-bottom: 1em; }
	
	#takecharge .banner { width: 640px; }
	#takecharge h1 { font-size: 5em; line-height: 1.59; }
}

/* Large desktop */
@media (min-width: 1200px) {
	.pull-right { float: right; }
	.web-history { width: 700px; margin-left: -140px; }
	#venue .spread { background: none; margin-bottom: 6em; }
	#venue .map { border: 1px solid #CCC; }
	#venue .details { margin-right: -17px; }
}
