@import "compass"

$thick-border-thickness: 6px
$thick-border-color: black
$thick-border: $thick-border-thickness solid $thick-border-color
$thick-border-radius: 4px

$font-size: 16px
$line-height: 24px

// Height: line-height + padding-top + padding-bottom + border-bottom + margin-bottom
$navbar-height: 19px + 10px + 11px + $thick-border-thickness + 22px

// @import "metarefresh"
// @import "responsive"

html, body

body, p
  font-family: ff-tisa-web-pro, Georgia, serif
  font-size: $font-size
  line-height: $line-height


h2, h3
  font-family: ff-tisa-web-pro, Georgia, serif
  color: black


#masthead
  margin-top: 31px
  +box-sizing(border-box)
  border: $thick-border
  // +border-radius($thick-border-radius)
  +border-top-left-radius($thick-border-radius)
  +border-top-right-radius($thick-border-radius)
  background: image-url("2012/masthead-wide.jpg")
  height: 472px
  position: relative

#banner
  +box-sizing(border-box)
  border: $thick-border
  +border-radius($thick-border-radius)
  background: white
  background: rgba(255, 255, 255, 0.9)
  // background: rgba(255, 255, 255, 0.40)
  // border: 1px solid rgba(0, 0, 0, 0.5)
  position: absolute
  top: 25px
  right: 25px
  bottom: 25px
  width: 450px
  padding: 30px 25px 25px
  text-align: center
  // +box-shadow(0 2px 6px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.1), inset 0 10px 20px rgba(255, 255, 255, 0.3), inset 0 -15px 30px rgba(0, 0, 0, 0.3))

  h1
    font-family: bree-serif, Georgia, serif
    font-weight: normal
    font-size: 80px
    line-height: 1
    color: black
    text-shadow: white 0 1px 10px
    // rgba(255, 255, 255, 0.5)

    .h1-the
      font-size: 90%
      // color: #df5e0e
    .h1-fifth
      // color: #f0a40c
    .h1-elephant
      // color: #816894

  h2, h3
    margin-top: 0

.section
  margin: 0

  h2
    font-family: bree-serif, Georgia, sans-serif
    font-weight: normal
    font-size: 4em
    line-height: 1.2
    text-align: center
    color: black
    text-shadow: white 0px 1px 0px, #999 0px -1px 0px

.btn
  // font-family: Lato, sans-serif
  // text-align: center
  // text-transform: uppercase
  // letter-spacing: 0.1em
  // word-spacing: 0.2em
  // i
  //   text-transform: none

#banner .btn-register
  width: 70%
  margin: 2em auto 1em
  display: block
  line-height: 1.5
  padding: 0.5em 0 0.75em
  max-width: 23em

.navbar-margin
  margin-bottom: $navbar-height

// Navigation bar
.navbar .nav
  float: none
  +box-sizing(border-box)
  +display-box
  margin-right: 0
  width: 100%
  background: black
  border-bottom: $thick-border
  border-left: $thick-border
  border-right: $thick-border
  +border-bottom-left-radius($thick-border-radius)
  +border-bottom-right-radius($thick-border-radius)

  & > li
    display: inline-block
    float: none
    font-size: 20px
    +display-box
    +box-flex(1)
    +box-pack(center)

    & > a
      display: block
      text-align: center
      +box-sizing(border-box)
      width: 100%
      color: white

    &:hover, &:hover > a
      color: black
      background: white
      text-decoration: none

// About
#about h3
  text-align: center
  font-family: bree-serif, Georgia, serif
  font-size: 30px
  font-weight: normal
  color: black
  padding-bottom: 10px
  margin-bottom: 20px
  border-bottom: $thick-border
  +border-bottom-left-radius($thick-border-radius)
  +border-bottom-right-radius($thick-border-radius)

.sharp-bottom-left
  +border-bottom-left-radius(0 !important)

.sharp-bottom-right
  +border-bottom-right-radius(0 !important)

.round-bottom-left
  +border-bottom-left-radius($thick-border-radius !important)

.round-bottom-right
  +border-bottom-right-radius($thick-border-radius !important)

// Sponsors
.sponsor
  padding: 1em
  margin-bottom: 2.5em
  background: white
  +box-sizing(border-box)
  position: relative
  +box-shadow(1px 1px 2px #BBB)

  &.open
    background: #E3E3E3
    +box-shadow(none)

  &.empty
    background: rgba(200,200,200,0.2)
    +box-shadow(inset 1px 1px 1px #BBB)

  &:after
    font-size: 10px
    position: absolute
    margin-top: 0.5em
    top: 100%
    right: 0
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 0.1em
    color: #BBB

  .logo
    text-align: center
    vertical-align: middle
    margin: 0
    img
      max-height: 100%
      width: auto
      vertical-align: middle

.sponsor-platinum .logo
  height: 250px
  line-height: 250px
.sponsor-gold .logo
  height: 150px
  line-height: 150px
.sponsor-silver .logo
  height: 100px
  line-height: 100px
.sponsor-bronze .logo
  height: 75px
  line-height: 75px
.sponsor-community .logo
  height: 50px
  line-height: 50px
.sponsor-platinum:after
  content: "Platinum"
.sponsor-gold:after
  content: "Gold"
.sponsor-silver:after
  content: "Silver"
.sponsor-bronze:after
  content: "Bronze"
.sponsor-community:after
  content: "Community"


#venue
  .spread
    background: #333
    position: relative
    overflow: hidden
  .map
    position: absolute
    left: 0
    right: 0
    top: 0
    bottom: 0
    overflow: hidden
    margin: 0
    height: auto
    width: auto
    z-index: 0
    border-top: 1px solid #CCC
  .details
    position: relative
    z-index: 10
    +box-sizing(border-box)
    padding: 2em 1.5em 2em 2em
    color: #EEE
    background: #333
    background: rgba(50,50,50,0.95)

.hasgeek
  +replace-text-with-dimensions('2012/hasgeek.png')

.leaflet-popup-content-wrapper
  +border-radius(8px)

.leaflet-popup-content
  margin: 12px 25px 12px 15px
