{% extends 'baseframe.html' %}

{% block title %}Fifth Elephant 2012{% endblock %}
{% block description %}A conference on front-end engineering{% endblock %}

{% block headerbox %}
<header class="header">
  {% include "baseframe/networkbar.html" -%}
  <div class="container">
    <div class="row">
    </div><!--/row-->
  </div><!-- /container -->
  
  <div class="navbar">
    <div class="container">
      <ul class="nav">
        <li class="home"><a title="Home (Top of the page)" href="#root"><b>Meta</b> Refresh</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#venue">Venue</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#credits">Credits</a></li>
        <li><a href="http://fifthelephant.doattend.com/">Register</a></li>
      </ul>
    </div><!-- /container -->
  </div><!-- /navbar -->
</header>

{% endblock %}



{% block main %}

<section id="about" class="section">
  <div class="container">
    <div class="row">
      <h2>About</h2>
      <div class="description legible span8">
        <p><abbr>HTML5</abbr> and <abbr>CSS3</abbr> have very quickly moved from being tentative new standards to the base standards for every major desktop and mobile browser. <abbr>HTML5</abbr> is now just <abbr>HTML</abbr>, a modular, living standard that no longer needs a version number.</p>

        <p>Now that we are no longer fighting over platforms, it&#8217;s time to put the specs aside and revisit the construction of user interface: how do we raise the bar for stellar user interface on the web?</p>

        <p>Meta Refresh is a follow-up to <a href="http://www.doctypehtml5.in/">DocType <abbr>HTML5</abbr></a> from 2010-11 and is a conference on web <abbr title="User Interface">UI</abbr> engineering.</p>
      </div><!-- span8 -->
      <div class="featuring span4">
        <div class="funnel legible">
          <p><a class="btn btn-primary legible" href="http://funnel.hasgeek.com/fifthelephant/">Propose a session<br><i>on the Funnel</i></a></p>
        </div>
        <div class="highlight legible">
          <p><a class="btn btn-inverse legible" href="{{ url_for('contest') }}"><i>Meta Refresh</i><br>Take Charge</a></p>
          <p>Redesign your least favourite Indian Government website.</p>
        </div>
      </div>
    </div><!-- /row -->
    <hr class="divider">
  </div><!-- /container -->
</section><!-- /about -->


<section id="sponsors" class="section">
  <div class="container">
    <h2>Sponsors</h2>
    <div class="row">
      {#
      <article class="open sponsor-platinum sponsor span6">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/430x200/E3E3E3/666&amp;text=Your+Logo+Here"></p>
      </article>
      <article class="open empty sponsor-platinum sponsor span6">
        <p class="logo"></p>
      </article>

      
      <article class="open sponsor-gold sponsor span3">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/192x150/E3E3E3/666&amp;text=Your+Logo"></p>
      </article>
      <article class="open empty sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>
      #}


      <article class="open sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-directi"><img alt="Talk.To" src="{{ url_for('static', filename='img/sponsors/talkto.png') }}"></a></p>
      </article>
      <article class="open sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-langoor"><img alt="Langoor.mobi" src="{{ url_for('static', filename='img/sponsors/langoor.png') }}"></a></p>
      </article>
      <article class="open sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-ideadevice"><img alt="Idea Device" src="{{ url_for('static', filename='img/sponsors/ideadevice.png') }}"></a></p>
      </article>
      <article class="open sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-adobe"><img alt="Adobe" src="{{ url_for('static', filename='img/sponsors/adobe.png') }}"></a></p>
      </article>
      <article class="open sponsor-silver sponsor span2">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/90x100/E3E3E3/666&amp;text=You"></p>
      </article>
      <article class="open empty sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      
      
      <article class="open sponsor-community sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-practo"><img alt="Practo" src="{{ url_for('static', filename='img/sponsors/practo.png') }}"></a></p>
      </article>
      <article class="open sponsor-community sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-fusioncharts"><img alt="Fusion Charts" src="{{ url_for('static', filename='img/sponsors/fusioncharts.png') }}"></a></p>
      </article>
      <article class="open sponsor-community sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-capillary"><img alt="Capillary Technologies" src="{{ url_for('static', filename='img/sponsors/capillary.png') }}"></a></p>
      </article>
      <article class="open sponsor-community sponsor span2">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/90x50/E3E3E3/666&amp;text=You"></p>
      </article>
      <article class="open empty sponsor-community sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-community sponsor span2">
        <p class="logo"></p>
      </article>

      <div class="modal fade sponsor-box" id="sponsor-practo">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Practo</h3>
        </div>
        <div class="modal-body">
          <p>
            At Practo, we make online software which simplifies the lives of doctors and patients. We help 12,000 doctors across 100 cities in India run their practices smoothly and serve their patients better. We are not building the regular old school 'Medical Records Software' but an awesome new way for doctors and patients to interact utilizing the internet, mobile and more. Healthcare is one of the slowest industries to adopt to technology, and we are fighting this battle to bring about change. We deserve better healthcare services as patients and we will get them.
          </p>
        </div>
        <div class="modal-footer">
          <a href="http://www.practo.com/" class="btn btn-primary sponsor-exit">Visit Practo</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
      
      <div class="modal fade sponsor-box" id="sponsor-directi">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Talk.to</h3>
        </div>
        <div class="modal-body">
          <p><em>A Directi business</em></p>
          <p><a class="sponsor-exit" href="http://www.directi.com">Directi</a> is a 300+ million dollars group of Businesses, that develop innovative mass-market Web Products serving millions of Customers worldwide.</p>
          <p>Directi businesses rank amongst the fastest growing businesses worldwide in their corresponding industry segments. The combined Product Portfolio of various Directi businesses includes - Communication and Collaboration apps, Social Networking software, Instant messaging, Context Analysis Engines, Antispam and Antivirus Solutions, Large scale Billing and Provisioning platforms, Traffic Monetization Solutions, Online Advertising Solutions, DNS Management Products, Linux and Windows Server Management Software, Web Hosting Control Panels and much more.</p>
          <p>All our businesses have been profitable from inception. All assets of the group are organically funded without any external debt or borrowing.</p>
          <p><a class="sponsor-exit" href="http://talk.to">Talk.to</a> provides communication, collaboration, social networking and content publishing software. Our software is used by our network of authorized partners to provide these services to users worldwide.</p>
        </div>
        <div class="modal-footer">
          <a href="http://www.talk.to/" class="btn btn-primary sponsor-exit">Visit Talk.to</a>
          <a href="http://www.directi.com/" class="btn btn-primary sponsor-exit">Visit Directi</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
      
      <div class="modal fade sponsor-box" id="sponsor-langoor">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Langoor.mobi</h3>
        </div>
        <div class="modal-body">
          <p><a class="sponsor-exit" href="http://app.langoor.mobi/">langoor.mobi</a> is a tool created by <a class="sponsor-exit" href="http://langoor.com.au/">Langoor</a>, to help you create mobile websites easily. Mobile interfaces need to consider small screens, avoid zoom for view, load faster at low speeds and work for all multiple mobile phone-browser-OS combinations. <a class="sponsor-exit" href="http://app.langoor.mobi/">langoor.mobi</a> converts your existing desktop site in a few minutes and makes it mobile friendly automatically. Usually the conversion is about 60-70% accurate, and so then transfers the creative control to the user for further optimization. The user can edit layout, navigation and content on the mobile version before making it live!  

          <p>Currently <a class="sponsor-exit" href="http://app.langoor.mobi/">langoor.mobi</a> is being offered at a special price of only $10/month.</p>          
        </div>
        <div class="modal-footer">
          <a href="http://app.langoor.mobi/" class="btn btn-primary sponsor-exit">Visit langoor.mobi</a>
          <a href="http://langoor.com.au/" class="btn btn-primary sponsor-exit">Visit Langoor</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
      
      <div class="modal fade sponsor-box" id="sponsor-fusioncharts">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>FusionCharts</h3>
        </div>
        <div class="modal-body">
          <p><em>Stunning charts in JavaScript (HTML5) and Flash</em></p>
          <p>FusionCharts v3 helps you create animated and interactive charts for web and enterprise applications in JavaScript (HTML5) and Flash. It is the industry’s leading enterprise-grade charting component that functions seamlessly on PCs, Macs, iPads, iPhones and a majority of other mobile devices.</p>
          <p>FusionCharts is used by 20,000 customers and 450,000 users in over 118 countries to add "wow" to their applications. This extensive list of customers includes a majority of Fortune 500 companies and some of the web's most popular sites like Weather.com, LinkedIn, Google Docs and Federal IT Dashboard.</p>
          <p>The company recently opened their Bangalore office and are <a class="sponsor-exit" href="http://www.fusioncharts.com/company/careers/">looking for smart and passionate people</a> who want to be a part of a growing product company.</p>
        </div>
        <div class="modal-footer">
          <a href="http://www.fusioncharts.com/" class="btn btn-primary sponsor-exit">Visit FusionCharts</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>

      <div class="modal fade sponsor-box" id="sponsor-ideadevice">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Idea Device</h3>
        </div>
        <div class="modal-body">
          <p><a href="http://www.ideadevice.com/">Idea Device</a> (ID) develops software automation products for medium to large enterprises. Data centers of some of the largest stock exchanges, global banks and manufacturing giants are powered by our software and we are about to take on automation of cloud infrastructure.</p>
          <p>ID was voted one of the top product startups from India last year. We were incubated by IIM-Bangalore and are funded by a valley VC. We are a young engineer driven startup and we are hiring! - Come help us shake up the IT automation industry - tons of challenging work and lots and lots of coffee.</p>
          
        </div>
        <div class="modal-footer">
          <a href="http://www.ideadevice.com/" class="btn btn-primary sponsor-exit">Visit Idea Device</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>

      <div class="modal fade sponsor-box" id="sponsor-capillary">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Capillary Technologies</h3>
        </div>
        <div class="modal-body">
          <p>Capillary brings instant and social engagement to the retail point of sale. Its proven Cloud based CRM technology which is deployed in more than 5000 retail outlets in India, UK, Middle East and Africa helps retailers capture data about customers and reward them in the best possible fashion, backed up by a lot of gold standard analytics and insightful business consulting. The Capillary clientele includes marquee brands such as Raymond, Peter England, Planet Fashion, Puma, Mobile Store, Pizza Hut, Xtreme Sports Bar etc. Over 15 million customers have transacted on the Capillary platform, with over $30 million of business passing through our system every month.</p>
          <p>Capillary is not your everyday company; it is a powerhouse of ideas, driven by a burning entrepreneurial spirit. Started by IIT Kharagpur alumni, backed by Qualcomm Ventures and a group of amazing angel investors, Capillary has offices in Bangalore, London, Dubai, Delhi and Mumbai. At Capillary, we take pride in our people, and associate ourselves with the best minds, with a passion for rapid prototyping, architecting and scaling software for millions of users. For a Capillarian, there’s never a dull day at work!</p>
        </div>
        <div class="modal-footer">
          <a href="http://capillary.co.in/" class="btn btn-primary sponsor-exit">Visit Capillary</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>

      <div class="modal fade sponsor-box" id="sponsor-adobe">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Adobe</h3>
        </div>
        <div class="modal-body">
          <p>Whether it's a smartphone or tablet app, a game, a video, a digital magazine, a website, or an online experience, chances are that it was touched by Adobe technology. Our tools and services enable our customers to create groundbreaking digital content, deploy it across media and devices, and then continually measure and optimize it based on user data. By providing complete solutions that combine digital media creation with data-driven marketing, we help businesses improve their communications, strengthen their brands, and ultimately achieve greater business success.</p>
        </div>
        <div class="modal-footer">
          <a href="http://www.adobe.com/" class="btn btn-primary sponsor-exit">Visit Adobe</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
      
    </div><!-- /row -->
    <hr class="divider">
  </div><!-- /container -->
</section><!-- /sponsors -->


<section id="schedule" class="section">
  <div class="container">
    <h2>Schedule</h2>
    <div class="row">
      <div class="span12 preview">
        <h3>Event Preview</h3>
      </div>
    </div> <!-- /preview header -->
    <div class="row">
      <div class="span4">
        <article class="session-video clearfix">
          <a href="http://www.youtube.com/watch?v=sSd3tW4oLY8&list=PLD135D46C531052A2&index=1&feature=plpp_video">
            <p class="thumbnail span2"><img alt="Thumbnail" src="http://img.youtube.com/vi/sSd3tW4oLY8/mqdefault.jpg"></p>
            <h4>Frontend build process</h4>
          </a>
          <h5>Sunil Pai</h5>
        </article>
        <article class="session-video clearfix">
          <a href="http://www.youtube.com/watch?v=iZ7xt2pSdcE&list=PLD135D46C531052A2&index=2&feature=plpp_video">
            <p class="thumbnail span2"><img alt="Thumbnail" src="http://img.youtube.com/vi/iZ7xt2pSdcE/mqdefault.jpg"></p>
            <h4>Be a Ninza CSS Coder with CSS Preprocessors (Stylus, LESS, SASS)</h4>
          </a>
          <h5>Brajeshwar Oinam</h5>
        </article>
        <article class="session-video clearfix">
          <a href="http://www.youtube.com/watch?v=f7fzKRoYSMU&list=PLD135D46C531052A2&index=3&feature=plpp_video">
            <p class="thumbnail span2"><img alt="Thumbnail" src="http://img.youtube.com/vi/f7fzKRoYSMU/mqdefault.jpg"></p>
            <h4>Optimizing Modern Web Applications for Performance</h4>
          </a>
          <h5>Karthik Kastury</h5>
        </article>
      </div>
      <div class="span4">
        <article class="session-video clearfix">
          <a href="http://www.youtube.com/watch?v=AV7fLu9OUrk&list=PLD135D46C531052A2&index=4&feature=plpp_video">
            <p class="thumbnail span2"><img alt="Thumbnail" src="http://img.youtube.com/vi/AV7fLu9OUrk/mqdefault.jpg"></p>
            <h4>Build a Responsive Design quickly with SASS + practical challenges &amp; solutions</h4>
          </a>
          <h5>Arpan C. J.</h5>
        </article>
        <article class="session-video clearfix">
          <a href="http://www.youtube.com/watch?v=hPIMITav4jo&list=PLD135D46C531052A2&index=5&feature=plpp_video">
            <p class="thumbnail span2"><img alt="Thumbnail" src="http://img.youtube.com/vi/hPIMITav4jo/mqdefault.jpg"></p>
            <h4>RubyMonk - Design to 1 Million Page Views in Four Weeks</h4>
          </a>
          <h5>Rahul Gonsalves &amp; Aakash Dharmadikari</h5>
        </article>
        <article class="session-video clearfix">
          <a href="http://www.youtube.com/watch?v=0I_R3qC4VC8&list=PLD135D46C531052A2&index=6&feature=plpp_video">
            <p class="thumbnail span2"><img alt="Thumbnail" src="http://img.youtube.com/vi/0I_R3qC4VC8/mqdefault.jpg"></p>
            <h4>Ninja Prototyping with Templating Engines</h4>
          </a>
          <h5>Uday M. Shankar</h5>
        </article>
      </div>
      <div class="span4">        
        <div class="funnel legible">
          <p><a class="btn btn-primary legible disabled" href="http://funnel.hasgeek.com/fifthelephant/">Vote <i>or</i><br>Propose a Session</a></p>
          <p>HasGeek events are community driven. You are invited to submit a session proposal, and you get to influence the proposals that make it to the schedule by voting them up or down in <a href="http://funnel.hasgeek.com/fifthelephant/">the funnel</a>.</p>
          <h4>Submissions closed 15<sup>th</sup> April</h4>
        </div><!-- /funnel -->
      </div><!-- /span -->
    </div><!-- /row for preview videos -->
    <div class="schedule">
      <table class="table all-tracks">
        <colgroup class="time"></colgroup> 
        <colgroup class="track track-1"></colgroup>
        <colgroup class="track track-2"></colgroup>
        <colgroup class="track track-3"></colgroup>
        <colgroup class="track track-4"></colgroup>
        <thead>
          <tr>
            <th>Time</th>
            <th>Room P1 (Stories)</th>
            <th>Room P2 (Process)</th>
            <th>Room T1 (Browsers)</th>
            <th>Room T2 (Tools)</th>
          </tr>
        </thead>
        <tbody>
          {% for row in schedule -%}
            <tr>
              <td>{{ row[0] }}</td>
              {% if row|length == 2 -%}
                <td colspan="4">{{ row[1] }}</td>
              {%- else -%}
                {% for col in row[1:] -%}
                  {% if col == 0 %}
                    <td>(open)</td>
                  {%- else -%}
                    {%- set proposal = proposals[col] %}
                    <td>
                      <h4><a href="{{ proposal['url'] }}">{{ proposal['title'] }}</a></h4>
                      <p>{{ proposal['speaker'] }}</p>
                    </td>
                  {%- endif %}
                {%- endfor %}
              {%- endif %}
            </tr>
          {%- endfor %}
        </tbody>
      </table>

			{% for sub_table in [[("Room P1 (Stories)", 1), ("Room P2 (Process)", 2)], [("Room T1 (Browsers)", 3), ("Room T2 (Tools)", 4)]] -%}
			  <table class="table double-track">
          <colgroup class="time"></colgroup> 
          <colgroup class="track track-1"></colgroup>
          <colgroup class="track track-2"></colgroup>
          <thead>
            <tr>
              <th>Time</th>
              {% for track, track_index in sub_table -%}
                <th>{{ track }}</th>
              {%- endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in schedule -%}
              <tr>
                <td>{{ row[0] }}</td>
                {% if row|length == 2 -%}
                  <td colspan="2">{{ row[1] }}</td>
                {%- else -%}
                  {% for track, track_index in sub_table -%}
                  {%- set col = row[track_index] %}
                    {% if col == 0 %}
                      <td>(open)</td>
                    {%- else -%}
                      {%- set proposal = proposals[col] %}
                      <td>
                        <h4><a href="{{ proposal['url'] }}">{{ proposal['title'] }}</a></h4>
                        <p>{{ proposal['speaker'] }}</p>
                      </td>
                    {%- endif %}
                  {%- endfor %}
                {%- endif %}
              </tr>
            {%- endfor %}
          </tbody>
        </table>
      {%- endfor %}

    </div><!-- /schedule -->
    <hr class="divider">
  </div><!-- /container -->
</section><!-- /program -->


<section id="venue" class="section">
  <h2>Venue</h2>
  <div class="spread">

    <div class="container">

      <div class="row">
        <div id="map" class="map"></div>
        <div class="details clearfix span5 pull-right">
          <h3 class="large">Dharmaram Vidya Kshetram</h3>
          <p class="description"><strong>Christ University Campus</strong> Bangalore</p>
          
          <div class="directions">
            <h3>Getting There</h3>
            <p class="legible">Enter Christ University’s main entrance gate on Marigowda Road and drive straight down to Dharmaram Vidya Kshetram, within the campus. Christ University is at Dairy Circle, half a kilometre from the Forum mall. Meta Refresh is in DVK's Philosophy and Theology blocks, behind the main auditorium.</p>

            <p class="legible">If you are approaching from Dairy Circle, drive up to Hosur Road for a U-turn. The campus has sufficient parking space.</p>
            <p><a href="http://goo.gl/maps/jYyv">View location in Google Maps</a></p>
          </div><!-- /directions -->
          
          <div class="timing">
            <h3>When</h3>
            <p class="legible">
              21<sup>st</sup> April 2012<br>
              9:00 am to 6:00 pm
            </p>
          </div><!-- /timing -->
        </div><!-- /details -->
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /spread -->
  <hr class="divider">
</section><!-- /venue -->


<section class="credits section">
  <div id="credits" class="container">
    <div class="row">
      <div class="span8 description legible pull-right">
        <h3 class="hasgeek"><a href="http://hasgeek.com/">HasGeek</a></h3>
        <p><strong>HasGeek is a developer-led initiative</strong>, and has been un-organising the unconference scene since 2010. <a href="http://hasgeek.com">HasGeek</a> is an attempt to solve the problem of insipid conferences organised around buzzwords by uninterested, soulless corporate entities who pitch them as company training events or as places for companies to pick up hot developers.</p>
        <p>We are attempting to build a new space,  <strong>a space that is genuinely respectful of the communities</strong> and topics that we choose to engage with. We want to be a space for developers who are as excited as us about technology and the possibilities that it creates, not to be a recruitment fair (though we hope you do find partnership possibilities at our events).</p>
        <p>We are community-driven — <a href="http://funnel.hasgeek.com/">check out our speaker-selection funnel</a>, where you decide what talks to listen to by voting up or down. There are just a handful of us running the show and are not in it for the money (not there is much left after paying the vendors and logistics providers). We are doing this because this is what we love: bringing a whole bunch of us geeks together, sharing our interests and expertise and hanging out later over $beverageOfChoice.</p>
      </div>
      <div class="span4">
        <h2>Credits</h2>
        <dl class="movie-credits">
          <dt>Producer</dt>
          <dd>Anupama Sharma</dd>
          <dt>Editor</dt>
          <dd>Kiran Jonnalagadda</dd>
          <dt>Website</dt>
          <dd>Prateek Rungta,<br><a href="http://miranj.in/">Miranj</a><br>Sidharth Kuruvila</dd>
          <dt>Hosting</dt>
          <dd><a href="http://e2enetworks.com/">E2E Networks</a></dd>
          <dt>Tech support</dt>
          <dd>Kingsly John<br>Praneeth Bodduluri</dd>
          <dt>Hasgeek</dt>
          <dd>Kiran Jonnalagadda<br>Zainab Bawa<br>Anupama Sharma<br>Nigel Babu<br>Sajjad Anwar<br>Parag Gupta</dd>
          <dt>Earth Photo</dt>
          <dd>Blue Marble,<br><a href="http://www.flickr.com/photos/gsfc/4392965590/">NASA</a></dd>
          <dt>Supported By</dt>
          <dd><a href="http://www.cis-india.org/">The Centre for Internet and Society</a></dd>
        </dl>
      </div><!-- /span -->
    </div>
  </div>
</section><!-- /credits -->

{% endblock %}

{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    var map = new L.Map('map');
    var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
        subDomains = ['otile1','otile2','otile3','otile4'],
        cloudmadeAttrib = '<a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
        var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});

        var venue = new L.LatLng(12.9334, 77.6050); // geographical point (longitude and latitude)
        var center = new L.LatLng(12.936, 77.62);
        var mobile_center = new L.LatLng(12.935, 77.591);
        map.setView(center, 14).addLayer(cloudmade);
        if (map.getSize().x < 768) { map.setView(venue,14); } // on smaller screen where map takes full-width

        var venue_marker = new L.Marker(venue);
        map.addLayer(venue_marker);
        venue_marker.bindPopup('Dharmaram Vidya Kshetram').openPopup();
        map.scrollWheelZoom.disable();
        map.doubleClickZoom.disable();
        
        map.on('zoomend', onZoomend);
        function onZoomend(){ map.setView(venue, map.getZoom()); };
  });
</script>
<script type="text/javascript">
  $(function() {
    $(".sponsor-box").on('shown', function() {
      if (typeof _gaq != 'undefined') {
        _gaq.push(['_trackPageview', "/2012/#" + $(this).attr('id')]);
      };
    });    
    $(".sponsor-box").on('hidden', function() {
      if (typeof _gaq != 'undefined') {
        _gaq.push(['_trackPageview', "/2012/#"]);
      };
    });    
    $(".sponsor-exit").click(function() {
      if (typeof _gaq != 'undefined') {
        _gaq.push(['_trackPageview', "/out/" + $(this).attr('href')]);
      };
    });
  });
</script>
{% endblock %}
