{% extends 'baseframe.html' %}

{% block title %}Fifth Elephant 2012{% endblock %}
{% block description %}Magic with Big Data{% endblock %}


{% block headerbox %}
<header>
	{% include "baseframe/networkbar.html" -%}
	<div class="navbar navbar-fixed-top header">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
					<li class="active"><a href="#home">Home</a></li>
					<li><a href="#srosnops">Sponsors</a></li>
					<li><a href="#sessions">Sessions</a></li>
					<li><a href="#schedule">Schedule</a></li>
					<li><a href="#venue">Venue</a></li>
					<li><a href="#credits">Credits</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block main %}
<div class="container home" id="home">
	<div class="row hero-unit">
		<div class="span12">
			<h1>The Fifth Elephant</h1>
			<h2>A Data Science &amp; Technology Conference</h2>
			<h2>27<sup>th</sup> July &amp; 28<sup>th</sup> July, Bangalore</h2>
		</div>
	</div>
	<div class="row">
		<div class="span8 offset2">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel sem ac nulla accumsan accumsan. Aenean lacus nulla, tempor eu varius sed, convallis hendrerit leo. Cras ornare diam eget nisl porttitor accumsan. Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p><br />
			<p align="center"><a href="#" class="btn btn-large btn-primary icon-edit"> Register Now!</a> <a href="#" class="btn btn-large btn-primary icon-bullhorn"> Propose a talk</a></p>
		</div>
	</div>
</div>
<hr>
<div class="container srosnops" id="srosnops">
	<div class="row">
		<div class="span12"><h1>Sponsors</h1></div>
	</div>
	<div class="row sponsdoc">
		<div class="span6 offset1">Talk to us about your goals and we will help you tailor a package to suit your needs</div>
		<div class="span4"><a href='#' class="btn btn-large btn-primary icon-download-alt"> Sponsorship Doc</a></div>
	</div>
	<div class="row">
		<div class="span6"><a class="thumbnail"><img src="http://placehold.it/440x250" /></a></div>
		<div class="span6"><a class="thumbnail"><img src="http://placehold.it/440x250" /></a></div>
	</div><br /><br />
	<div class="row">
		<div class="span4"><a class="thumbnail"><img src="http://placehold.it/300x150" /></a></div>
		<div class="span4"><a class="thumbnail"><img src="http://placehold.it/300x150" /></a></div>
		<div class="span4"><a class="thumbnail"><img src="http://placehold.it/300x150" /></a></div>
	</div>
	<div class="row"><br /><br />
		<div class="span3"><a class="thumbnail"><img src="http://placehold.it/220x100" /></a></div>
		<div class="span3"><a class="thumbnail"><img src="http://placehold.it/220x100" /></a></div>
		<div class="span3"><a class="thumbnail"><img src="http://placehold.it/220x100" /></a></div>
		<div class="span3"><a class="thumbnail"><img src="http://placehold.it/220x100" /></a></div>
	</div>	
</div>
<hr>
<div class="container sessions" id="sessions">
	<div class="row">
		<div class="span12"><h1>Sessions</h1></div>
	</div>
	<div class="row">
		<div class="span4"><h3>Track 1<h3><h2>Data Management</h2><p>Psum dolor sit amet, consectetur adipiscing elit. Aenean vel sem ac nulla accumsan accumsan. Aenean lacus nulla, tempor eu varius sed, convallis hendrerit leo. Cras ornare diam eget nisl porttitor accumsan. Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p></div>
		<div class="span4"><h3>Track 2<h3><h2>Processing &amp; Analysis</h2><p>Psum dolor sit amet, consectetur adipiscing elit. Aenean vel sem ac nulla accumsan accumsan. Aenean lacus nulla, tempor eu varius sed, convallis hendrerit leo. Cras ornare diam eget nisl porttitor accumsan. Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p></div>
		<div class="span4"><h3>Track 3<h3><h2>Visualizations</h2><p>Psum dolor sit amet, consectetur adipiscing elit. Aenean vel sem ac nulla accumsan accumsan. Aenean lacus nulla, tempor eu varius sed, convallis hendrerit leo. Cras ornare diam eget nisl porttitor accumsan. Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p></div>
	</div>
	<div class="row">
		<div class="span5 offset1">
			<div class="event_preview_video"><img />
				<h3>Event Preview Video 1</h3>
				<p>Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p>
			</div>
			<div class="event_preview_video"><img />
				<h3>Event Preview Video 3</h3>
				<p>Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p>
			</div>
			<div class="event_preview_video"><img />
				<h3>Event Preview Video 5</h3>
				<p>Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p>
			</div>
		</div>
		<div class="span5">
			<div class="event_preview_video"><img />
				<h3>Event Preview Video 2</h3>
				<p>Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p>
			</div>
			<div class="event_preview_video"><img />
				<h3>Event Preview Video 4</h3>
				<p>Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p>
			</div>
			<div class="event_preview_video"><img />
				<h3>Event Preview Video 6</h3>
				<p>Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p>
			</div>
		</div>		
	</div>
	
</div>
<hr>
<div class="container schedule" id="schedule">
	<div class="row">
		<div class="span12"><h1>Schedule</h1></div>
	</div>
	<div class="row">
		<div class="span8 offset2">
			<h3>The schedule will be live soon.</h3>
		</div>
	</div>
	<div class="row">
		<div class="span4 offset2"><a href='#' class="btn btn-large btn-primary">View Proposed Talks</a></div>
		<div class="span4"><a href='#' class="btn btn-large btn-primary icon-star"> Propose A Talk</a></div>
	</div>
</div>
<hr>
<div class="container venue" id="venue">
	<div class="row">
		<div class="span12">
			<h1>Venue</h1>

		</div>
	</div>
</div>
<hr>
<div class="container credits" id="credits">
	<div id="map" class="map"></div>
	<div class="row">
		<div class="span12"><h1>Credits</h1></div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="row">
				<div class="span4"><h2>Credits</h2><p>Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p></div>
				<div class="span8"><h2>hasgeek</h2><p>Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
