{% extends 'baseframe.html' %}

{% block title %}Fifth Elephant 2012{% endblock %}
{% block description %}Magic with Big Data{% endblock %}


{% block headerbox %}
<header class="navbar navbar-fixed-top header">
	{% include "baseframe/networkbar.html" -%}
	<div>
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">The Fifth Elephant</a>
				<div class="nav-collapse">
				<ul class="nav">
					<li class="active"><a href="#home">Home</a></li>
					<li><a href="#partners">Sponsors</a></li>
					<li><a href="#sessions">Sessions</a></li>
					<!--<li><a href="#schedule">Schedule</a></li>-->
					<li><a href="#venue">Venue</a></li>
					<li><a href="#credits">Credits</a></li>
				</ul>
				<ul class="nav pull-right register">
		            <li><a href="#register" class="icon-thumbs-up"> Register</a><div class="triangle"></div></li>
	          	</ul>
				</div>
			</div>
		</div>
	</div>
</header>
{% endblock %}

{% block main %}
<section id="home">
<div class="container hero-unit">
	<div class="row">
		<div class="span12">
			<h1>The Fifth Elephant</h1>
			<h2>A Data Science &amp; Technology Conference</h2>
			<h2>27<sup>th</sup> July &amp; 28<sup>th</sup> July, Bangalore</h2>
		</div>
	</div>
	<div class="row">
		<div class="span8 offset2">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel sem ac nulla accumsan accumsan. Aenean lacus nulla, tempor eu varius sed, convallis hendrerit leo. Cras ornare diam eget nisl porttitor accumsan. Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p><br />
  			<p align="center"><a href="#" class="btn btn-large btn-primary icon-edit"> Register Now!</a> <a href="#" class="btn btn-large btn-primary icon-user"> Propose a talk</a> <a href="#" class="btn btn-large btn-primary icon-signal"> Vote for Talks</a></p>
		</div>
	</div>
</div>
</section>

<section id="partners">
<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Presented by</h1>
		</div>
	</div>
	<div class="row thumbnails">
		<div class="span4 offset4"><a href="#" class="thumbnail"><img src="/static/img/sponsors/okf.jpg" /><p>Community Partner</p></a></div>
	</div>
	<div class="row">
		<div class="span8 offset2 contentbox pdfs">
			<p align="center">Talk to us about your goals and we will help you tailor a package to suit your needs. </p>
			<p align="center"><a href="#" class="btn btn-large btn-primary">Sponsorship Doc</a></p>
		</div>
	</div>
</div>
</section>

<section id="sessions">
<div class="container">
	<div class="row">
		<div class="span12">
			<h1>Sessions</h1>
		</div>
	</div>
	<div class="row">
		<div class="span4 track1">
			<h4>TRACK <span>1</span></h4>
			<h2>Data Management</h2>
			<p>Psum dolor sit amet, consectetur adipiscing elit. Aenean vel sem ac nulla accumsan accumsan. Aenean lacus nulla, tempor eu varius sed, convallis hendrerit leo. Cras ornare diam eget nisl porttitor accumsan. Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p>
		</div>
		<div class="span4 track2">
			<h4>TRACK <span>2</span></h4>
			<h2>Processing &amp; Analysis</h2>
			<p>Psum dolor sit amet, consectetur adipiscing elit. Aenean vel sem ac nulla accumsan accumsan. Aenean lacus nulla, tempor eu varius sed, convallis hendrerit leo. Cras ornare diam eget nisl porttitor accumsan. Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh ante sed tortor. Etiam quis justo felis.</p>
		</div>
		<div class="span4 track3">
			<h4>TRACK <span>3</span></h4>
			<h2>Visualizations</h2>
			<p>Psum dolor sit amet, consectetur adipiscing elit. Aenean vel sem ac nulla accumsan accumsan. Aenean lacus nulla, tempor eu varius sed, convallis hendrerit leo. Cras ornare diam eget nisl porttitor accumsan. Sed ornare dolor vel justo sollicitudin pretium. Fusce pulvinar, turpis id lacinia egestas, nunc sapien volutpat odio, at vestibulum nibh sed tortor.</p>
		</div>		
	</div>
	<div class="row">
		<div class="span6 offset3 contentbox propose">
			<p align="center"><a href='#' class="btn btn-large btn-primary icon-star"> Propose A Talk</a></p>
			<p>HasGeek events are community driven. You are invited to submit a session proposal, and you get to influence the proposals that make it to the schedule by voting them up or down in <a href="http://funnel.hasgeek.com/5el/" target="_blank">the funnel</a>.</p>
			<p>Last Date: <span class="lastdate">XX<sup>th</sup> July 2012</span></p>
		</div>
	</div>
	<div class="row">
		<div class="span6">
			<div class="preview_video">
			</div>
		</div>
	</div>
</div>
</section>

<section id="register">
	<div class="container">
		<div class="row">
			<div class="span12"><h1>Register!</h1></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="span12">
				<iframe id='ifrm' name='ifrm' src='http://doattend.com/embed_ticket/21810' scrolling='auto' width='100%' height='550px'>Oops!! Sorry you will have to <a href = 'http://fifthelephant.doattend.com'>register here</a></iframe>
			</div>
		</div>
	</div>	
</section>


<section id="venue">
	<div class="container">
		<div class="row">
			<div class="span12"><h1>Venue</h1></div>
		</div>
		<div class="row">
			<div class="span4 offset7 directions">
				<h2>NIMHANS Convention Center</h2>
				<p>Hosur Road, Bangalore</p>

				<div>
					<h3>Getting there</h3>
					<p>In hac habitasse platea dictumst. In hac habitasse platea dictumst. Praesent condimentum venenatis massa, eget imperdiet risus aliquet vitae. Aenean erat lectus, posuere quis luctus vel, vehicula at ante. Vestibulum gravida, felis et aliquet scelerisque, leo risus imperdiet er.</p>
					<p><a href="http://g.co/maps/9ve49" target="_blank" class="btn btn-large btn-primary icon-map-marker"> View in Maps</a></p>
				</div>
			</div>
			<div id="map"></map>
		</div>
	</div>
</section>

<section id="credits">
	<div class="container">
		<div class="row">
			<div class="span12"><h1>Credits</h1></div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="span12">
				<div class="row">
					<div class="span4">
						<dl class="movie-credits">
							<dt>Producer</dt>
							<dd>Zainab Bawa</dd>
							<dt>Editor</dt>
							<dd>Anupama Sharma<br />S. Anand</br />Govind Kanshi<br />Sharad Agarwal<br />Vijay Raipati</dd>
							<dt>Website</dt>
							<dd><a href="#">PPT Salon</a><br />Parag Gupta</dd>
							<dt>Hosting</dt>
							<dd><a href="http://e2enetworks.com/">E2E Networks</a></dd>
							<dt>Tech support</dt>
							<dd>Kingsly John<br>Praneeth Bodduluri</dd>
							<dt>Hasgeek</dt>
							<dd>Kiran Jonnalagadda<br>Zainab Bawa<br>Anupama Sharma<br>Nigel Babu<br>Sajjad Anwar<br>Parag Gupta</dd>
							<dt>Support by</dt>
							<dd>Aditya Sen Gupta<br /><a href="http://www.cis-india.org/">The Centre for Internet and Society</a></dd>
						</dl>
					</div>

					<div class="span8 hasgeek">
					<h2><img src="../../baseframe/img/logo.png"></h2><p><strong>HasGeek is a developer-led initiative</strong>, and has been un-organising the unconference scene since 2010. <a href="http://hasgeek.com">HasGeek</a> is an attempt to solve the problem of insipid conferences organised around buzzwords by uninterested, soulless corporate entities who pitch them as company training events or as places for companies to pick up hot developers.</p>
					<p>We are attempting to build a new space,  <strong>a space that is genuinely respectful of the communities</strong> and topics that we choose to engage with. We want to be a space for developers who are as excited as us about technology and the possibilities that it creates, not to be a recruitment fair (though we hope you do find partnership possibilities at our events).</p>
					<p>We are community-driven — <a href="http://funnel.hasgeek.com/">check out our speaker-selection funnel</a>, where you decide what talks to listen to by voting up or down. There are just a handful of us running the show and are not in it for the money (not there is much left after paying the vendors and logistics providers). We are doing this because this is what we love: bringing a whole bunch of us geeks together, sharing our interests and expertise and hanging out later over $beverageOfChoice.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}3