<section id="past-editions" class="last-year nospace clearfix fill-light">
    <div class="resetcoords full fill-dark">
      <div class="band last-year white freeflow full">
        <h1 class="centered calm measure-10words space-half-bottom space-one-top">2016 Edition</h1>
        <ul class="large numbers-2012 centered space-half">
          <li class="numbers-2012-days">2 days</li>
          <li class="numbers-2012-tracks">3 tracks</li>
          <li class="numbers-2012-sessions">30 talks</li>
          <li class="numbers-2012-workshops">4 workshops</li>
          <li class="numbers-2012-participants">1500 participants</li>
        </ul>
      </div>
      <ul class="flipboard contain-width regular fill-dark full clearfix">
      </ul>
      <script id="card-template" type="text/template">
        <li>
          <div class="flipcard">
            <p class="face front"></p>
            <p class="face back"></p>
          </div>
        </li>
      </script>
    </div>
    
    <article class="push-two clearfix center-block regular">
      <div class="container">
        <div class="row">
          {% with f = fragment('2017', 'past-editions') %}
            <div class="col-xs-12">{{ f.content }}</div>
          {% endwith %}
        </div>
      </div>
    </article>
    
    {% set talks = getnode(path='past-featured-talks').data['talks'] %}
    <div class="push-one-top push-four-bottom">
      <h2 class="centered calm measure-10words center-block space-two">Featured Talks</h2>
      <ul class="thumbnail-columns thumbnail-columns-four video-thumbnails regular clearfix no-list">
        {% for talk in talks %}
          <li class="clearfix">
            <a class="occupy block-link" href="{{ talk.video_url }}" target="_blank">
              <p class="poster video contain-width">
                <img alt="{{ talk.title }}" src="{{ talk.banner }}" width="350" height="197">
              </p>
              <hgroup>
                <h3>{{ talk.title }}</h3>
                <h4 class="space-1q-top nospace-bottom">{{ talk.speaker }}</h4>
              </hgroup>
            </a>
          </li>
        {% endfor %}
      </ul>
      
      <p class="centered space-two regular">
        <a class="button" href="https://www.youtube.com/user/hasgeek" target="_blank">More on HasGeek TV</a>
      </p>
    </div>
</section>
