{% extends theme("layout.html") %}

{% set title = 'Code of Conduct' %}
{% set description = node.description %}
{% set page_caption = 'Code of Conduct' %}
{% set banner_title_size = 'huge' %}

{% block page_nav_items %}
<li><a href="#short" class="link-white-hover">Short<span class="hide-mobile"> Version</span></a></li>
<li><a href="#long" class="link-white-hover">Long<span class="hide-mobile">er Version</span></a></li>
<li><a href="#contact" class="link-white-hover">Contact</a></li>
<li><a href="#procedures" class="link-white-hover">Procedures</a></li>
{% endblock %}

{% block content %}
<section class="legible prose space-six-top pad-one">
  <article>
    
    <section class="preface" id="short">
      <h2 class="visuallyhidden">Preface</h2>
      <div class="measure-8words center-block">
        <p>The Fifth Elephant 2016 is a community conference intended for collaboration and networking in the developer and business communities.</p>
        <p>We value the presence of every attendee and want everyone to have an enjoyable and fulfilling experience. All attendees are therefore expected to show respect and courtesy to other attendees throughout the workshops and the conference.</p>
        <p>All attendees – participants, speakers, exhibitors, organisers and volunteers – at The Fifth Elephant 2016 are required to conform to the following Code of Conduct. Organisers will enforce this code throughout the event.</p>
      </div>
    </section>

    <section id="long" class="longer-version regular space-two push-four-top">
      <h2 class="centered calm">The Code of Conduct Applies to Everyone</h2>
      <div class="measure-10words center-block">
        <p>HasGeek conferences are spaces for developers to share knowledge, network, and collaborate to advance the state of technology.</p>
        <p>We strive to create a safe and open environment so that every participant can participate confidently, contribute to the community meaningfully, and feel enriched at the end of the conference.</p>
        <p>This code of conduct is to create a safe environment so that everyone can voice their perspective freely.</p>
        <p><b>Code for Speakers:</b></p>
        <ol>
          <li><p>Sexual language, imagery, and objectification of the male / female / transsexual body is to be avoided.<br><em>Objectification, especially the female body, is where imagery of women and sexual activity is used in a manner that is not essential to convey an idea.</em></p></li>
          <li><p>Sexist, racist, homophobic, or <a href="https://en.wikipedia.org/wiki/Rankism">exclusionary</a> jokes are not acceptable.</p></li>
          <li><p>Every speaker must submit their slides at least a day before their presentation to ensure that they are in the clear.</p></li>
          <li><p>HasGeek crew reserves the right to stop a speaker during their talk if they violate this code of conduct, overtly or otherwise.</p></li>
          <li><p>The offending speaker is likely to be taken off stage if they make unacceptable remarks during their talk. If a speaker continues to violate the code of conduct, HasGeek reserves the right to disallow their talks from any or all of HasGeek's conferences, indefinitely.</p></li>
        </ol>
        <p><b> Code for Exhibitors and Sponsors:</b></p>
        <ol>
          <li><p>Sexual language, imagery, and objectification of the male / female / transsexual body is to be avoided.<br><em>Objectification, especially the female body, is where imagery of women and sexual activity is used in a manner that is not essential to convey an idea.</em></p></li>
          <li><p>Stereotypical imagery and verbal remarks that can be interpreted as a certain gender or generation’s incompetence/inability to understand ideas is to be avoided. Examples include stereotypes about software being suitable for elderly mothers.</p></li>
          <li><p>Images of men and women without context cannot be used in promotional material.</p></li>
          <li><p>All promotional content including booth backdrop, print promotional material, social media co-promotions, and videos, are subject to review before final printing and production. This is also explicitly mentioned in the commercial term sheet sent to every sponsor upon confirmation of sponsorship.</p></li>
          <li><p>Booth staff, including volunteers, should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</p></li>
        </ol>
        <p><b>Code for Participants:</b></p>
        <ol>
          <li>Participants are required to refrain from harassing behavior towards speakers, other participants, sponsors, media personnel, volunteers, and HasGeek staff. Harassment includes:
            <ul>
              <li>offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion,</li>
              <li>sexual images in public spaces,</li>
              <li>deliberate intimidation,</li>
              <li>stalking,</li>
              <li>photography or recording without explicit consent,</li>
              <li>sustained disruption of talks or other events,</li>
              <li>inappropriate physical contact,</li>
              <li>unwelcome sexual attention.</li>
            </ul></li>
            <li><p>Attendees asked to stop any harassing behaviour are expected to comply immediately.</p></li>
        </ol>
        <p>If an attendee, speaker, or sponsor engages in behaviour that violates this code of conduct, the conference organisers may take any action they deem appropriate, including warning the offender or expelling him/her from the premises with no refund.</p>
        <p>Thank you for helping make The Fifth Elephant 2016 a welcoming, friendly event for all.</p>
      </div>
    </section>

    <section id="contact" class="contact-info regular space-two push-four-top">
      <h2 class="centered calm">Contact Information</h2>
      <div class="measure-10words center-block">
        <p><p>If you would like to report another speaker, attendee, sponsor, or volunteer, please approach one of the HasGeek crew and file your complaint. You may also fill out our Google form <a href="https://docs.google.com/forms/d/e/1FAIpQLSemb7SoF8GYuT5CWIrqX4Jhf95TcTqZJb-dBFE-0UxlPW72VA/viewform">here</a>, or email Sandhya (<a href="mailto:sandhya@hasgeek.com">sandhya@hasgeek.com</a>) or Karthik (<a href="mailto:karthik@hasgeek.com">karthik@hasgeek.com</a>).</p>
        <p>If the matter is especially urgent, please call/contact any of these individuals:</p>
        <ul>
          <li>Zainab Bawa: <a href="tel:+919945473641">+91 99454 73641</a></li>
          <li>Kiran Jonnalagadda: <a href="tel:+919945235123">+91 99452 35123</a></li>
        </ul>
        <p>Crew members are there to help participants contact the organizing team and assist those experiencing harassment to feel safe for the duration of the conference.</p>
      </div>
    </section>

    <footer id="license" class="license measure-10words regular center-block space-two-top space-six-bottom push-four-top">
      <h2 class="centered calm">License</h2>
      <div class="faded secondary">
        <p>This Code of Conduct was forked from the <a href="https://us.pycon.org/2014/about/code-of-conduct/">PyCon US Code of Conduct</a>, which in turn was forked from the <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Geek Feminism wiki, created by the Ada Initiative and other volunteers</a> and available under a Creative Commons Zero license.</p>

        <p><a rel="license" href="https://creativecommons.org/licenses/by/3.0/" class="unhighlight"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">The Conference Code of Conduct</span> for <a xmlns:cc="http://creativecommons.org/ns#" href="http://fifthelephant.in/2016/code-of-conduct" property="cc:attributionName" rel="cc:attributionURL">The Fifth Elephant</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</p>
      </div>
    </footer>
    
  </article>
</section>
{% endblock %}
