{% extends theme("layout.html") %}

{% set title = 'Code of Conduct' %}
{% set description = node.description %}
{% set page_caption = 'Code of Conduct' %}
{% set banner_title_size = 'huge' %}

{% block page_nav_items %}
<li><a href="#short" class="link-white-hover">Short<span class="hide-mobile"> Version</span></a></li>
<li><a href="#long" class="link-white-hover">Long<span class="hide-mobile">er Version</span></a></li>
<li><a href="#contact" class="link-white-hover">Contact</a></li>
<li><a href="#procedures" class="link-white-hover">Procedures</a></li>
{% endblock %}

{% block content %}
<section class="legible prose space-six-top pad-one">
  <article>
    
    <section class="preface" id="short">
      <h2 class="visuallyhidden">Preface</h2>
      <div class="measure-8words center-block">
        <p>The Fifth Elephant 2015 is a community conference intended for collaboration and networking in the developer and business communities.</p>
        <p>We value the presence of every attendee and want everyone to have an enjoyable and fulfilling experience. All attendees are therefore expected to show respect and courtesy to other attendees throughout the workshops and the conference.</p>
        <p>All attendees – participants, speakers, exhibitors, organisers and volunteers – at The Fifth Elephant 2015 are required to conform to the following Code of Conduct. Organisers will enforce this code throughout the event.</p>
      </div>
    </section>

    <section id="long" class="longer-version regular space-two push-four-top">
      <h2 class="centered calm">The Code of Conduct Applies to Everyone</h2>
      <div class="measure-10words center-block">
        <p>HasGeek conferences are spaces for developers to share knowledge, network, and collaborate to advance the state of technology.</p>
        <p>We strive to create a safe and open environment so that every participant can participate confidently, contribute to the community meaningfully, and feel enriched at the end of the conference.</p>
        <p>This code of conduct is to create a safe environment so that everyone can voice their perspective freely.</p>
        <p><b>Code for Speakers:</b></p>
        <ol>
          <li><p>Sexual language, imagery and objectification of the male / female / trans-sexual body is not appropriate during talks. Refrain from using these in your slides. <em>Sexualization means objectification of human body, especially the female body, where the images, materials and activities are used for illustrative purposes as against being the content of discussion.</em></p></li>
          <li><p>Sexist, racist, or exclusionary jokes are not acceptable.</p></li>
          <li><p>Every speaker must submit his/her slides a day before their presentation to ensure that they are in the clear.</p></li>
          <li><p>HasGeek crew reserves the right to stop a speaker during her/his talk if s/he makes overt or subtle remarks which violate this code of conduct.</p></li>
          <li><p>The offending speaker will be informed of their unacceptable remarks by the event coordinator, privately. If a speaker is found to make sexist comments, after being warned about the same, HasGeek reserves the right to disallow their talks from any or all of HasGeek's conferences, indefinitely.</p></li>
        </ol>
        <p><b> Code for Exhibitors and Sponsors:</b></p>
        <ol>
          <li><p>Exhibitors should not use sexualised images, activities, or other material which objectify the male / female / trans-sexual body. For e.g., bikini-clad women, bodies of macho men, etc. <em>Sexualization means objectification of human body, especially the female body, where the images, materials and activities are used for illustrative purposes as against being the content of discussion.</em></p></li>
          <li><p>Efforts should also be made to refrain from using imagery and verbal remarks that can be interpreted as a certain gender’s incompetence /inability to understand and use technology.</p></li>
          <li><p>Images of men and women cannot be used in promotional material without specifying the exact context in which these images have to be interpreted. For e.g., use of a woman’s face for advertising job openings / recruitment is acceptable only if the woman is an employee of the company, and her name and designation are mentioned on the material.</p></li>
          <li><p>All designs – booth backdrop, print promotional material, videos – are subject to review before final printing and production. This is also explicitly mentioned in the commercial term sheet sent to every sponsor upon confirmation of sponsorship.</p></li>
          <li><p>Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment.</p></li>
        </ol>
        <p><b>Code for Participants:</b></p>
        <ol>
          <li>Harassment includes:
            <ul>
              <li>offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion,</li>
              <li>sexual images in public spaces,</li>
              <li>deliberate intimidation,</li>
              <li>stalking,</li>
              <li>following,</li>
              <li>harassing photography or recording,</li>
              <li>sustained disruption of talks or other events,</li>
              <li>inappropriate physical contact, </li>
              <li>and unwelcome sexual attention.</li>
            </ul></li>
            <li><p>Attendees asked to stop any harassing behaviour are expected to comply immediately.</p></li>
            <li><p>If an attendee engages in behaviour that violates this code of conduct, the conference organisers may take any action they deem appropriate, including warning the offender or expelling him or her from the premises with no refund.</p></li>
        </ol>
        <p>Thank you for helping make The Fifth Elephant 2015 a welcoming, friendly event for all.</p>
      </div>
    </section>

    <section id="contact" class="contact-info regular space-two push-four-top">
      <h2 class="centered calm">Contact Information</h2>
      <div class="measure-10words center-block">
        <p>If you are being harassed, have noticed that someone else is being harassed, or have any other concerns, please contact a crew member. Conference staff will wear white coloured lanyards with “HasGeek” printed in purple and orange. Ask them to put you in touch with the HasGeek organizing team.</p>
        <p>If the matter is especially urgent, please call/contact any of these individuals:</p>
        <ul>
          <li>Zainab Bawa: +91 99454 73641</li>
          <li>Kiran Jonnalagadda: +91 99452 35123</li>
        </ul>
        <p>Crew members are there to help participants contact the organizing team and assist those experiencing harassment to feel safe for the duration of the conference.</p>
      </div>
    </section>

    <section id="procedures" class="procedures regular space-two push-four-top pad-one">
      <h2 class="centered calm">Procedure for Handling&nbsp;Harassment</h2>
      <ul class="measure-10words center-block">
        <li><a href="/2015/incident-reporting">Attendee Procedure for incident handling</a></li>
        <li><a href="/2015/incident-handling">Staff Procedure for incident handling</a></li>
      </ul>
    </section>

    <footer id="license" class="license measure-10words regular center-block space-two-top space-six-bottom push-four-top">
      <h2 class="centered calm">License</h2>
      <div class="faded secondary">
        <p>This Code of Conduct was forked from the <a href="https://us.pycon.org/2014/about/code-of-conduct/">PyCon US Code of Conduct</a>, which in turn was forked from the <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Geek Feminism wiki, created by the Ada Initiative and other volunteers</a> and available under a Creative Commons Zero license.</p>

        <p><a rel="license" href="http://creativecommons.org/licenses/by/3.0/" class="unhighlight"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">The Conference Code of Conduct</span> for <a xmlns:cc="http://creativecommons.org/ns#" href="http://fifthelephant.in/2015/code-of-conduct" property="cc:attributionName" rel="cc:attributionURL">The Fifth Elephant</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.</p>
      </div>
    </footer>
    
  </article>
</section>
{% endblock %}
