{% extends theme("layout.html") %}

{% set title = 'Community' %}
{% set description = '' %}
{% set page_caption = 'Community' %}
{% set page = 'community' %}

{% block image_banner %}
<p class="community-banner center-block ir space-two-top">Community</p>
{% endblock %}

{% block page_nav_items %}
   <li><a href="#committee" class="link-white-hover">Programme Committee</a></li>
{% endblock %}

{% block content %}
<h2 class="large clearboth centered calm measure-10words center-block space-six-top space-two-bottom">
  Of&nbsp;the&nbsp;Community,
  By&nbsp;the&nbsp;Community,
  For&nbsp;the&nbsp;Community
</h2>
<section id="community" class="legible clearfix">
  <article class="prose clearfix">
    <div class="measure-10words pad-one center-block">
      <p>
        One of the unique features of The Fifth Elephant (and <a href="http://hasgeek.com/">HasGeek</a> events in general) is the community’s defining role. The speakers, the curators and the attendees are all from the same community.
      </p>
      <p class="regular">
        Anyone is welcome to <a href="http://funnel.hasgeek.com/fifthel2014/">propose a session</a>. Participants who have purchased conference tickets will vote on session proposals. The Editorial Panel steering The Fifth Elephant 2014 will also vote on submissions and balance the community voting. The Programme Committee consists of data analysts and big data practitioners.
      </p>
      <p class="regular">
        Proposal submissions are reviewed on the basis of use cases, how a problem was solved, or why a particular technology and/or approach was adopted for solving the problem. Proposers can refer to open source technologies and tools available for storage, analytics and visualisation in their submissions.
      </p>
    </div>
    <p class="centered space-two-top">
      <a class="button" href="http://funnel.hasgeek.com/fifthel2014/">Propose a Session</a>
    </p>
  </article>
  
  <article id="committee" class="push-three-top push-two-bottom fill-light space-four-top clearfix">
    <div class="prose measure-10words pad-one center-block">
      <h2 class="centered calm space-two-top space-one-bottom">The Programme Committee</h2>
      <p class="regular">
        This year’s programme committee boasts of experience and expertise from different spectrums of Big Data &mdash; practitioners working on storage and cloud computing as well as architects and technologists working on analytics and business intelligence. 
      </p>
    </div>
    
    <ul class="programme-committee poster-with-bio prose regular clearfix push-one-bottom space-two-top nospace-bottom">
      <li id="vinayak" class="clearfix">
        <div class="poster clearfix">
          <p class="contain-width clearfix"><img alt="" src="https://imgee.s3.amazonaws.com/imgee/f3e2dc37fc7d4f028cf0c366435d5799_w150_h150.jpeg" width="150" height="150"></p>
          <hgroup class="clearboth">
            <h3>Vinayak Hegde</h3>
            <h4 class="all-caps secondary">Helpshift</h4>
            <p><a href="https://twitter.com/vinayakh">@vinayakh</a></p>
          </hgroup>
        </div>
        <div class="bio">
          <p>Vinayak is an early adopter of technologies having worked across diverse and complex computer systems including embedded systems, networking, large-scale distributed systems and data-processing systems. He has more than a decade of experience in hardcore product development &amp; software/deployment architecture.</p>
          <p>In prior to the work as VP Engineer at Helpshift, he has experience as Lead Architect/Manager at InMobi, Architect at Akamai Technologies, Software Engineer (Contract) at Microsoft India R&amp;D, and as Development Lead at Aparna Web Services India Ltd.</p>
          <p>Beyond work, he’s an avid photographer and traveller. Also he posts <a href="http://vinayakhegde.com">random thoughts</a> here.</p>
        </div>
      </li>
      <li id="govind" class="clearfix">
        <div class="poster clearfix">
          <p class="contain-width clearfix"><img alt="" src="{{ theme_static('img/bios/govind.jpg') }}" width="150" height="150"></p>
          <hgroup class="clearboth">
            <h3>Govind Kanshi</h3>
            <h4 class="all-caps secondary">Microsoft</h4>
            <p><a href="https://twitter.com/govindk">@govindk</a></p>
          </hgroup>
        </div>
        <div class="bio">
          <p>Govind works at Microsoft Technology Center (MTC) in Bangalore helping customers adopt technology platform, ranging from applied software solutions and processes. He can be usually found ‘learning’ more about ‘how things work’ and demystifying them in pragmatic way. His expertise lies in developing applications and finding/fixing bottlenecks. Data excites him, and terms like startburst and byzantine evoke his curiosity.</p>
          <p>Outside work, food, books and movies, travel keeps him busy. He <a href="http://govindkanshi.wordpress.com">blogs occasionally</a>.</p>
        </div>
      </li>
      <li id="shailesh" class="clearfix">
        <div class="poster clearfix">
          <p class="contain-width clearfix"><img alt="" src="https://imgee.s3.amazonaws.com/imgee/650a2fd4818b43d397d04609d30850c0_w150_h150.jpeg" width="150" height="150"></p>
          <hgroup class="clearboth">
            <h3>Shailesh Kumar</h3>
            <h4 class="all-caps secondary">Google</h4>
          </hgroup>
        </div>
        <div class="bio">
          <p>Dr. Shailesh Kumar is a Member of Technical Staff at Google, Hyderabad where he works on Machine Learning, Information Retrieval, Data Mining, and Computer Vision problems for various Google products. Dr. Kumar has over fifteen years of experience in applying and innovating machine learning, statistical pattern recognition, and data mining algorithms to hard prediction problems in a wide variety of domains including information retrieval, web analytics, text mining, computer vision, retail data mining, risk and fraud analytics, remote sensing, and bioinformatics. He has published over 20 conference papers, journal papers, and book chapters and holds over a dozen patents in these areas.</p>
        </div>
      </li>
      <li id="viral" class="clearfix">
        <div class="poster clearfix">
          <p class="contain-width clearfix"><img alt="" src="https://imgee.s3.amazonaws.com/imgee/a98dfbb9c96f4f0489e0fa33d084efba_w150_h150.jpeg" width="150" height="150"></p>
          <hgroup class="clearboth">
            <h3>Viral Shah</h3>
            <h4 class="all-caps secondary">Co-creator of Julia language</h4>
            <p><a href="https://twitter.com/Viral_B_Shah">@Viral_B_Shah</a></p>
          </hgroup>
        </div>
        <div class="bio">
          <p>Viral Shah is a co-creator of <a href="http://julialang.org/">Julia Programming language</a> - a high-level, high-performance dynamic programming language for technical computing.</p>
          <p>Viral has been working as senior scientist at Interactive Supercomputing; and then as Manager (Financial Inclusion) at Unique Identification Authority of India, where he designed the policies and the technology behind the Aadhaar-based payments systems for Government payments and the e-KYC platform. He had also co-created Circuitscape.</p>
          <p>Viral has published papers on <em>Julia: A Fast Dynamic Language for Technical Computing</em>, <em>A unified framework for numerical and combinatorial computing</em> and <em>Using circuit theory to model connectivity in ecology, evolution and conservation</em>. He also holds a patent on <em>Methods and apparatus for parallel execution of a process</em>.</p>
        </div>
      </li>
    </ul>
  </article>

</section>

{% endblock %}

