{% extends theme("layout.html") %}

{% set title = 'Conference' %}
{% set description = '' %}
{% set page_caption = 'Conference' %}
{% set page = 'conference' %}

{% block page_nav_items %}
<li><a href="#sessions" class="link-white-hover">Talks</a></li>
<li><a href="#schedule" class="link-white-hover">Schedule</a></li>
<li><a href="#proposals" class="link-white-hover">Proposals</a></li>
{% endblock %}

{% block content %}
<h2 class="large clearboth centered calm measure-10words center-block space-six-top space-two-bottom">
  Storage&nbsp;<span class="amp">&amp;</span>&nbsp;Analytics.
  Every&nbsp;stone,&nbsp;unturned.
</h2>
<section id="conference" class="legible clearfix">
  <article class="prose clearfix">
    <h1 class="visuallyhidden">Introduction</h1>
    <div class="measure-10words pad-one center-block">
      <p>
        A short intro to the conference. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p class="regular">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <p class="regular">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </article>
</section>  

<section id="sessions" class="space-four-top fill-light legible clearfix">
  {% with session_kind = 'Talks' %}
  {% from theme("data/featured-talks.html") import featured_talks as featured %}
  {% include theme("partials/_featured_sessions.html") %}
  
  {% from theme("data/talks.html") import talks as sessions %}
  {% include theme("partials/_sessions.html") %}
  {% endwith %}
</section>

<section id="schedule" class="schedule space-six legible">
  <h2 class="centered calm space-two">Schedule</h2>
  <div class="schedule-table-container center-block pad-one regular">
    {% include theme("partials/_schedule_table.html") %}
  </div>
</section>

<section id="proposals" class="legible highlight-links clearfix space-four">
  <article class="clearfix">
    <div class="measure-8words center-block pad-one">
    <h2 class="calm centered space-two">Conference Proposals</h2>
    {% for s in node.sections() if s.name != 'workshops' %}
        {% for proposal in node.proposals() if proposal['section_name'] == s.name %}
          {% if loop.first %} 
            <h3 class="calm centered ultrafaded space-two">{{ s.title }}</h3>
            <ul id="proposals" class="proposals space-four-bottom">
          {% endif %}
          {% include theme("partials/_proposal_item.html") %}
          {% if loop.last %} </ul> {% endif %}
        {% endfor %}
    {% endfor %}
    
    <p class="centered space-six-top">
      <a class="button" href="http://funnel.hasgeek.com/fifthel2013/">Propose a Session</a>
    </p>
    </div>
  </article>
  
</section>

{% endblock %}

{% block footer_credits %}
<p class="centered tiny space-two-top space-four-bottom faded center-block attribution"><span class="wrap-mobile"><a href="http://thenounproject.com/noun/speech-bubble/#icon-No5656" target="_blank">Speech Bubble</a> designed by <a href="http://thenounproject.com/naomiatkinson" target="_blank">Naomi Atkinson</a> and</span> <span class="wrap-mobile"><a href="http://thenounproject.com/noun/like/#icon-No1297" target="_blank">Like</a> designed by <a href="http://thenounproject.com/marwaboukarim" target="_blank">Marwa Boukarim</a> from The Noun Project</span></p>
{% endblock %}

