{% extends theme("layout.html") %}

{% set title = 'Conference' %}
{% set description = '' %}
{% set page_caption = 'Conference' %}
{% set page = 'conference' %}
{% set banner_title_size = 'huge' %}

{% block image_banner %}
<!-- <p class="conference-banner center-block ir space-two-top">Community</p> -->
{% endblock %}

{% block page_nav_items %}
   <li><a href="#tracks" class="link-white-hover">Tracks</a></li>
   <li><a href="#sessions" class="link-white-hover">Confirmed Talks</a></li>
   <li><a href="#schedule" class="link-white-hover">Schedule</a></li>
{% endblock %}

{% block content %}
<h2 id="tracks" class="large clearboth centered calm measure-10words center-block space-two push-four-top">
  Storage&nbsp;<span class="amp">&amp;</span>&nbsp;Analytics.
  Every&nbsp;stone,&nbsp;unturned.
</h2>
<section id="tracks" class="legible clearfix">
  <article class="prose clearfix">
    <h1 class="visuallyhidden">Introduction</h1>
    <div class="measure-10words pad-one center-block">
    <p class="legible">The Fifth Elephant is India's largest gathering of big data and analytics practitioners. The theme of this year's edition is analytics. Speakers will share practical experiences with data mining, machine learning and building technology for analytics.</p>
      <p class="darkblue">
        The conference has two tracks: infrastructure for analytics and applications. 
      </p>
      <h4 class="space-two-top space-half-bottom semi-bold regular">Analytics infrastructure: platforms, tools and in-house solutions.</h4>
      <h4 class="space-two-top space-half-bottom semi-bold regular">Data mining and machine learning: applications in different domains.</h4>
    </div>
  </article>
</section> 

<section id="sessions" class="space-four-top push-one-top fill-light legible clearfix">
{% with session_kind = 'Talks' %}
<h2 class="centered calm space-four-top space-one-bottom">Confirmed Talks</h2>
{% from theme("data/talks.html") import talks as sessions %}
{% include theme("partials/_sessions.html") %}
{% endwith %}
</section>

<section id="schedule" class="schedule space-two push-four legible">
  <h2 class="centered calm space-two">Schedule</h2>
  <div class="schedule-table-container center-block pad-one regular">
    {% include theme("partials/_schedule_conference.html") %}
  </div>
</section>

{% endblock %}
