{% extends 'baseframe.html' %}

{% block title %}Meta Refresh - Take Charge{% endblock %}
{% block description %}An initiative to take good web design to our public institutions.{% endblock %}

{% block headerbox %}

<header id="takecharge" class="header">
  {% include "baseframe/networkbar.html" -%}
  <div class="container">
      <div class="banner contest">
        <a href="{{ url_for('index2012') }}"><h2 class="ir">Meta Refresh</h2></a>
        <h1>Take <strong>Charge</strong></h1>
      </div>
  </div><!-- /container --> 
</header>

{% endblock %}



{% block main %}


<section id="contest" class="section">
  <div class="container">
    <ol class="large row">
      <li class="span3">Pick an Indian Government website of your choice.</li>
      <li class="span4 offset1">Redesign the homepage by introducing the concepts of design, aesthetics, information architecture and usability.</li>
      <li class="span3 offset1">Awe the world.</li>
    </ol><!-- /large -->
    
    <div class="row">
      <div class="description legible span8">
        <p>It’s 2012 and the web today is undisputedly the world’s biggest platform. Over the past two decades most things about the web has changed — be it the utility, the technologies, or even the interfaces.</p>

        <p>Sadly most Indian Government institutions are still sleeping in the past, their websites appear to be totally aloof about these changes— directionless, heartless and a pain for the users. All of us have have cribbed about it at least once in our past. Many around us express their annoyance about this everyday.</p>

        <p>We think it&#8217;s high time to be the change. It&#8217;s time to show the community, the Government and the people at large how you think these websites should be shaped going forward.</p>
       
      </div>
      
      <div class="secondary span4">
        <p>If it is hard for you to think of them, here are a few Government organisations that have expressed their interest in taking a look at how they could be better:</p>
        
        <ul>
          <li><a href="http://mcgm.gov.in/">Municipal Corporation of Greater Mumbai</a></li>
          <li><a href="http://www.bescom.org/">Bangalore Electric Supply Company</a></li>
          <li><a href="http://delhigovt.nic.in/bhagidari.asp">Bhagidari of Delhi Govt.</a></li>
          <li><a href="http://www.bestundertaking.com/">B.E.S.T.</a></li>
          <li><a href="http://censusindia.gov.in/">Census of India</a></li>
          <li><a href="http://www.doccentre.net/">Centre for Education and Documentation</a></li>
          <li><a href="http://nsdiindia.gov.in/">National Spatial Data Infrastructure</a></li>
          <li><a href="http://www.delhi.gov.in/wps/wcm/connect/DOIT_DJB/djb/home">Delhi Jal Board</a></li>
          <li><a href="http://delhi.gov.in/wps/wcm/connect/doit_tradeandtaxes/TradeAndTaxes/Home">Delhi Government: Department of Trade and Taxes</a></li>
          <li><a href="http://nationalcraftsmuseum.nic.in/">National Handicrafts and Handlooms Museum</a></li>
          <li><a href="http://mmrhcs.org.in">MMRDA Heritage Conservation Society</a></li>
          <li><a href="http://mmreis.org.in">MMRDA Environment Improvement Society</a></li>
        </ul>
      </div><!-- /secondary -->
    </div><!-- /row -->
    
    <hr class="divider">
  </div><!-- /container -->
</section><!-- /contest -->


<section id="rules" class="section">
  <div class="container">
    <h2>Rules</h2>
    <div class="row">
      <div class="description legible span8">
        <ul>
          <li>We ♥ HTML, CSS and JavaScript. Please submit solutions that render best on a browser, not in Photoshop, not in Fireworks, not in Flash, not as an image.</li>
          <li>Compatibility with the latest versions of Chrome and Firefox should do. Compatibility with IE is not a must. This is a test of your engineering and design skills, not a test of browser workaround expertise.</li>
          <li>Feel free to use any CSS/JavaScript frameworks/libraries that make your work easier.</li>
          <li>Do <em>not</em> use any resources that you do not have rights for. This applies as much to photos and graphics as it does to code.</li>
          <li>Entries should be purely front-end and not have any dependency on the server or server-side technologies.</li>
          <li>Please limit your team size to a maximum of 3 people.</li>
        </ul>
        <p> You will own your design and code, and will be under no obligation to 
            license to anyone for free or otherwise.</p>
      </div><!-- span8 -->
      <div class="span4">
        <div class="notice legible">
          <p><b>Register yourself or your team</b> by emailing us:</p>
            <ol>
             <li>Your name</li> 
             <li>Your email</li>
             <li>Which site you&#8217;re working on</li>
             </ol>
          
          <p>Write to us with any questions or doubts you may have about this.</p>
          <p class="large"><a href="mailto:takecharge@hasgeek.com">takecharge@hasgeek.com</a></p>
        </div>
      </div>
    </div><!-- /row -->
    <hr class="divider">
  </div><!-- /container -->
</section><!-- /rules -->


<section id="submission" class="section">
  <div class="container">
    <h2>Submission</h2>
    <div class="row">
      <div class="span8 offset2 highlight">
        <p class="large">Mail your LIVE website <abbr>URL</abbr> to <a class="btn btn-primary" href="mailto:takecharge@hasgeek.com">takecharge@hasgeek.com</a></p>
        <p class="legible"><strong>Submissions close 25th May (extended from 19th Apr).</strong></p>
      </div>
      <div class="description legible span8 offset2">
        <p class="secondary">If you are not comfortable with hosting a live site of your own, you could:</p>
        <ol>
          <li>Host your site on GitHub and send us the <abbr>URL</abbr> of the live hosted site on GitHub. (Here is a <a href="http://help.github.com/pages/">guide to hosting your site on GitHub</a>.)</li>
          <li>Email your Github repository <abbr>URL</abbr>.</li>
          <li>If you are not comfortable with version control or GitHub, you can also send us a <abbr>ZIP</abbr> of your images, markup and scripts.</li>
        </ol>
      </div>
    </div><!-- /row -->
    <hr class="divider">
  </div><!-- /container -->
</section><!-- /submission -->


<section id="goals" class="section">
  <div class="container">
    <h2>Goals</h2>
    <div class="row">
      <div class="description legible span8">
           <p> We are speaking with various departments listed above to draw their attention to your designs.
             Policy analysts, technologists and data enthusiasts who have worked with the government are helping 
             us find the right people and vendors. However, getting these deployed is not our goal.</p>
           <p>Our hope is that these designs will be catalysts for:</p>
           <ul>
              <li>A design rethink in Government organisations.</li>
              <li>A demand from the citizens for better solutions.</li>
              <li>Inspiring the country's budding designers to pursue Government organisations by translating the full potential of the home page redesign to the entire site.</li>
           </ul>
      </div>
      <div class="legible span4">
        <h3>Evaluation</h3>
        <p>A few basic things that would be great to have:</p>
        <ul>
          <li>Clarity</li>
          <li>Visual Hierarchy (Information Architecture)</li>
          <li>Usability</li>
          <li>Aesthetics</li>
          <li>Accessibility</li>
        </ul>
        <p>However, your own best judgement applied sensibly is what will wow everyone.</p>  
      </div>
    </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /goals -->



{% endblock %}
