{% extends theme("layout.html") %}

{% set title = "Deep Learning Conf – India’s first" %}
{% set description = '' %}
{% set page_caption = 'Workshops' %}
{% set page = 'workshops' %}
{% set banner_title_size = 'huge' %}

{% block banner %}
<div class="banner long-page-nav fill-beige home resetcoords clearfix">
  <header class="clearfix">
    {% block image_banner %}
      
      <div class="space-one">{% block nav %}{{ super() }}{% endblock %}</div>
<!--       <div class="masthead-svg-container">
        {% include theme("partials/_bigdata_banner.html") %}
      </div> -->
      <div class="masthead-svg-alternative"><p class="big-data center-block ir space-two-top">Deep Learning conference , 1 July 2016, Bangalore</p></div>
    {% endblock %}  

    <!--<hr class="half center-block space-three-bottom">-->
    <hgroup class="centered clearfix">
      <div class="">
        <h1 class="calm huge space-two-top space-half-bottom darkblue textshadow"><a class="link-white-translucent-hover darkblue" href="deep-learning">Deep Learning Conf Workshops</a></h1>
      </div>
      <h3 class="calm brown legible nospace-top space-one-bottom">
        2 July 2016, Bangalore
      </h3>
    </hgroup>
</header>
  
  
  {% block page_nav %}{{ super() }}{% endblock %}
  
</div>
{% endblock %}


{% block page_nav_items %}
   <li><a href="#workshops" class="link-white-hover">Introduction</a></li>
   <li><a href="#sessions" class="link-white-hover">Confirmed Workshops</a></li>
   <li><a href="#schedule" class="link-white-hover">Schedule</a></li>
   <li><a href="#venue" class="link-white-hover">Venue</a></li>
{% endblock %}

{% block content %}
<h2 id="workshops" class="large clearboth centered calm measure-10words center-block space-two push-four-top">
  Intense.&nbsp;In-Depth. Hands&nbsp;On.
</h2>
<section class="legible clearfix">
  <article class="prose clearfix">
    <h1 class="visuallyhidden">Introduction</h1>
    <div class="measure-10words pad-one center-block">
      <p>
        The second day of Deep Learning Conf 2016 - 2nd July is hands-on workshops open to 40 participants each. These workshops will provide an overview to Deep Learning for Natural Language Processing and Computer Vision.
      </p>
    </div>
  </article>
</section>

<section id="sessions" class="space-four-top push-one-top fill-light legible clearfix">
{% with session_kind = 'Talks' %}
<h2 class="centered calm space-four-top space-one-bottom">Confirmed Workshops</h2>
{% from theme("data/deep-learning-workshop.html") import talks as sessions %}
{% for session in sessions %}
  {% if loop.first %}
  <article class="push-two-bottom highlight-links clearfix">
    <h2 class="centered calm space-two visuallyhidden">{{ session_kind }}</h2>
    <ul class="sessions center-block thumbnail-columns thumbnail-columns-two-wide video-thumbnails regular clearfix">
  {% endif %}
    <li class="clearfix">
      {% if session.preview %}
      <a class="occupy block-link space-3q-bottom" href="{{ session.preview.link }}">
        <p class="poster video contain-width">
            <img alt="Watch Preview" src="{{ theme_static(session.preview.poster) }}" width="350" max-height="197">
        </p>
      </a>
      {% elif session.speaker.photo %}
      <p class="contain-width">
          <img alt=" " src="{{ theme_static(session.speaker.photo) }}">
      </p>
      {% endif %}
      <hgroup class="clearfix">
        <h3 class="capitalize title-width">{% if session.funnel %}<a href="{{ session.funnel }}" class="spooky">{% endif %}{{ session.title }}{% if session.funnel %}</a>{% endif %}{% if session.funnel2 %}/ <a href="{{ session.funnel2 }}" class="spooky">{% endif %}{{ session.title2 }}{% if session.funnel2 %}</a>{% endif %}</h3>
        <h4 class="space-half-top nospace-bottom secondary">{{ session.speaker.name }}</h4>
        <h6 class="space-1q-top space-half-bottom secondary thin darkblue">{{ session.speaker.designation|safe }}</h6>
      </hgroup>
      {% if funnel %}
      <p><a href="{{ session.funnel }}" class="capitalize tiny">View funnel proposal</a></p> 
      {% endif %}
    </li>
  {% if loop.last %}
    </ul>
  </article>
  {% endif %}
{% endfor %}
{% endwith %}
</section>

{% include theme("schedule-table.html") %}
<section id="schedule" class="schedule space-two push-four legible">
  <h2 class="centered calm nospace">Schedule</h2>
  <div class="funnel-schedule-link">
    <p class="centered space-two-top">
      <a class="button" href="https://fifthelephant.talkfunnel.com/deep-learning-2016/schedule" target="_blank">View Schedule</a>
    </p>
  </div>
  <div class="schedule-container">
    <div class="schedule-table-container center-block pad-one regular " id="dl-workshopschedule">
      <p class="centered loadingtxt">Loading...</p>
    </div>
  </div>
</section>

<section id="venue" class="legible conference-venue space-two-top space-four-bottom push-four-top">
  <article class="legible">
    <hgroup class="space-two-bottom">
      <h1 class="calm centered nospace large">Workshops Venue</h1>
      <h2 class="calm centered space-half-top nospace-bottom ultrafaded legible">Google Office Bangalore</h2>
    </hgroup>
    <section>
      <div class="venue-showcase conference-venue contain-width clearfix">
        <p class="full">
        <img  class="venuephoto occupy" style="width:50%; margin: 0 auto;"
                src="{{ theme_static('img/venue/google_office.jpg') }}"
                alt="Google Office Bangalore">
        </p>
      </div>
      <div class="measure-10words regular prose center-block pad-one space-two-top">
        <h4 class="space-two-top nospace-bottom">When</h4>
        <p class="space-half">July 2, 2016</p>
        <h4 class="space-two-top nospace-bottom">Address</h4>
          <p class="space-half">
          No. 3, RMZ Infinity - Tower E 3rd, 4th, and 5th Floors,<br>
          Old Madras Road,<br>
          Bengaluru, Karnataka 560016<br>
          </p>
        <p class="secondary space-half-top space-two-bottom"><a href="https://goo.gl/maps/7Lnoixdj7pG2">View on Google Maps</a></p>
      </div>
      <div class="map-container measure-10words center-block legible clearfix links-prevent-hover-highlight"><div id="deep-learning-workshop-map" class="map"></div></div>
    </section>
  </article>
</section>

{% endblock %}
{% block footer_script %}
<script type="text/javascript">
function initMap(div, map_venue, map_center) {
  var map = new L.Map(div);
  var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
    subDomains = ['otile1','otile2','otile3','otile4'],
    cloudmadeAttrib = '<a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
  var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});
  var   venue = new L.LatLng(map_venue.lat, map_venue.lon)
      , center = new L.LatLng(map_center.lat, map_center.lon)
      ;
  map.setView(center, 13).addLayer(cloudmade);
  if ($(window).width() < 768) map.setView(venue,13);
  // map.dragging.disable(); 
  var marker = new L.Marker(venue);
  map.addLayer(marker);
  marker.bindPopup(map_venue.name);
  marker.openPopup();
  map.scrollWheelZoom.disable();
  map.doubleClickZoom.disable();
  map.on('zoomend', onZoomend);
  function onZoomend(){ map.setView(venue, map.getZoom()); };
}
$(function() { 
    initMap('deep-learning-workshop-map', { lat: 12.9915011, lon: 77.6578307, name: 'Google Office Bangalore' }, { lat: 12.9915011, lon: 77.6578307 });
});
</script>
{% endblock %}