{% extends theme("layout-compact-header.html") %}

{% set title = 'Procedure for Incident Reporting' %}
{% set description = node.description %}

{% block page_meta %}<span class="wrap-mobile">This document is a part of</span> <span class="wrap-mobile"><a href="/2013/code-of-conduct" class="dark nopad">The Code of Conduct</a></span>{% endblock %}

{% block content %}
<section class="preface legible space-six pad-one">
  <h1 class="centered calm large">Attendee Procedure for Handling&nbsp;Harassment</h1>
  <article class="regular measure-10words prose center-block">
    <header class="secondary faded space-three-bottom">
      <p>This procedure has been adopted from the Ada Initiative's guide titled “<a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Responding_to_reports">Conference anti-harassment/Responding to Reports</a>”.</p>
    </header>
    <ol>
      <li>
        <p>Keep in mind that all conference staff will be wearing a conference t-shirt/button with the word “STAFF” on it (or otherwise clearly marked as staff). The staff will also be prepared to handle the incident.  All of our staff are informed of the <a href="/2013/code-of-conduct">code of conduct policy</a> and guide for handling harassment at the conference. <em>There will be a mandatory staff meeting onsite at the conference when this will be reiterated as well.</em></p>
      </li>
      <li>
        <p>Report the harassment incident (preferably in writing) to a conference staff member - all reports are confidential.</p>
      </li>
    </ol>
    <p>When reporting the event to staff, try to gather as much information as available, but do not interview people about the incident - Staff will assist you in writing the report/collecting information. </p>
    <p>The important information consists of:</p>
    <ul>
      <li>Identifying information (name/badge number) of the participant doing the harassing</li>
      <li>The behaviour that was in violation</li>
      <li>The approximate time of the behaviour (if different than the time the report was made)</li>
      <li>The circumstances surrounding the incident</li>
      <li>Other people involved in the incident</li>
    </ul>
    <p>The staff is well informed on how to deal with the incident and how to further proceed with the situation.</p>
    <ol>
      <li>
        <p>If everyone is presently physically safe, involve law enforcement or security only at a victim's request. If you do feel your safety in jeopardy please do not hesitate to contact local law enforcement by dialling 911. If you do not have a cell phone, you can use any hotel phone or simply ask a staff member.</p>
      </li>
    </ol>
    <p>A listing of <a href="/2013/about/staff/">PyCon staff is located here</a>, including contact phone numbers. If at all possible, all reports should be made directly to <a href="mailto:ewa@python.org">Ewa Jodlowska</a> (Event Coordinator) or <a href="mailto:jnoller@python.org">Jesse Noller</a> (PyCon Chair).</p>
  </article>
</section>

{% endblock %}
