{% extends theme("layout-compact-header.html") %}

{% set title = 'Procedure for Incident Handling' %}
{% set description = node.description %}

{% block page_nav %}{% endblock %}

{% block page_meta %}<span class="wrap-mobile">This document is a part of</span> <span class="wrap-mobile"><a href="/2013/code-of-conduct" class="dark nopad">The Code of Conduct</a></span>{% endblock %}

{% block content %}
<section class="preface legible space-six pad-one">
  <h1 class="centered calm large">Staff Procedure for Handling&nbsp;Harassment</h1>
  <article class="regular measure-10words prose center-block">
    <ol>
      <li><p>Be sure to have a good understanding of our <a href="/2013/code-of-conduct">Code of Conduct</a>.</p></li>
      <li><p>Also have a good understanding of what is expected from an attendee that wants to report a harassment incident. <a href="/2013/incident-reporting">These guidelines can be found here.</a></p></li>
      <li><p>Try to get as much of the incident in written form by the reporter. If you cannot, transcribe it yourself as it was told to you. The important information to gather include the following:</p>
      <ul>
        <li>Identifying information (name) of the participant doing the harassing</li>
        <li>The behaviour that was in violation</li>
        <li>The approximate time of the behaviour (if different than the time the report was made) </li>
        <li>The circumstances surrounding the incident</li>
        <li>Other people involved in the incident</li>
      </ul></li>
      <li><p>Prepare an initial response to the incident. This initial response is very important and will set the tone for The Fifth Elephant and other HasGeek events. Depending on the severity/details of the incident, please follow these guidelines:</p>
      <ul>
        <li>Offer the victim a private place to sit</li>
        <li>Ask “is there a friend or trusted person who you want to be with?” (if so, arrange for someone to fetch this person)</li>
        <li>Ask them “how can I help?”</li>
        <li>Provide them with your list of emergency contacts if they need help later</li>
        <li>Involve security or the police only at a victim’s request</li>
        <li>Do not overtly invite them to withdraw the complaint or mention that withdrawal is OK. This suggests that you want them to do so, and is therefore coercive. “If you’re OK with it [pursuing the complaint]” suggests that you are by default pursuing it and is not coercive</li>
      </ul></li>
      <li><p>There are also some guidelines about what not to do as an initial response:</p>
      <ul>
        <li>Do not ask for their advice on how to deal with the complaint. This is the crew's responsibility</li>
        <li>Do not offer them input into penalties. This is also the crew's responsibility</li>
      </ul></li>
      <li><p>Once something is reported to a crew member, immediately meet the lead organizer and convene a meeting to find out the following:</p>
      <ul>
        <li>What happened?</li>
        <li>Are we doing anything about it?</li>
        <li>Who is doing those things?</li>
        <li>When are they doing them?</li>
      </ul></li>
      <li><p>Depending on the incident, the lead oganizer and HasGeek team may decide to make one or more public announcements.</p></li>
      <li><p>A listing of <a href="/2013/code-of-conduct#contact">The Fifth Elephant crew is located here</a>, including contact phone numbers. If possible, all reports should be made directly to <a href="mailto:zainab@hasgeek.com">Zainab Bawa</a> (Lead Organizer) or <a href="mailto:info@hasgeek.com">HasGeek</a>.</p></li>
    </ol>
  </article>
</section>

{% endblock %}
