<!DOCTYPE html>
<!--[if lt IE 8]>      <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js wf-active"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>The Fifth Elephant{% block title %}{% endblock %}</title>
  <meta name="description" content="The Fifth Elephant is a community-powered conference on the big data ecosystem, covering the technology and its applications in a range of industries.">
  <meta name="author" content="HasGeek and friends">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  
  <link rel="stylesheet" href="{{ theme_static('css/fonts.css') }}">
  <link rel="stylesheet" href="{{ theme_static('css/normalize.css') }}">
  <link rel="stylesheet" href="{{ theme_static('css/typography.css') }}">
  <link rel="stylesheet" href="{{ theme_static('css/layout.css') }}">
  <link rel="stylesheet" href="{{ theme_static('css/main.css') }}">
  <link rel="stylesheet" href="{{ theme_static('css/objects.css') }}">
  <link rel="stylesheet" href="{{ theme_static('css/2x.css') }}">
  <script src="{{ theme_static('js/libs/modernizr-2.5.3.js') }}"></script>

</head>
<body>
<div id="page">


{% block banner %}
<div class="banner resetcoords layer-one clearfix">
  <header class="clearfix">
    <nav>
      <p class="nav-line serif-type secondary centered">
        <span class="sub-group community">
          <a href="./community">Community</a>
          <span class="nav-line-spacer italic">powered</span>
        </span>
        <span class="sub-group conference">
          <a class="link-silent-hover">conference</a>
          <span class="nav-line-spacer amp">&amp;</span>
          <a class="link-silent-hover">workshops</a>
        </span>
        <span class="sub-group bangalore">
          <span class="nav-line-spacer italic">in namma</span>
          <a href="http://goo.gl/maps/PvXY" title="View location in Google Maps">Bangalore</a>
        </span>
      </p>
    </nav>
    
    <hr class="half center-block space-three-bottom">
    
    
    <hgroup class="centered clearfix">
      <h1 class="calm huge space-two-top nospace-bottom">
        <a class="link-silent-hover" href="./">
          The Fifth Elephant
        </a>
      </h1>
      <h3 class="body-type calm ultrafaded regular space-half">
        <a
          title="View location in Google Maps"
          class="inline-block link-silent-hover link-unfade-hover"
          href="http://goo.gl/maps/PvXY">
          <img alt="Co-ordinates" src="{{ theme_static('img/map-marker.svg') }}" width="15" class="gap-1q-right ultrafaded">
        </a>
        <a 
          title="View location in Google Maps"
          href="http://goo.gl/maps/PvXY"
          class="ultrafaded link-white-hover">
          <abbr title="National Institute of Mental Health and Neurosciences">NIMHANS</abbr>
          Convention Centre
        </a>
      </h3>
      <h2 class="calm faded legible space-one">
        July 11–13, 2013
      </h2>
    </hgroup>
    
    <p class="centered legible space-two-bottom">
      <a
        class="button button-primary min-measure-3words"
        title="Fifth Elephant 2013 Tickets on DoAttend"
        href="http://fifthelephant.doattend.com/">
        Buy Tickets
      </a>
    </p>
  </header>
  
  <p class="clearfix resetcoords centered space-three-top space-two-bottom">
    <span class="occupy gothic-type all-caps massive embossed fittext center-block big-data">
      Big Data
    </span>
    <span class="circus-banner occupy freeflow"></span>
  </p>
  
</div><!-- .banner -->
{% endblock %}


{% block content %}
{% endblock %}


<footer class="clearfix">
  <section id="sponsors" class="sponsors nospace legible clearfix">
    <div class="space-six-top space-two-bottom">
      <div class="measure-10words center-block">
        <h1 class="centered calm measure-10words center-block">Sponsors</h1>
        <article class="xl space-one-top push-two-bottom clearfix">
          <h3 class="centered ultrafaded">Platinum</h3>  
          <ul class="pad-one">
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
            <!-- <li class="contain-height"><a href="#"><img src="{{ theme_static('img/sponsors/iarchive.png') }}" alt="Internet Archive"></a></li> -->
          </ul>
        </article>
        <article class="l space-one-top push-two-bottom clearfix">
          <h3 class="centered ultrafaded">Gold</h3>  
          <ul class="pad-one">
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
            <li class="contain-height"><a href="#"><img src="{{ theme_static('img/sponsors/iarchive.png') }}" alt="Internet Archive"></a></li>
          </ul>
        </article>
        <article class="m space-one-top push-two-bottom clearfix">
          <h3 class="centered ultrafaded">Silver</h3>  
          <ul class="pad-one">
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/maas360.png') }}" alt="Internet Archive"></a></li>
            <li class="contain-height"><a href="#"><img src="{{ theme_static('img/sponsors/iarchive.png') }}" alt="Internet Archive"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
          </ul>
        </article>
        <article class="m space-one-top push-two-bottom clearfix">
          <h3 class="centered ultrafaded">Bronze</h3>  
          <ul class="pad-one">
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
            <li class="contain-height"><a href="#"><img src="{{ theme_static('img/sponsors/iarchive.png') }}" alt="Internet Archive"></a></li>
            <li class="contain-height"><a href="#"><img src="{{ theme_static('img/sponsors/iarchive.png') }}" alt="Internet Archive"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
          </ul>
        </article>
        <article class="m space-one-top push-two-bottom clearfix">
          <h3 class="centered ultrafaded">Community</h3>  
          <ul class="pad-one">
            <li class="contain-height"><a href="#"><img src="{{ theme_static('img/sponsors/iarchive.png') }}" alt="Internet Archive"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/maas360.png') }}" alt="Internet Archive"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
          </ul>
        </article>
        <article class="m space-one-top space-two-bottom clearfix">
          <h3 class="centered ultrafaded">Party</h3>  
          <ul class="pad-one">
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/maas360.png') }}" alt="Internet Archive"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
            <li class="contain-height"><a href="#"><img src="{{ theme_static('img/sponsors/iarchive.png') }}" alt="Internet Archive"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
          </ul>
        </article>
        <article class="m space-one-top space-two-bottom clearfix">
          <h3 class="centered ultrafaded">Run-up events</h3>  
          <ul class="pad-one">
            <li class="contain-height"><a href="#"><img src="{{ theme_static('img/sponsors/iarchive.png') }}" alt="Internet Archive"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/maas360.png') }}" alt="Active Sphere"></a></li>
            <li class="contain-height"><a href="#"><img src="{{ theme_static('img/sponsors/iarchive.png') }}" alt="Internet Archive"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
          </ul>
        </article>
        <article class="s space-one-top space-two-bottom clearfix">
          <h3 class="centered ultrafaded">Corporate Tickets</h3>  
          <ul class="pad-one">
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/maas360.png') }}" alt="Internet Archive"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
            <li class="contain-height"><a href="#"><img src="{{ theme_static('img/sponsors/iarchive.png') }}" alt="Internet Archive"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/maas360.png') }}" alt="Active Sphere"></a></li>
            <li class="contain-width"><a href="#"><img src="{{ theme_static('img/sponsors/activesphere.png') }}" alt="Active Sphere"></a></li>
            <li class="contain-height"><a href="#"><img src="{{ theme_static('img/sponsors/iarchive.png') }}" alt="Internet Archive"></a></li>
          </ul>
        </article>
      </div>
      <p class="centered measure-10words space-four-top space-three-bottom regular center-block fill-fixme">
        Developers to passionate tech communities.<br>
        Startups to fast growing companies.<br>
        All under one roof.<br>
        <a class="" href="#">Get Sponsor Kit</a>
      </p>
    </div>  
  </section>
  <hr class="eighty center-block">
  <p class="centered secondary space-two-top wrap-mobile copyright center-block"><span>The Fifth Elephant is a conference by <a href="http://hasgeek.com">HasGeek</a>.</span> </span>Copyright © 2010-13. All rights reserved.</span></p>
  <p class="centered tiny space-two-top space-four-bottom faded center-block wrap-mobile attribution"><span><a href="http://thenounproject.com/noun/map-marker/#icon-No9093">Map Marker</a> designed by <a href="http://thenounproject.com/schumanncombo">Richard Schumann</a></span> <span>from The Noun Project</span></p>
</footer>


</div><!-- #page -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
<script>window.jQuery || document.write('<script src="{{ theme_static('js/libs/jquery-1.7.1.min.js') }}"><\/script>')</script>
<script src="{{ theme_static('js/libs/underscore.min.js') }}"></script>
<script src="{{ theme_static('js/plugins.js') }}"></script>
<script src="{{ theme_static('js/flipboard.js') }}"></script>
<script src="{{ theme_static('js/script.js') }}"></script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<script>
// Google Analytics
if (location.hostname == 'fifthelephant.in') {
  var _gaq=[['_setAccount','UA-19123154-20'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
}
</script>

<!-- Prompt IE 6 users to install Chrome Frame. -->
<!-- chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

</body>
</html>