{% from "baseframe/components.html" import networkbar with context -%}
<!DOCTYPE html>
<!--[if lt IE 8]>      <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js wf-active"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  
  <title>The Fifth Elephant{% if title %} — {{ title }}{% endif %}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}The Fifth Elephant is a community-powered conference on the big data ecosystem, covering the technology and its applications in a range of industries.{% endif %}">
  <meta name="author" content="HasGeek and friends">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  
  <meta property="og:title" content="The Fifth Elephant"/>
  <meta property="og:image" content="{{ request.url_root[:-1] }}{{ theme_static('img/logo.png') }}"/>
  <meta property="og:url" content="{{ request.url }}"/>
  <meta property="og:description" content="The Fifth Elephant is a community-powered conference on the big data ecosystem, covering the technology and its applications in a range of industries."/>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  
  <link rel="stylesheet" href="/_baseframe/css/networkbar.css">
  <link rel="stylesheet" href="{{ theme_static('css/fonts.css') }}">
  <link rel="stylesheet" href="{{ theme_static('css/normalize.css') }}">
  <link rel="stylesheet" href="{{ theme_static('css/typography.css') }}">
  <link rel="stylesheet" href="{{ theme_static('css/layout.css') }}">
  <link rel="stylesheet" href="{{ theme_static('css/main.css') }}">
  <link rel="stylesheet" href="{{ theme_static('css/objects.css') }}">
  <link rel="stylesheet" href="{{ theme_static('css/2x.css') }}">
  <script src="{{ theme_static('js/libs/modernizr-2.5.3.js') }}"></script>
  
  {% block header_script %}{% endblock %}

</head>
<body>
<div class="hg-bar-holder fill-dark">{% block networkbar %}{{ networkbar(siteid='events', login=false, baseclass='hg-dark') }}{% endblock %}</div>
<div id="page">
{% block banner %}
<header class="clearfix">
<div class="banner internal fill-yellow resetcoords layer-one clearfix push-one-top centered{% if long_page_nav %} long-page-nav{% endif %}">
    <h2 class="home-link calm large centered"><a class="link-white-translucent-hover" href="/2013/">The Fifth Elephant</a></h2>
    <p class="ticket-link body-type event-tickets calm centered">
      <a
        class="buy-tickets button small-button"
        title="Fifth Elephant 2013 Tickets on DoAttend"
        href="http://fifthelephant.doattend.com/">
        <span class="conference-dates">Jul 11–13, 2013 / </span>Buy Tickets
      </a>
    </p>
    {% block nav %}
    <div class="main-nav space-one-top space-line-bottom">
      <nav class="nospace">
        <p class="nav-line secondary centered nospace clearfix">
          <span class="sub-group community">
            <a href="/2013/community"{% if page == 'community' %} class="active"{% endif %}>Community</a>
            <span class="nav-line-spacer serif-type italic">powered</span>
          </span>
          <span class="sub-group conference">
            <a href="/2013/conference"{% if page == 'conference' %} class="active"{% endif %}>conference</a>
            <span class="nav-line-spacer serif-type amp">&amp;</span>
            <a  href="/2013/workshops"{% if page == 'workshops' %} class="active"{% endif %}>workshops</a>
          </span>
          <span class="sub-group bangalore">
            <span class="nav-line-spacer serif-type italic">in namma</span>
            <a href="/2013/venue" title="View location in Google Maps"{% if page == 'venue' %} class="active"{% endif %}>Bangalore</a>
          </span>
        </p>
      </nav>
    </div>
    {% endblock %}
    {% block banner_title %}
      {% if page_caption %}
      <hr class="half center-block space-three-top space-three-bottom">
      <h1 class="clearboth centered calm measure-10words center-block space-three giant">
        <span class="serif-type italic legible occupy capitalize space-one-bottom">The</span> {{ page_caption }}
      </h1>
      {% endif %}
    {% endblock %}
    {% block page_nav %}
      <div class="page-nav clearfix">
        <nav class="all-caps nospace sticky-width clearfix">
          <ul class="nospace clearfix">
            {% block page_nav_items %}{% endblock %}
          </ul>
        </nav>
      </div>
    {% endblock %}
</div><!-- .banner -->
</header>
{% endblock %}

<section id="sticky-offset" class="clearfix">
  <div id="sticky-nav" class="sticky-nav fill-yellow clearfix">
      <div class="sticky-main-bar clearfix"><div class="on-sticky-content sticky-width clearfix"></div></div>
      <div class="sticky-page-bar clearfix"><div class="on-sticky-content sticky-width clearfix"></div></div>
  </div>
</section>

<section id="content" class="clearfix">
{% block content %}
{% endblock %}
</section>

<footer class="clearfix highlight-links push-four-bottom">
  {% block sponsor_compact %}
  <section id="sponsors" class="regular clearfix space-two-top pad-one{% if not sponsor_compact_white %} fill-light{% endif %}">
    <div class="sponsors-compact center-block space-three-top space-four-bottom v-middle clearfix">
    <h3 class="legible centered nospace-top space-one-bottom ultrafaded">Sponsors</h3>
    {% from theme("data/sponsors.html") import sponsors %}
    {% for type in sponsors if type.category in ('Platinum', 'Gold', 'Silver', 'Bronze') %}
      {% if type.category == 'Platinum' %}
        {% set sponsor_columns = '' %}
      {% elif type.category == 'Gold' %}
        {% set sponsor_columns = ' thumbnail-columns-three' %}
      {% else %}
        {% set sponsor_columns = ' thumbnail-columns-five' %}
      {% endif %}
      {% for item in type.list %}
        {% if loop.first %}
          <article class="sponsor-cat flushleft {{ type.category|lower|replace(" ","-") }} clearfix">
            <h5 class="all-caps"><span>{{ type.category }}</span></h5>
            <ul class="thumbnail-columns{{ sponsor_columns }} regular flushleft clearboth clearfix{% if sponsor_compact_white %} fill-light{% else %} fill-white{% endif %}">
        {% endif %}
        <li>
          <a href="{{ item.web.link }}" class="{% if item.logo.orientation == 'portrait' %}contain-height{% else %}contain-width{% endif %}">
            <img src="{{ theme_static(item.logo.url) }}" alt="{{ item.name }}">
          </a>
        </li>
        {% if loop.last %}
            </ul>
          </article>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </div>
  </section>
  {% endblock %}
  {% if sponsor_compact_white %}<hr class="seventy center-block">{% endif %}
  <p class="centered secondary space-two-top space-half-bottom wrap-mobile copyright center-block"><span>The Fifth Elephant is a conference by <a href="http://hasgeek.com">HasGeek</a>.</span> <span>Copyright © 2010-13. All rights reserved.</span></p>
  <p class="centered secondary space-half-top wrap-mobile copyright center-block"><span>For further information / sponsorship:</span> <span><script type="text/javascript">
  //<![CDATA[
  <!--
  var x="function f(x,y){var i,o=\"\",l=x.length;for(i=0;i<l;i++){if(i<32)y++;" +
  "y%=127;o+=String.fromCharCode(x.charCodeAt(i)^(y++));}return o;}f(\"GVKD]BB" +
  "A\\021U\\035O\\020@K^3c,k&vom}<9j!u1:\\016\\006\\026\\013H\\t[\\010\\004R\\" +
  "035\\003\\005\\001\\013G\\010_\\021\\033\\025\\0075\\030\\034\\034;\\017T\\" +
  "021Q12+\\\"965.s}xrwu%2h*~8)y-j{xnxt5{6[\\\\_EKW\\016N\\025E\\007\\032\\027" +
  "D\\020\\022\\000\\n[\\036\\031\\034MX\\023\\004B\\025_U_M\\0015j*m~;5-=?9\\" +
  "\"m!a#$0  '~gt66rg 8wBHVUH9DQ[Y67X_^3,AAC()EFH%&HLM\\\"\\\\713XYx6)'#%!-/.3" +
  "(19(4 2+7M#'!-!\\023\\022\\027\\021\\035\\024aqn\\036\\030\\033pq\\031\\034" +
  "\\000mnAhil\\034s\\n\\010\\013`a\\017\\rp\\035\\036rtu\\032\\033zzz\\027\\0" +
  "20\\034\\177}`\\r\\016\\000\\032\\027\\032\\002khj\\007\\000\\033\\n1<=\\02" +
  "6?8SVW45 []]23GAB/(AFG$%MKL!\\\",>7775Z[<5=:eyzSL1/ -5<K:EF+--BC\\\\XM\\002" +
  "\\030\\004\\t\\024\\030\\031vwX\\\\I\\001\\034ckA\\001\\005\\006kd{mlfqgfws" +
  "r\\037\\030\\016\\r\\006~xz\\027\\02087xg`\\016\\017cbg\\013\\004</!\\014<4" +
  ";\\001]\\t\\025\\010QTW45XX\\\\12[BA./!\\\\8@JI&'\\022!\\\"722_X667TUC=<=RS" +
  "IP[\\\"%+;)?=-,-AB$\\003\\017\\006\\021\\002\\t\\003{\\n\\001LV\\027B\\016A" +
  "BDFVFH\\r\\036\\021\\022\\021B\\024c\\027Vh5\\003& *\\0055)!)e4e++?\\022 2<" +
  "\\026;8*?t<24,+3\\\\I\\014_RTVUL\\023PGF\\027FDGN\\032\\\\\\023\\037\\014QR" +
  "Q\\022G\\021Bi:2>m-thn2b\\177kckc>i/\\1778I4K:$u7u=l~VZ\\013Z\\010]\\016A\\" +
  "010GEBXN@ZV\\023\\033\",32)"                                                 ;
  while(x=eval(x));
  //-->
  //]]>
  </script>
  </span></p>
  {% block footer_credits %}{% endblock %}
</footer>


</div><!-- #page -->

<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
<script>window.jQuery || document.write('<script src="{{ theme_static('js/libs/jquery-1.7.1.min.js') }}"><\/script>')</script>
<script src="{{ theme_static('js/libs/underscore.min.js') }}"></script>
<script src="{{ theme_static('js/plugins.js') }}"></script>
<script src="{{ theme_static('js/flipboard.js') }}"></script>
<script src="{{ theme_static('js/script.js') }}"></script>

{% block footer_script %}{% endblock %}

<script>
// Google Analytics
if (location.hostname == 'fifthelephant.in') {
  var _gaq=[['_setAccount','UA-19123154-20'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
}
</script>

<!-- Prompt IE 6 users to install Chrome Frame. -->
<!-- chromium.org/developers/how-tos/chrome-frame-getting-started -->
<!--[if lt IE 7 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
<![endif]-->

</body>
</html>