{% extends theme("layout.html") %}

{% block title %}{{ node.title }}{% endblock %}
{% block description %}{{ node.description }}{% endblock %}

{% block content %}
{{ node.content }}
{% endblock %}

{% block footerscripts %}
<script type="text/javascript">
  $(function() {
    var map = new L.Map('map');
    
    var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
      subDomains = ['otile1','otile2','otile3','otile4'],
      cloudmadeAttrib = '<a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
    var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});

        var venue = new L.LatLng(12.9, 77.5); // geographical point (longitude and latitude)
        map.setView(venue, 16).addLayer(cloudmade);
        
          var venue_marker = new L.Marker(venue);
            map.addLayer(venue_marker);
            venue_marker.bindPopup('Title').openPopup();
            map.scrollWheelZoom.disable();

            map.on('zoomend', onZoomend);
    function onZoomend(){ 
        map.setView(venue, map.getZoom());
    };
  });
  </script>

{% endblock %}
