{% extends theme("layout.html") %}

{% set title = node.title %}
{% set description = node.description %}

{% block content %}
<section class="blogpost space-four-top space-six-bottom pad-one">
    <hgroup class="space-three-bottom">
      <h1 class="calm">{{ node.title }}</h1>
      <h4 class="calm">{{ node.published_at|longdate }}{% if node.author %} <span class="serif-type italic faded pad-half">by</span> {{ node.author }}{% endif %}</h4>
    </hgroup>
    <article class="measure-10words prose center-block">
    {{ node.content }}
    {%- if "image" in node.properties or "video" in node.properties %}
    <p class="space-three-top">
      {%- if "image" in node.properties %}
        <span class="inline-block image-container contain-width {{ node.properties.get('image-container-class', '') }}">
          {% if "image-link" in node.properties %}
            <a href="{{ node.properties['image-link'] }}" class="unhighlight occupy">{% endif -%}
              <img src="{{ node.properties['image'] }}" alt="{{ node.properties.get('image-alt', 'Image') }}" class="{{ node.properties.get('image-class', '') }}"/>
          {%- if "image-link" in node.properties %}</a>{% endif %}
        </span>
      {%- endif %} 
    </p>
    {%- endif %}
    </article>
</section>
{% endblock %}
