{% extends theme("blog.html") %}

{% set title = node.title %}
{% set description = node.description %}
{% set page_caption = '<span class="wrap-mobile">This is a blogpost on</span> <span class="wrap-mobile"><a href="/blog" class="blogpost-banner">The Fifth Elephant Blog</a></span>' %}

{% block content %}
<section class="blogpost space-six pad-one">
  <article>
    <header class="space-three-bottom">
      <h1 class="calm">{{ node.title }}</h1>
      <p class="calm"><time>{{ node.published_at|longdate }}</time>{% if node.author %} <span class="serif-type italic faded pad-half">by</span> {{ node.author }}{% endif %}</p>
    </header>
    <div class="measure-10words contain-width prose center-block">
    {{ node.content }}
    {%- if "image" in node.properties or "video" in node.properties %}
    <p class="space-three-top">
      {%- if "image" in node.properties %}
        <span class="inline-block image-container contain-width {{ node.properties.get('image-container-class', '') }}">
          {% if "image-link" in node.properties %}
            <a href="{{ node.properties['image-link'] }}" class="unhighlight occupy">{% endif -%}
              <img src="{{ node.properties['image'] }}" alt="{{ node.properties.get('image-alt', 'Image') }}" class="{{ node.properties.get('image-class', '') }}"/>
          {%- if "image-link" in node.properties %}</a>{% endif %}
        </span>
      {%- endif %} 
    </p>
    {%- endif %}
    </div>
  </article>
</section>
{% endblock %}
