{% extends theme("layout.html") %}
{% from "baseframe/forms.html" import ajaxform %}

{% set title = 'Bangalore run-up' %}
{% set description = node.description %}
{% set page_caption = '<div class="serif-type italic legible occupy capitalize space-one-bottom">Bangalore Run-up</div>Real-time Analytics on a <br>High Performance Database Platform' %}
{% set page_subtitle = '<span class="orange">3 May 2014</span>&nbsp;&nbsp;<span class="darkblue">Apigee, Bangalore</span>' %}
{% set banner_title_size = 'huge' %}


{% macro rsvp_form(node, form, waitlist=False, hascapacity=True, status='U') %}
  <form id="rsvp" action="{{ node.url_for('rsvp') }}" class="form-inline" method="POST">
    {{ form.hidden_tag() }}
    <p class="centered space-three-top space-two-bottom">
      {%- if waitlist %}
        {%- if status in ['Y', 'M', 'W'] %}
          <button name="status" value="N" class="button">Withdraw</button>
        {%- endif %}
        {%- if status in ['N', 'M', 'U'] %}
          <button name="status" value="Y" class="button">Add to waiting list</button>
        {%- endif %}
      {%- else %}
        {%- if hascapacity %}
          <button name="status" value="Y" class="button">Yes</button>
        {%- endif %}
          <button name="status" value="N" class="button">No</button>
        {%- if node.allow_maybe %}
          <button name="status" value="M" class="button">Maybe</button>
        {%- endif %}
      {%- endif %}
      <span class="loading hidden">&nbsp;</span>
    </p>
    {%- if status != 'U' %}
      <p class="centered">
        <span class="ultrafaded">Your status:</span>
        {%- if status == 'Y' %} <span class="green">Attending</span>
        {%- elif status == 'N' %} <span class="red">Not attending</span>
        {%- elif status == 'M' %} <span class="blue">Maybe attending</span>
        {%- elif status == 'W' %} <span class="orange">Wait-listed</span>
        {% else %} Unknown {%- endif %}
      </p>
    {%- endif %}
  </form>
{% endmacro %}

{% block banner_title_prefix %}{% endblock %}

{% block page_nav_items %}
  <li><a href="#preface" class="link-white-hover">About</a></li>
  <li><a href="#sessions" class="link-white-hover">Talks and Workshops</a></li>
  <li><a href="#schedule" class="link-white-hover">Schedule</a></li>
  <li><a href="#venue" class="link-white-hover">Venue</a></li>
  <li><a href="#rsvp-section" class="link-white-hover">RSVP</a></li>
  <li><a href="#rsvp-section" class="link-white-hover">Sponsors</a></li>
{% endblock %}

{% block content %}
  <section class="legible prose space-six-top pad-one" id="preface">
    <article> 
      <section class="preface">
        <h2 class="visuallyhidden">Preface</h2>
        <div class="measure-8words center-block">
          <p>In the light of the mountainous amount of data being processed real time around the world and that too with a few milli seconds for processing, comes in the relevance of a high performance database.</p><p>Second only to high frequency trading when it comes to low latency, real-time bidding platforms have fewer than 100 milliseconds to win a bid and serve an ad. To build a competitive offering, these systems have to store context on billions of users and devices and process queries and updates within a few milliseconds. Therefore, front-edge operational database use is overwhelmingly key-value, with models and insights generated using offline systems (e.g., Hadoop).</p><p>This meet up hence showcases the technical system architecture of a high performance database which features availability, high performance, clustering, Flash storage, and immediate consistency</p>
        </div>
      </section> 
    </article>
  </section>

  <section id="sessions" class="space-four-top fill-light legible clearfix">
    {% from theme("data/runup-bangalore-sessions.html") import event as featured %}
    {% for session in featured %}
      {% if loop.first %}
      <article class="push-three-top push-two-bottom highlight-links clearfix">
        <h3 class="centered calm space-two-top nospace-bottom ultrafaded">Talks &amp; Workshops</h3>
        <ul class="featured-sessions poster-with-bio legible clearfix nospace">
      {% endif %}
          <li class="clearfix">
            <h3 class="featured-session-topic calm space-two-top">{{ session.title }} <span class="ultrafaded">[ {{ session.type }} ]</span></h3>
            <div class="featured-session-description center-block regular clearfix">{{ session.description|safe }}</div>
            {% if session.requirement %}          
            <div class="featured-session-description center-block regular clearfix push-one-top push-two-bottom">
              <h4 class="all-caps secondary">Requirements</h4>
              {{ session.requirement|safe }}
            </div> 
            {% endif %}     
            {% if session.speaker %}
              <div class="poster clearfix">
                <p class="contain-width clearfix">
                  {% if session.speaker.photo %}
                    <img alt="" src="{{ session.speaker.photo }}" width="150" height="150">
                  {% endif %}
                </p>
                <hgroup class="clearboth">
                  <h3 class="regular">{{ session.speaker.name }}</h3>
                  <h4 class="all-caps secondary">{{ session.speaker.company }}</h4>
                </hgroup>
              </div>
              <div class="bio clearfix">
                {{ session.speaker.bio|safe }}
              </div>
            {% endif %}
            <br class="clearboth" />
            {% if session.speaker_alt %}
              <div class="poster clearfix">
                <p class="contain-width clearfix">
                  {% if session.speaker_alt.photo %}
                    <img alt="" src="{{ theme_static(session.speaker_alt.photo) }}" width="150" height="150">
                  {% endif %}
                </p>
                <hgroup class="clearboth">
                  <h3 class="regular">{{ session.speaker_alt.name }}</h3>
                  <h4 class="all-caps secondary">{{ session.speaker_alt.company }}</h4>
                </hgroup>
              </div>
              <div class="bio clearfix">
                {{ session.speaker_alt.bio|safe }}
              </div>
            {% endif %}
          </li>
      {% if loop.last %}
        </ul>
      </article>
      {% endif %}
    {% endfor %}
  </section>

  <section id="schedule" class="schedule push-three-top legible">
    <h2 class="centered calm space-three-bottom">Schedule</h2>
    <div class="schedule-table-container center-block pad-one regular">
      {% include theme("partials/_runup_bangalore_schedule.html") %}
    </div>
  </section>


  <section id="venue" class="legible conference-venue space-two-top space-four-bottom push-four-top">
  <article class="legible">
    <hgroup class="space-two-bottom">
      <h1 class="calm centered nospace large">Venue</h1>
      <h2 class="calm centered space-half-top nospace-bottom ultrafaded legible">Apigee office, Bangalore</h2>
    </hgroup>
    <section>
      <div class="venue-showcase conference-venue contain-width clearfix">
        <p class="full">
        <img  class="venuephoto occupy" style="width:50%; margin: 0 auto;"
                src="https://imgee.s3.amazonaws.com/imgee/9abfb5f4886841108665dda42b2a5ecf.jpeg"
                data-src='[{ "test": "(max-width: 1024px), (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 512px), (min-device-pixel-ratio: 1.5) and (max-width: 512px)", "src": "https://imgee.s3.amazonaws.com/imgee/9abfb5f4886841108665dda42b2a5ecf.jpeg" }, { "test": "(min-width: 1025px) and (max-width: 1600px), (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 513px) and (max-width: 800px), (min-device-pixel-ratio: 1.5) and (min-width: 513px) and (max-width: 800px)", "src": "https://imgee.s3.amazonaws.com/imgee/9abfb5f4886841108665dda42b2a5ecf.jpeg" }, { "test": "(min-width: 1601px), (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 801px), (min-device-pixel-ratio: 1.5) and (min-width: 801px)", "src": "https://imgee.s3.amazonaws.com/imgee/9abfb5f4886841108665dda42b2a5ecf.jpeg" }]'
                alt="Apigee office, Bangalore">
        </p>
      </div>
      <div class="measure-10words regular prose center-block pad-one space-two-top">
        <h4 class="space-two-top nospace-bottom">When</h4>
        <p class="space-half">May 3rd, 9am – 1pm</p>
        <h4 class="space-two-top nospace-bottom">Address</h4>
        <p class="space-half">
          Apigee Technologies India Pvt. Ltd.<br>
          No. 17/2, 2nd B Cross, 7th Main<br>
          2nd &amp; 3rd Floor, Off 80 Feet Road<br>
          Industrial Estate 3rd Block, Koramangala<br>
          Bangalore, 560034, India<br>
          Tel: +91 80 67696800<br>
        </p>
        <p class="secondary space-half-top space-two-bottom"><a href="https://goo.gl/maps/hFCKO">View on Google Maps</a></p>
      </div>
      <div class="map-container measure-10words center-block legible clearfix links-prevent-hover-highlight"><div id="apigee-map" class="map"></div></div>
    </section>
  <h4 class="space-four-top space-two-bottom centered semi-bold">Reaching ThoughtWorks</h4>
  <section class="getting-there measure-10words regular center-block highlight-links clearfix pad-one">
    <h5 class="nospace regular faded capitalize">By Car/Two-wheeler</h5>
    <p class="regular space-half-top space-two-bottom">On the Domlur - Madiwala inner ring road, turn left at the the Kormanagala Sony world signal and proceed straight. Beyond the Maharaja and Wipro signals, take the immediate right after the Flipkart office. You will find the Apigee office in the Toshiba building.</p>
  </section>
</section>

  <section id="rsvp-section" class="space-four-top fill-light legible clearfix">
    <article class="push-two-top push-two-bottom highlight-links clearfix">
      <h3 class="centered calm space-two-top space-three-bottom">RSVP</h3>
      <div class="center-block measure-8words">
        <div class="box section">
          {%- if g.user %}            
            {%- if node.can_rsvp(g.user) %}
              {%- with status = node.get_status(g.user) %}
                {%- if node.has_capacity() %}
                  <p>
                    {% if node.capacity > 0 -%} The venue has limited capacity. {% endif -%}
                    Will you be attending? Please RSVP to confirm your presence:
                  </p>
                  {{ rsvp_form(node, form, status=status) }}
                {%- else %}
                  {%- if node.allow_waitlisting %}
                    <p>
                      This session is fully booked, but you can place yourself in the wait list in case someone drops out.
                    </p>
                    {{ rsvp_form(node, form, waitlist=True, status=status) }}
                  {%- else %}
                    <p>This session is fully booked.</p>
                    {%- if status in ['N', 'M'] %}
                      {{ rsvp_form(node, form, hascapacity=False, status=status) }}
                    {%- endif %}
                  {%- endif %}
                {%- endif %}
              {%- endwith %}
            {%- else %}
              <p>
                We don’t have an email address on your profile matching your ticket.
                Please <a href="https://auth.hasgeek.com/profile/email/new" target="_blank">add the email address</a>
                you used when buying your ticket, <a href="{{ url_for('logout') }}">logout</a>
                and <a href="{{ url_for('login') }}">login</a> again.
              </p>
            {%- endif %}
          {%- else %}
            <p>
              {#{% if node.capacity > 0 -%} The venue has limited capacity. {% endif -%}#}
              Interested in attending? Please login. You can use your existing Twitter or Google account, and if you have previously voted on a session proposal or attended a hacknight, you already have a HasGeek account.
            </p>
            <p class="centered">
              <a href="{{ url_for('login') }}" class="button small-button">Login with Twitter, Google or HasGeek id</a>
            </p>
          {%- endif %}
        </div>    
      </div> 
    </article>
  </section>

  {% from theme("data/runup-bangalore-sponsors.html") import event_sponsors %}
  {% if event_sponsors %}
  <section id="sponsor" class="partners clearfix space-three">  
    <article class=" legible push-three-top push-two-bottom clearfix">
      <h3 class="centered calm space-two-bottom space-three-top nospace ultrafaded">Venue sponsor</h3>
      <ul class="{% if partners|length > 3 %}thumbnail-columns thumbnail-columns-five {% else %}centered {% endif%}regular clearfix v-middle nospace center-block links-prevent-hover-highlight">
        {% for sponsor in event_sponsors %}
        <li class="clearfix {% if sponsor.logo.contain == 'height' %}contain-height{% else %}contain-width thirtyfive{% endif %}{% if event_sponsors|length <= 3 %} inline-block{% endif%}"><a class="occupy centered {% if event_sponsors|length <= 3 %} pad-one{% endif%}" href="{{ sponsor.web.link }}"><img src="{{sponsor.logo.url}}" alt="{{ sponsor.name }}"></a></li>
        {% endfor %}
      </ul>
    </article>
  </section>
  {% endif %}

{% endblock %}


{% block sponsor_compact %}{% endblock %}

{% block footer_script %}
  <script type="text/javascript">
  function initMap(div, map_venue, map_center) {
    var map = new L.Map(div);
    var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
      subDomains = ['otile1','otile2','otile3','otile4'],
      cloudmadeAttrib = '<a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
    var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});
    var   venue = new L.LatLng(map_venue.lat, map_venue.lon)
        , center = new L.LatLng(map_center.lat, map_center.lon)
        ;
    map.setView(center, 13).addLayer(cloudmade);
    if ($(window).width() < 768) map.setView(venue,13);
    // map.dragging.disable(); 
    var marker = new L.Marker(venue);
    map.addLayer(marker);
    marker.bindPopup(map_venue.name);
    marker.openPopup();
    map.scrollWheelZoom.disable();
    map.doubleClickZoom.disable();
    map.on('zoomend', onZoomend);
    function onZoomend(){ map.setView(venue, map.getZoom()); };
  }
  $(function() { 
    initMap('apigee-map', { lat: 12.926622, lon: 77.632455, name: 'Apigee office, Bangalore' }, { lat: 12.926622, lon: 77.632455 });
  });
  </script>
  {{ ajaxform('rsvp', request, force=True) }}
{% endblock %}

