{% extends theme("layout.html") %}

{% set title = 'Run-up Events' %}
{% set description = '' %}
{% set page_caption = 'Run-up Events' %}
{% set page = 'runup-events' %}

{% block image_banner %}
<p class="runup-banner center-block ir space-two-top">Run-up events</p>
{% endblock %}

{% block page_nav_items %}
   <li><a>Bangalore</a></li>
   <li><a>Mumbai</a></li>
   <li><a>Delhi</a></li>
   <li><a>Hyderabad</a></li>
   <li><a>Pune</a></li>
   <li><a>Chennai</a></li>
{% endblock %}

{% block content %}
{% from theme("data/runup-event.html") import items %}
<section id="announcements" class="announcements pad-one legible center-block space-four clearfix">
  <div class="tile-block clearfix">    
    <ul class="tiles title-type clearfix measure-8words center-block nospace-bottom">
      {% for tile in items %}
      <li class="fill-light {{ tile.background }}"><a class="occupy right-aligned link-white-hover unhighlight" href="{{ tile.url }}"><div class="regular wrap">{{ tile.title|safe }}</div><p class="wrap brown tiny"><span class="darkblue">{{ tile.city|safe }}</span> {{ tile.date|safe }}<div class="tiny ultrafaded">{{ tile.format|safe }}</div></p></a></li>
      {% endfor %}
    </ul>
  </div>
</section>

{% endblock %}
{% block sponsor_compact %}{% endblock %}
