{% extends theme("layout.html") %}
{% from "baseframe/forms.html" import ajaxform %}

{% set title = 'Run-up events' %}
{% set description = node.description %}
{% set page_caption = 'Run-up events' %}
{% set banner_title_size = 'huge' %}

{% block header_script %}
  <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
  <!--[if lte IE 8]>
      <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" />
  <![endif]-->
  <script src="//cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
{% endblock %}

{% block page_nav_items %}
  <li><a href="#may3-bangalore" class="link-white-hover">May 3: Bangalore</a></li>
{% endblock %}

{% block content %}
<section class="runup-events prose space-six-top pad-one">
   <div class="container center-block">
		<ul id="vtimeline">
			{% from theme("data/runup-events.html") import items %}
			{% for item in items -%}
			<li class="event-node">
				<div class="radio {% if item.timeline == 'past' %}theme-red{% elif item.timeline == 'upcoming' %}theme-green{% endif %}"></div>
				<div class="relative">
					<span class="date">{{ item.when }}</span>
					<span class="circle"></span>
				</div>
				<div class="content">
					<div class="legible-prose">{% if item.link %}<a href="{{ item.link }}">{% endif %}{{ item.title }}{% if item.link %}</a>{% endif %}</div>
					<div class="secondary-prose space-1q-top space-half-bottom">{{ item.venue }}</div>
					<p>{{ item.blurb|safe }}</p>
				</div>
			</li>
			{%- endfor %}
		</ul>
   </div>
</section>

{% endblock %}


{% block sponsor_compact %}{% endblock %}

{% block footer_script %}
  <script type="text/javascript">
  function initMap(div, map_venue, map_center) {
    var map = new L.Map(div);
    var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
      subDomains = ['otile1','otile2','otile3','otile4'],
      cloudmadeAttrib = '<a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
    var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});
    var   venue = new L.LatLng(map_venue.lat, map_venue.lon)
        , center = new L.LatLng(map_center.lat, map_center.lon)
        ;
    map.setView(center, 13).addLayer(cloudmade);
    if ($(window).width() < 768) map.setView(venue,13);
    // map.dragging.disable(); 
    var marker = new L.Marker(venue);
    map.addLayer(marker);
    marker.bindPopup(map_venue.name);
    marker.openPopup();
    map.scrollWheelZoom.disable();
    map.doubleClickZoom.disable();
    map.on('zoomend', onZoomend);
    function onZoomend(){ map.setView(venue, map.getZoom()); };
  }
  $(function() { 
    initMap('pune-map', { lat: 18.5528, lon: 73.8928, name: 'ThoughtWorks office, Pune' }, { lat: 18.5528, lon: 73.8928 });
  });
  </script>
  {{ ajaxform('rsvp', request, force=True) }}
{% endblock %}
