{% extends theme("layout.html") %}

{% set title = 'Workshops' %}
{% set description = '' %}
{% set page_caption = 'Workshops' %}
{% set page = 'workshops' %}
{% set banner_title_size = 'huge' %}

{% block image_banner %}
<!-- <p class="workshop-banner center-block ir space-two-top">Workshops</p> -->
{% endblock %}


{% block page_nav_items %}
   <li><a href="#workshops" class="link-white-hover">Introduction</a></li>
   <li><a href="#sessions" class="link-white-hover">Confirmed Workshops</a></li>
   <li><a href="#schedule" class="link-white-hover">Schedule</a></li>
   <li><a href="#venue" class="link-white-hover">Venue</a></li>
{% endblock %}

{% block content %}
<h2 class="large clearboth centered calm measure-10words center-block space-six-top space-two-bottom">
  Intense.&nbsp;In-Depth. Hands&nbsp;On.
</h2>
<section id="workshops" class="legible clearfix">
  <article class="prose clearfix">
    <h1 class="visuallyhidden">Introduction</h1>
    <div class="measure-10words pad-one center-block">
      <p>
        The third day of The Fifth Elephant 2015 - 18th July is hands-on workshops open to 50 - 70 participants each. These workshops will provide an overview to Exploratory data analysis, Deep learning and Supervised Machine learning.
      </p> 
      <p class="ticket-link event-tickets centered legible space-six-bottom">
        <a
          class="button button-primary min-measure-3words prose-type"
          title="Fifth Elephant 2015 Tickets on Explara"
          href="https://in.explara.com/e/the-fifth-elephant-2015"
          target="_blank">
          Buy Tickets
        </a>
      </p>
    </div>
  </article>
</section>

<section id="sessions" class="space-four-top push-one-top fill-light legible clearfix">
{% with session_kind = 'Talks' %}
<h2 class="centered calm space-four-top space-one-bottom">Confirmed Workshops</h2>
{% from theme("data/workshop.html") import talks as sessions %}
{% include theme("partials/_sessions.html") %}
{% endwith %}
</section>

{% include theme("data/schedule_table.html") %}
<section id="schedule" class="schedule space-two push-four legible">
  <h2 class="centered calm space-two">Schedule</h2>
  <div class="schedule-table-container center-block pad-one regular" id="workshopschedule">
  <p class="centered loadingtxt">Loading...</p>
  </div>
</section>

<section id="venue" class="legible conference-venue space-two-top space-four-bottom push-four-top">
  <article class="legible">
    <hgroup class="space-two-bottom">
      <h1 class="calm centered nospace large">Workshops Venue</h1>
      <h2 class="calm centered space-half-top nospace-bottom ultrafaded legible">NIMHANS Convention Centre</h2>
    </hgroup>
    <section>
      <div class="venue-showcase conference-venue contain-width clearfix">
        <p class="full">
        <img  class="venuephoto occupy" style="width:50%; margin: 0 auto;"
                src="{{ theme_static('img/venue/nimhans-facade-640.jpg') }}"
                alt="NIMHANS Convention Centre">
        </p>
      </div>
      <div class="measure-10words regular prose center-block pad-one space-two-top">
        <h4 class="space-two-top nospace-bottom">When</h4>
        <p class="space-half">July 18, 2015</p>
        <h4 class="space-two-top nospace-bottom">Address</h4>
          <p class="space-half">
          NIMHANS Convention Centre<br>
          NIMHANS Hospital Premises,<br>
          Hosur Road / Marigowda Road, (Lakkasandra, Wilson Garden)<br>
          Bangalore, Karnataka 560029<br>
          </p>
          <p><strong>Landmark:</strong> Near Dairy Circle</p>
        <p class="secondary space-half-top space-two-bottom"><a href="http://goo.gl/maps/PvXY">View on Google Maps</a></p>
      </div>
      <div class="map-container measure-10words center-block legible clearfix links-prevent-hover-highlight"><div id="workshop-map" class="map"></div></div>
    </section>
  </article>
</section>

{% endblock %}
{% block footer_script %}
<script type="text/javascript">
function initMap(div, map_venue, map_center) {
  var map = new L.Map(div);
  var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
    subDomains = ['otile1','otile2','otile3','otile4'],
    cloudmadeAttrib = '<a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
  var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});
  var   venue = new L.LatLng(map_venue.lat, map_venue.lon)
      , center = new L.LatLng(map_center.lat, map_center.lon)
      ;
  map.setView(center, 13).addLayer(cloudmade);
  if ($(window).width() < 768) map.setView(venue,13);
  // map.dragging.disable(); 
  var marker = new L.Marker(venue);
  map.addLayer(marker);
  marker.bindPopup(map_venue.name);
  marker.openPopup();
  map.scrollWheelZoom.disable();
  map.doubleClickZoom.disable();
  map.on('zoomend', onZoomend);
  function onZoomend(){ map.setView(venue, map.getZoom()); };
}
$(function() { 
  initMap('workshop-map', { lat: 12.9431, lon: 77.5969, name: 'NIMHANS Convention Centre' }, { lat: 12.9431, lon: 77.5969 });
});
</script>
{% endblock %}
