{% extends theme("layout.html") %}

{% set title = 'Workshops' %}
{% set description = '' %}
{% set page_caption = 'Workshops' %}
{% set page = 'workshops' %}

{% block page_nav_items %}
   <li><a href="#sessions" class="link-white-hover">Workshops</a></li><!--
--><li><a href="#proposals" class="link-white-hover">Proposals</a></li>
{% endblock %}

{% block content %}
<h2 class="large clearboth centered calm measure-10words center-block space-six-top space-two-bottom">
  Intense.&nbsp;In-Depth. Hands&nbsp;On.
</h2>
<section id="workshops" class="legible clearfix">
  <article class="prose clearfix">
    <h1 class="visuallyhidden">Introduction</h1>
    <div class="measure-10words pad-one center-block">
      <p>
        A short intro to the workshops. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p class="regular">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <p class="regular">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </article>
</section>

<section id="sessions" class="space-four-top fill-light legible clearfix">
  {% with session_kind = 'Workshops' %}
  {% from theme("data/featured-workshops.html") import featured_workshops as featured %}
  {% include theme("partials/_featured_sessions.html") %}
  {% endwith %}
</section>
  
<section id="proposals" class="push-four">
  <article class="clearfix">
    <div class="measure-8words center-block">
    <h2 class="calm centered space-two">Workshop Proposals</h2>
    {% for proposal in node.proposals() if proposal['section_name'] == 'workshops' %}
      {% if loop.first %} 
        <ul id="proposals" class="proposals regular space-four-bottom">
      {% endif %}
      {% include theme("partials/_proposal_item.html") %}
      {% if loop.last %} </ul> {% endif %}
    {% endfor %}
    <p class="centered space-six-top">
      <a class="button" href="http://funnel.hasgeek.com/fifthel2013/">Propose a Session</a>
    </p>
    </div>
  </article>
</section>

{% endblock %}
