{% extends theme("layout.html") %}

{% set title = 'Workshops' %}
{% set description = '' %}
{% set page_caption = 'Workshops' %}
{% set page = 'workshops' %}

{% block page_nav_items %}
<li><a href="#workshop-proposals" class="link-white-hover">Proposals</a></li>
{% endblock %}

{% block content %}
<h2 class="large clearboth centered calm measure-10words center-block space-six-top space-two-bottom">
  Intense.&nbsp;In-Depth. Hands&nbsp;On.
</h2>
<section id="workshops" class="legible clearfix">
  <article class="prose clearfix">
    <h1 class="visuallyhidden">Introduction</h1>
    <div class="measure-10words pad-one center-block">
      <p>
        A short intro to the workshops. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
      <p class="regular">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
      <p class="regular">
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </article>
  
  <article id="workshop-proposals" class="clearfix highlight-links space-four">
    <div class="measure-8words center-block pad-one">
    <h2 class="calm centered space-two">Workshop Proposals</h2>
    {% for proposal in node.proposals() if proposal['section_name'] == 'workshops' %}
      {% if loop.first %} 
        <ul id="proposals" class="proposals space-four-bottom">
      {% endif %}
      <li class="proposal space-two clearfix">
          <h5 class="regular space-1q capitalize calm">
            <a target="_blank" href="{{ proposal['url'] }}" title="{{ proposal['title'] }} — {{ proposal['proposer'] }}">
            {{ proposal['title'] }}
            </a>
          </h5>
          <p class="by regular space-1q capitalize sixty">{{ proposal['proposer'] }}</p>
          <p class="meta secondary space-1q right-aligned forty bold ultrafaded">
            <span class="comments">{{ proposal['comments'] }}</span>
            <span class="votes">{{ proposal['votes'] }}</span>
          </p>
      </li>
      {% if loop.last %} </ul> {% endif %}
    {% endfor %}
    <p class="centered space-six-top">
      <a class="button" href="http://funnel.hasgeek.com/fifthel2013/">Propose a Session</a>
    </p>
    </div>
  </article>
  
</section>

{% endblock %}


{% block footer_credits %}
<p class="centered tiny space-two-top space-four-bottom faded center-block wrap-mobile attribution"><span><a href="http://thenounproject.com/noun/speech-bubble/#icon-No5656" target="_blank">Speech Bubble</a> designed by <a href="http://thenounproject.com/naomiatkinson" target="_blank">Naomi Atkinson</a> and</span> <span><a href="http://thenounproject.com/noun/like/#icon-No1297" target="_blank">Like</a> designed by <a href="http://thenounproject.com/marwaboukarim" target="_blank">Marwa Boukarim</a> from The Noun Project</span></p>
{% endblock %}
