@font-face	{ font-family: Magra; src: url(/static/Magra-Regular.ttf);}
@font-face	{ font-family: Magra; font-weight: bold; src: url(/static/Magra-Bold.ttf);}

/*	GENERAL	*/
h1, h2, h3, h4	{
	font-weight: 300;
	text-align: center;
	font-family: Magra, Verdana, sans-serif;	
	color: #FFF;
}

h1	{
	font-size: 50px;
	color: #13181c;
	margin-bottom: 20px;
}

p	{
	line-height: 1.7em;
	font-size: 15px;
}

.btn-primary 	{
	background: #79C1F5;
	color: #333;
}

.btn-primary:hover	{
	background: #CCC;
	color: #000;
}

/*	NAVBAR	*/
.navbar-inner	{
	background: #79C1F5;
}

.navbar .nav > li > a	{
	text-transform: uppercase;
	color: #003d6c;
	font-weight: bold;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover	{
	background: none;
	border-bottom: 3px solid #003d6c;
}

li [class^="icon-"], li [class*=" icon-"]	{
	width: auto;
}

.register	{
	background: #294c66;
}

.register:hover	{
	background: #1c3446;
}

.register  a 	{
	color: #FFF !important;
	margin-bottom: 0px;
	font-size: 22px;
}

ul.register	{
	height: 50px;
	margin-bottom: -10px !important;
}

.triangle	{
	width: 0;
	height: 0;
	border-bottom: 8px solid transparent;
	border-right: 8px solid #1c3446;
	position: relative;
	left: -8px;
	top: 2px;
}

/* 	CONTENT	*/
body 	{
	background: #b1daf8;
}

#partners {
	background: #99ac78;
}

section 	{
	padding-top: 90px;
	margin: 0;
}

section#home {
	background: url(/static/img/home_bg.jpg) no-repeat bottom;
	padding-bottom: 50px;
}

#home .hero-unit	{
	background: none;
}

#home .hero-unit h1, #home .hero-unit h2	{
	text-align: center;
}

#home .hero-unit p	{
	line-height: 1.7em;
	font-size: 17px;
}

#home .offset2 	{
	margin-top: 20px;
	margin-bottom: 20px;
}

#home .hero-unit h1	{
	padding-top: 120px;
	background: url(/static/img/logo.png) no-repeat top;
	font-family: Magra, Verdana, sans-serif;
	font-weight: 300;
	color: #444;
}

#home .hero-unit h2	{
	font-family: Magra, Verdana, sans-serif;
	text-transform: uppercase;
	color: #555;
}

#home .hero-unit h2 sup	{
	text-transform: lowercase;
}

#home a.btn 	{
	margin: 15px;
}

#partners 	{
	background: url(/static/img/partners_bg.jpg) #99ac78 no-repeat bottom;
}

#partners .thumbnail {
	background: #FFF;
}

#partners .thumbnail p {
	text-transform: uppercase;
	text-align: center;
	border-top: 1px solid #CCC;
	color: #666;
}

#partners .sponsdoc:hover	{
	text-decoration: none;
}

#partners .sponsdoc	{
	padding: 20px;
	border-radius: 20px;
	margin-top: 15px;
	background: url(/static/img/pdf_s.png) #EEE no-repeat left;
}

#sessions	{
	height: 10000px;
	background: #99AC78;
}

#sessions h2, #sessions h4 	{
	color: #000;
}

#sessions h4	{
	padding-top: 20px;
	color: #FFF;
	text-shadow: 1px 1px 3px #555;
}

#sessions .track1 h4, #sessions .track2 h4, #sessions .track3 h4 	{
	background: url(/static/img/ribbon.jpg) no-repeat center;
	height: 40px;
}

#sessions .track2 h4 {
	background-position: 50% -120px;
}

#sessions .track3 h4 {
	background-position: 50% 0px;
}