<script type="text/javascript">
  $(function() {
    var map = new L.Map('map');
    var cloudmadeUrl = 'http://{s}.mqcdn.com/tiles/1.0.0/osm/{z}/{x}/{y}.png',
      subDomains = ['otile1','otile2','otile3','otile4'],
      cloudmadeAttrib = '<a href="http://open.mapquest.co.uk" target="_blank">MapQuest</a>, <a href="http://www.openstreetmap.org/" target="_blank">OpenStreetMap</a> and contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC-BY-SA</a>';
    var cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib, subdomains: subDomains});

    var nimhans = new L.LatLng(12.943104, 77.596865); // geographical point (longitude and latitude)
    var cis = new L.LatLng(12.9647, 77.6375);
    var teri = new L.LatLng(12.963644, 77.637951);
    var center = new L.LatLng(12.943104, 77.616);
    var mobile_center = new L.LatLng(12.943104, 77.596865);
    map.setView(center, 14).addLayer(cloudmade);
    if (map.getSize().x < 768) { map.setView(venue,14); } // on smaller screen where map takes full-width

    var nimhans_marker = new L.Marker(nimhans);
    var cis_marker = new L.Marker(cis);
    var teri_marker = new L.Marker(teri);

    map.addLayer(nimhans_marker);
    map.addLayer(cis_marker);
    map.addLayer(teri_marker);
    nimhans_marker.bindPopup('Nimhans Convention Centre').openPopup();
    cis_marker.bindPopup('The Centre for Internet and Society').openPopup();
    teri_marker.bindPopup('The Energy and Resources Institute').openPopup();
    map.scrollWheelZoom.disable();
    map.doubleClickZoom.disable();
        
    map.on('zoomend', onZoomend);
    function onZoomend(){ map.setView(venue, map.getZoom()); };
  });
</script>