<section id="partners" class="section">
  <div class="container">
    <h2 class="left">Partners</h2>
    <div class="row">
      <div class="span7">
        <p>Work in progress</p>
      </div><!-- /span -->
      <div class="span5">
        {% with f = fragment('2012', 'credits-blurb') %}
          <div class="section-header">
            <h3 class="hasgeek"><a href="http://hasgeek.com/">{{ f.title }}</a></h3>
          </div>
          {{ f.content }}
        {% endwith %}
      </div>
    </div>
  </div>
</section><!-- /credits -->
