<section id="partners" class="section">
  <div class="container">
    <div class="section-header">
      <h2>Partners</h2>
    </div>
    <div class="row">
      <div class="span6 push-right">
        {% with f = fragment('2012', 'credits-blurb') %}
          <div class="section-subheader">
            <h3 class="hasgeek"><a href="http://hasgeek.com/">{{ f.title }}</a></h3>
          </div>
          {{ f.content }}
        {% endwith %}
      </div>
      <article class="sponsor-partner sponsor span3">
        <p class="logo"><a href="http://cis-india.org/"><img alt="The Centre for Internet and Society" src="{{ theme_static('img/2012/partners/cis.png') }}"></a></p>
      </article>
      <article class="sponsor-partner sponsor span3">
        <p class="logo"><a href="http://okfn.org/"><img alt="Open Knowledge Foundation" src="{{ theme_static('img/2012/partners/okfn.png') }}"></a></p>
      </article>
      <article class="sponsor-partner sponsor span3">
        <p class="logo"><a href="http://thestartupcentre.com/"><img alt="The Startup Centre" src="{{ theme_static('img/2012/partners/tsc.png') }}"></a></p>
      </article>
      <article class="sponsor-partner sponsor span3">
        <p class="logo"><a href="http://amiworks.com/"><img alt="Amiworks" src="{{ theme_static('img/2012/partners/amiworks.png') }}"></a></p>
      </article>
    </div>
  </div>
</section>
