<section id="schedule" class="section">
  <div class="container">
    <h2 class="right">Programme</h2>
    <div class="row">
      <div class="span8">
        This section unintentionally left blank.
      </div>
      <div class="span4 box">
        {{ fragment('2012', 'proposals-submit').content }}
        <p><a class="btn btn-success btn-wide" href="http://funnel.hasgeek.com/5el/"><strong>Vote</strong> <em>or</em> <strong>Propose</strong> a Session</a></p>
      </div>
    </div>
  </div>
</section>
