<section id="schedule" class="section">
  <div class="container">
    <h2 class="right">Programme</h2>
    <div class="row">
      <div class="span7">
        &nbsp;
      </div>
      <div class="span5">        
        <div class="funnel">
          <p><a class="btn btn-primary" href="http://funnel.hasgeek.com/5el/">Vote <i>or</i><br>Propose a Session</a></p>
          {{ fragment('2012', 'proposals-submit').content }}
        </div><!-- /funnel -->
        <h3>Previously at HasGeek</h3>
        <article class="session-video clearfix">
          <a href="http://www.youtube.com/watch?v=7ixB2NVbCpI">
            <p class="thumbnail span2"><img alt="Thumbnail" src="http://img.youtube.com/vi/7ixB2NVbCpI/mqdefault.jpg"></p>
            <h4>Data Visualisation in JavaScript</h4>
          </a>
          <h5>S. Anand</h5>
        </article>        
        <article class="session-video clearfix">
          <a href="http://www.youtube.com/watch?v=0Ot0PtBL1q8">
            <p class="thumbnail span2"><img alt="Thumbnail" src="http://img.youtube.com/vi/0Ot0PtBL1q8/mqdefault.jpg"></p>
            <h4>The Awesome Contracts project</h4>
          </a>
          <h5>Vivek Durai</h5>
        </article>        
      </div><!-- /span -->
    </div><!-- /row for preview videos -->
  </div>
</section>
