<h3>Technologies and Tools - 27 July</h3>
<h4>Venue: Nimhans Convention Centre</h4><br/>

<ul class="grid schedule container-fluid">
  <li class="row-fluid item">
    <div class="span2">8:15 – 9:15</div>
    <div class="span10 keynote">Registrations</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">9:15 – 9:30</div>
    <div class="span10 keynote">Introductions</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">9:30 - 10:15</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/5el/422-crunching-big-data-google-scale">Crunching Big Data, Google Scale</a></h4>
      <p>Rahul Kulkarni (Keynote)</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">10:15 - 11:00</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/5el/424-in-data-we-believe">In Data We Believe</a></h4>
      <p>Harish Pillay, Red Hat (Sponsor Keynote)</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">11:00 – 11:30</div>
    <div class="span10 all-tracks">Tea</div>
  </li>
  <li class="row-fluid item">
    <div class="span2"><b>Track Themes</b></div>
    <div class="span3"><b>Big Data Infrastructure</b></div>
    <div class="span4"><b>Analytics</b></div>
    <div class="span3"><b>Visualization</b></div>
  </li>
  <li class="row-fluid item">
    <div class="span2">11:30 – 12:15</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/298-a-herd-of-elephants-navigating-the-hadoop-ecosystem">A Herd of Elephants - Navigating the Hadoop Ecosystem</a></h4>
      <p>Vinayak Hegde</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/382-telling-stories-with-data">Telling Stories with Data</a></h4>
      <p>Ajay Kelkar</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/289-an-introduction-to-data-visualization-processing-programming-language">An Introduction to Data Visualization and Processing (Programming Language)</a></h4>
      <p>Uttam Grandhi</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">12:15 – 1:00</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/416-big-data-and-the-cloud-a-best-friend-story">Big Data and the Cloud, A Best Friend Story</a></h4>
      <p>Joseph Ziegler</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/412-simplifying-advanced-analytics-to-empower-business-managers">Simplifying Advanced Analytics to Empower Business Managers</a></h4>
      <p>Prithvijit Roy</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/268-visualising-text">Visualizing Text</a></h4>
      <p>Anand S.</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">1:00 – 2:00</div>
    <div class="span9 all-tracks">Lunch</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">2:00 – 2:30</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/420-looking-beyond-the-usual-suspects-for-near-real-time-analytics-on-big-data">Looking Beyond the Usual Suspects for Near Real-time Analytics on Big Data</a></h4>
      <p>Navjot Sidhu</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/322-introduction-to-data-analysis-visualisation-with-r">Introduction to Data Analysis and Visualization with R</a></h4>
      <p>Shree Joshi</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/356-linked-tag-clouds-trend-clouds-and-other-tools">Linked Tag Clouds, Trend Clouds and Other Tools</a></h4>
      <p>Dorai Thodla</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">2:30 – 3:00</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/384-build-your-own-real-time-analytics-and-visualization-enable-complex-event-processing-event-patterns-and-aggregates">Build Your Own Real-time Analytics and Visualization, Enable Complex Event Processing, Event Patterns and Aggregates</a></h4>
      <p>Ramesh Perumalsamy and Vishnu H. Rao</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/410-the-science-behind-predictive-analytics">The Science behind Predictive Analysis</a></h4>
      <p>Ankur Pandey</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/390-lessons-from-the-evolution-of-mayavi">Lessons from the Evolution of Mayavi</a></h4>
      <p>Prabhu Ramachandran</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">3:00 – 3:30</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/354-splunk-driving-real-time-analytics-from-small-data-big-data-and-huge-data">Splunk> Driving Real-time Analytics from Small Data, Big Data and Huge Data</a></h4>
      <p>Rahul Deshmukh</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/398-i-know-what-you-are-going-to-do-next-summer-predicting-repeat-purchase-behavior-by-using-bayesian-hierarchical-model-and-regression-techniques">“I know what you are going to do next summer” – Predicting Repeat Purchase Behavior by using Bayesian Hierarchical model and Regression Techniques</a></h4>
      <p>Biswajit Pal, Subhasish Mishra and Manav Shroff</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/373-building-analyzing-and-visualizing-large-graphs">Building, Analyzing and Visualizing Large Graphs</a></h4>
      <p>Ashwin Rajeev</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">3:30 – 4:00</div>
    <div class="span9 all-tracks">Tea</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">4:00 – 4:30</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/346-the-elephant-in-the-cloud">The Elephant in the Cloud</a></h4>
      <p>Joydeep Sen Sarma</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/297-basic-exploratory-data-analysis-with-python">Basic Exploratory Data Analysis with Python</a></h4>
      <p>Jaidev Deshpande</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/299-seeing-through-the-haze-advanced-visualisations-using-python">Seeing through the Haze - Advanced Visualisations using Python</a></h4>
      <p>Vinayak Hegde</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">4:30 – 5:00</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/380-how-the-internet-archive-preserves-petabytes-of-data">How the Internet Archive Preserves Petabytes of Data</a></h4>
      <p>Anand Chitipothu and Noufal Ibrahim</p>
      <h4><a href="http://funnel.hasgeek.com/5el/423-glusterfs-big-data-interface">GlusterFS "Big Data" Interface</a></h4>
      <p>Venky Shankar (Sponsor Session)</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/350-approaches-to-ml-techniques-on-the-real-world-data">Approaches to ML Techniques on Real World Data</a></h4>
      <p>Venkata Ramana</p>
    </div>
    <div class="span3">

    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">5:00 – 5:30</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/372-build-your-own-search-engine">Build Your Own Search Engine</a></h4>
      <p>Siddhartha Reddy</p>
      <h4><a href="http://funnel.hasgeek.com/5el/393-building-the-infrastructure-to-handle-big-data">Building the Infrastructure to Handle Big Data</a></h4>
      <p>Prashant Kumar</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/269-finding-signal-in-the-noise-how-to-put-big-data-to-use">Finding Signal in the Noise: How to Put Big Data to Use</a></h4>
      <p>Goldee Udani</p>
    </div>
    <div class="span3">

    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">5:30 – 6:00</div>
    <div class="span10 keynote">Panel Discussion: Best Practices
    <p>Kalpana Krishnaswami, Prithvijit Roy, Joydeep Sen Sarma, Anand S., Rohit Chattar, Navjot Sidhu</p> 
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">6:00 - 6:15</div>
    <div class="span10 all-tracks">Feedback</div>
  </li>
</ul>


<h3>Industry and Business - 28 July</h3>
<h4>Venue: Nimhans Convention Centre</h4><br/>

<ul class="grid schedule container-fluid">
  <li class="row-fluid item">
    <div class="span2">8:15 – 9:15</div>
    <div class="span10 keynote">Registrations</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">9:15 – 9:30</div>
    <div class="span10 keynote">Introductions</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">9:30 – 10:15</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/5el/368-your-genome-on-the-cloud-big-data-challenges-in-personalized-medicine">Your Genome on the Cloud: Big Data Challenges in Personalized Medicine</a></h4>
      <p>Ramesh Hariharan (Keynote)</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">10:15 – 11:00</div>
    <div class="span10 keynote">
      <h4><a href="http://funnel.hasgeek.com/5el/413-building-watson-a-brief-overview-of-deepqa-and-the-jeopardy-challenge">Building Watson -- A Brief Overview of DeepQA and the Jeopardy! Challenge</a></h4>
      <p>Karthik Visweswariah (Keynote)</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">11:00 – 11:30</div>
    <div class="span10 all-tracks">Tea</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">11:30 – 12:15</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/370-exponential-growth-models-and-impact-on-sales-forecast-data-volume-query-latency-capacity-planning-and-search-latency">Exponential Growth Models and Impact on Sales Forecast,Data Volume, Query Latency, Capacity Planning and Search Latency</a></h4>
      <p>Ashok Banerjee (Hi-Tech)</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/374-data-explosion-in-medical-imaging">Data Explosion in Medical Imaging</a></h4>
      <p>Shourya Sarcar (Medicine)</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/407-rti-data-opportunities-issues-challenges">RTI and Data: Opportunities, Issues and Challenges</a></h4>
      <p>Nikhil Pahwa (Governance)</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">12:15 – 1:00</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/366-the-elephant-that-flew-big-data-analytics-inmobi">The Elephant that Flew - Big Data Analytics @ InMobi</a></h4>
      <p>Gaurav Agarwal (Hi-Tech)</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/409-open-data-and-the-life-sciences-an-open-world">Open data and the Life Sciences: An Open World</a></h4>
      <p>Kalpana Krishnaswami (Life Sciences)</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/417-aadhaar-worlds-largest-biometric-identity-platform-200-trillion-biometric-matches-per-day-2-pb-of-data">Aadhaar - World's Largest Biometric Identity Platform</a></h4>
      <p>Dr. Pramod Varma and Regunath Balasubramanian (Governance)</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">1:00 – 2:00</div>
    <div class="span10 all-tracks">Lunch</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">2:00 – 2:30</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/363-messaging-architecture-at-facebook">Messaging architecture at Facebook</a></h4>
      <p>Joydeep Sen Sarma (Hi-Tech)</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/383-analytics-platform-experience-and-evolution">Analytics Platform - Experience and Evolution</a></h4>
      <p>Prasad A N (Media)</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/295-the-art-of-nsso-data">the aRt of NSSO data</a></h4>
      <p>Riju (Governance)</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">2:30 – 3:00</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/359-real-time-intelligent-systems-big-data-streams">Real Time Intelligent Systems and Big Data Streams</a></h4>
      <p>Deepinder Dhingra (Hi-Tech)</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/389-the-data-journalism-handbook">The Data Journalism Handbook</a></h4>
      <p>Lucy Chambers (Media)</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/361-how-your-favorite-retailers-make-money-from-analytics">How your favorite retailers make money from analytics?</a></h4>
      <p>Sridhar Bollam (Retail)</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">3:00 – 3:30</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/385-recommendation-play-flipkart">Recommendation Play @Flipkart</a></h4>
      <p>Gaurav Bhalotia, Pavan Srinivas, Renuka Khandelwal (Hi-Tech)</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/415-social-media-text-analytics-using-open-source-tools">Social Media and Text Analytics using Open Source Tools</a></h4>
      <p>Randhir Hebbar and Sanjeev (Media)</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/348-targeting-the-moment-of-truth-using-big-data-in-retail">Targeting the Moment of Truth: Using Big Data in Retail</a></h4>
      <p>Amit Kapoor (Retail)</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">3:30 – 4:00</div>
    <div class="span10 all-tracks">Tea</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">4:00 – 4:30</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/378-application-of-data-analytics-in-small-medium-enterprise-planning">Application of Data analytics in Small/Medium Enterprise Planning</a></h4>
      <p>Arvind Saraf (Hi-Tech)</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/328-structuring-data-from-surveys-a-case-study-from-a-slum-survey-conducted-in-2010">Structuring Data from Surveys - A Case Study from a Slum Survey conducted in 2010</a></h4>
      <p>Aditi Murthy (Misc, Surveys)</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/347-from-data-to-action-in-retail-banking">From Data to Action (in Retail Banking)</a></h4>
      <p>Anannya Deb (Finance)</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">4:30 – 5:00</div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/411-towards-social-semantic-tools">Towards Social Semantic Tools</a></h4>
      <p>Arvind K (Hi-Tech)</p>
    </div>
    <div class="span4">
      <h4><a href="http://funnel.hasgeek.com/5el/397-analytics-is-a-magic-wand-for-hr-professionals">Analytics is a Magic Wand for HR professionals</a></h4>
      <p>Karthikeyan Damodaran (Misc, HR)</p>
    </div>
    <div class="span3">
      <h4><a href="http://funnel.hasgeek.com/5el/290-financial-market-and-economic-data">Financial Market and Economic Data</a></h4>
      <p>Deepak Shenoy (Finance)</p>
    </div>
  </li>
  <li class="row-fluid item">
    <div class="span2">5:00 – 5:30</div>
    <div class="span10 keynote">Closing</div>
  </li>
  <li class="row-fluid item">
    <div class="span2">5:30 - 6:00</div>
    <div class="span10 all-tracks">Feedback</div>
  </li>
</ul>
