<section id="sponsors" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="left">Sponsors</h2>
    </div>
    <div class="row">
      <article class="sponsor-platinum sponsor span6">
        <p class="logo"><a data-toggle="modal" href="#sponsor-redhat"><img alt="Red Hat" src="{{ theme_static('img/2012/sponsors/sponsor-redhat.png') }}"></a></p>
      </article>
      <article class="open empty sponsor-platinum sponsor span6">
        <p class="logo"></p>
      </article>

      
      <article class="sponsor-gold sponsor span3">
        <p class="logo"><a data-toggle="modal" href="#sponsor-splunk"><img alt="Splunk" src="{{ theme_static('img/2012/sponsors/sponsor-splunk.png') }}"></a></p>
      </article>
      <article class="open empty sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>


      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-flipkart"><img alt="Flipkart" src="{{ theme_static('img/2012/sponsors/sponsor-flipkart.png') }}"></a></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-strand"><img alt="Strand Life Sciences" src="{{ theme_static('img/2012/sponsors/sponsor-strand.png') }}"></a></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-google"><img alt="Google" src="{{ theme_static('img/2012/sponsors/sponsor-google.png') }}"></a></p>
      </article>
      <article class="sponsor-silver sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-ibm"><img alt="IBM in India" src="{{ theme_static('img/2012/sponsors/sponsor-ibm.png') }}"></a></p>
      </article>
      <article class="open empty sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      

      <article class="sponsor-bronze sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-thoughtworks"><img alt="ThoughtWorks" src="{{ theme_static('img/2012/sponsors/sponsor-thoughtworks.png') }}"></a></p>
      </article>
      <article class="sponsor-bronze sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-neo4j"><img alt="Neo4j" src="{{ theme_static('img/2012/sponsors/sponsor-neo4j.png') }}"></a></p>
      </article>
      <article class="sponsor-bronze sponsor span2">
        <p class="logo"><a data-toggle="modal" href="#sponsor-enthought"><img alt="Enthought" src="{{ theme_static('img/2012/sponsors/sponsor-enthought.png') }}"></a></p>
      </article>
      <article class="open empty sponsor-bronze sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-bronze sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-bronze sponsor span2">
        <p class="logo"></p>
      </article>

      
      <article class="open sponsor-community sponsor span2">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/90x50/FFFFFF/444&amp;text=You%3f"></p>
      </article>
      <article class="open empty sponsor-community sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-community sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-community sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-community sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-community sponsor span2">
        <p class="logo"></p>
      </article>      
      
      <div class="modal fade sponsor-box" id="sponsor-redhat">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Red Hat</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-redhat').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.redhat.com/" class="btn btn-primary sponsor-exit">Visit Red Hat</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>

      <div class="modal fade sponsor-box" id="sponsor-splunk">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Splunk</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-splunk').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.splunk.com/company" class="btn btn-primary sponsor-exit">Visit Splunk</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>

      <div class="modal fade sponsor-box" id="sponsor-flipkart">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Flipkart</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-flipkart').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.flipkart.com" class="btn btn-primary sponsor-exit">Visit Flipkart</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
      
      <div class="modal fade sponsor-box" id="sponsor-strand">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Strand Life Sciences</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-strand').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.strandls.com" class="btn btn-primary sponsor-exit">Visit Strand Life Sciences</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
      
      <div class="modal fade sponsor-box" id="sponsor-google">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Google</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-google').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.google.co.in/about/company/products/" class="btn btn-primary sponsor-exit">Visit Google</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>      

      <div class="modal fade sponsor-box" id="sponsor-thoughtworks">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>ThoughtWorks</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-thoughtworks').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.thoughtworks.com/" class="btn btn-primary sponsor-exit">Visit ThoughtWorks</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>            

      <div class="modal fade sponsor-box" id="sponsor-neo4j">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Neo4j</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-neo4j').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.neo4j.org/" class="btn btn-primary sponsor-exit">Visit Neo4j</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>

      <div class="modal fade sponsor-box" id="sponsor-ibm">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>IBM in India</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-ibm').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.ibm.com/in/en/" class="btn btn-primary sponsor-exit">Visit IBM</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>

      <div class="modal fade sponsor-box" id="sponsor-enthought">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3>Enthought</h3>
        </div>
        <div class="modal-body">
          {{ fragment('2012', 'sponsor-enthought').content }}
        </div>
        <div class="modal-footer">
          <a href="http://www.enthought.com/" class="btn btn-primary sponsor-exit">Visit Enthought</a>
          <a data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
      
      </div><!-- /row -->
  </div><!-- /container -->
</section><!-- /sponsors -->
