<section id="sponsors" class="section">
  <div class="container">
    <h2>Sponsors</h2>
    <div class="row">
      <article class="open sponsor-platinum sponsor span6">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/430x200/E3E3E3/666&amp;text=Your+Logo+Here"></p>
      </article>
      <article class="open empty sponsor-platinum sponsor span6">
        <p class="logo"></p>
      </article>

      
      <article class="open sponsor-gold sponsor span3">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/192x150/E3E3E3/666&amp;text=Your+Logo"></p>
      </article>
      <article class="open empty sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-gold sponsor span3">
        <p class="logo"></p>
      </article>


      <article class="open sponsor-silver sponsor span2">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/90x100/E3E3E3/666&amp;text=You"></p>
      </article>
      <article class="open empty sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-silver sponsor span2">
        <p class="logo"></p>
      </article>
      

      <article class="open sponsor-bronze sponsor span2">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/90x100/E3E3E3/666&amp;text=You"></p>
      </article>
      <article class="open empty sponsor-bronze sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-bronze sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-bronze sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-bronze sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-bronze sponsor span2">
        <p class="logo"></p>
      </article>

      
      <article class="open sponsor-community sponsor span2">
        <p class="logo"><img alt="Become a Sponsor" src="http://placehold.it/90x50/E3E3E3/666&amp;text=You"></p>
      </article>
      <article class="open empty sponsor-community sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-community sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-community sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-community sponsor span2">
        <p class="logo"></p>
      </article>
      <article class="open empty sponsor-community sponsor span2">
        <p class="logo"></p>
      </article>      
    </div><!-- /row -->
    <hr class="divider">
  </div><!-- /container -->
</section><!-- /sponsors -->
